<div class="container">
    <div data-template="department">
        <div class="department">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                        <h1>Safety & Air Transport</h1>
                        <hr/>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="fa fa-globe"></i>
                            </div>
                            <div class="box-status" ng-click="changeActive()">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                            </div>
                            <div class="box-title">Services</div>
                            <div class="box-content">
                                <a class="box-highlight grey hl" href="#">
                                    Important Information Circular
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    GACA Notices
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Important Information Circular
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Conflict Zone Information
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    OERK Information
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-8">
                    <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                        <div class="box-header">
                            <div class="box-icon">
                                <!--<i class="fa fa-globe"></i>-->
                            </div>
                            <div class="box-status" ng-click="changeActive()">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                            </div>
                            <div class="box-title">About Safety & Air Transport</div>
                            <div class="box-content">

                                <div class="box-highlight yellow">
                                    <h2>Intro</h2>

                                    <p>
                                        Safety and Economic Regulation (S&ER) as a Sector of the General Authority of Civil Aviation (GACA), is the sole Regulator and Auditor of the aviation industry in Saudi Arabia. The S&ER has the authority to register civil aircrafts and certify domestic and international airlines, repair station and schools that wish to operate in/from the Kingdom of Saudi Arabia.
                                    </p>
                                </div>
                                <div class="box-highlight grey">
                                    <h2>Mission</h2>

                                    <p>
                                        Safety and Economic Regulation (S&ER) as a Sector of the General Authority of Civil Aviation (GACA), is the sole Regulator and Auditor of the aviation industry in Saudi Arabia. The S&ER has the authority to register civil aircrafts and certify domestic and international airlines, repair station and schools that wish to operate in/from the Kingdom of Saudi Arabia.
                                    </p>
                                </div>
                                <div class="box-highlight blue">
                                    <h2>Vision</h2>

                                    <p>
                                        Safety and Economic Regulation (S&ER) as a Sector of the General Authority of Civil Aviation (GACA), is the sole Regulator and Auditor of the aviation industry in Saudi Arabia. The S&ER has the authority to register civil aircrafts and certify domestic and international airlines, repair station and schools that wish to operate in/from the Kingdom of Saudi Arabia.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                        <div class="box-header">
                            <div class="box-icon">
                                <!--<i class="fa fa-globe"></i>-->
                            </div>
                            <div class="box-status" ng-click="changeActive()">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                            </div>
                            <div class="box-title">Duties & Responsibility</div>
                            <div class="box-content">
                                <p>
                                    The S&ER implements auditing for all domestic and international airlines, repair stations and schools, which operate in/from the Kingdom of Saudi Arabia, in order to ensure that they maintain their operating standards in accordance with the national, international regulations, best industry practices and so as to insure the highest quality and reliability standards and safety in the K.S.A. aviation industry are maintained.
                                </p>
                                <p>
                                    The S&ER investigates every civil aviation accident in the K.S.A. and issues safety recommendations aimed at preventing future accidents by determining the probable cause. The S&ER is also responsible for maintaining the government's database of civil aviation accidents and also conducts special studies of aviation safety issues of national significance.
                                </p>
                                <p>
                                    The S&ER provides investigations to serve as K.S.A. accredited representatives as specified in international treaties for accidents outside the Kingdom involving Saudi-registered aircraft. The S&ER is also responsible for airport certification and for the implementation and monitoring of Air Navigation Systems safety.
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>