<script type="text/ng-template" id="search-flight-box-item.html">
    <div class="box-content">
        <div class="search-flight-box clearfix">

            <div class="in block">
                <select ng-options="airport.name for airport in search.getAirports()"
                        ng-model="airport"
                        ng-change="search.changeSelect(airport)"
                        ng-hide="search.lang == 'ar_SA'"
                >
                    <option value="" selected="selected">{{search.stringChoose}}</option>
                </select>

                <select ng-options="airport.arabicName for airport in search.getAirports()"
                        ng-model="airport"
                        ng-change="search.changeSelect(airport)"
                        ng-show="search.lang == 'ar_SA'"
                >
                    <option value="" selected="selected">{{search.stringChoose}}</option>
                </select>

                <span class="in-btn">
                    <i class="fa fa-caret-down"></i>
                </span>
            </div>

            <div class="in block">
                <div class="row">
                    <div class="col-xs-8">
                        <input type="search" placeholder="{{search.stringFlightNo}}" ng-model="search.getQuery().flight">
                    </div>
                    <div class="col-xs-4">
                        <div class="gaca-btn" style="width: 100%" ng-click="search.externalSearch($event)">{{search.stringSearch}}</div>
                    </div>
                </div>
            </div>


            <div class="row" ng-show="airport.weather">
                <hr style="margin-bottom: 10px;">
                <!--{{search.getQuery()}}-->
                <!--<div class="col-xs-12" style="text-transform: capitalize">-->
                    <!--<div class="weather-title">-->
                        <!--Weather at {{airport.name}}-->
                    <!--</div>-->
                <!--</div>-->
                <div class="col-xs-4">
                    <div class="weather-desc">{{airport.weather.weather[0].description}}</div>
                </div>
                <div class="col-xs-4">
                    <div class="weather-temp">
                        {{search.calcTemp(airport.weather.main.temp)}}<span>°C</span>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="weather-icon">
                        <img ng-src="http://openweathermap.org/img/w/{{airport.weather.weather[0].icon}}.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>