<script type="text/ng-template" id="facilities-item.html">

    <div class="facilities">
        <div class="content-image" ng-show="facilities.image" style="background-image:url('{{facilities.image}}')"></div>
        <div class="content-area" ng-bind-html="facilities.getDescription()"></div>

        <div class="hide"ng-transclude></div>

        <div class="content-list">
            <div class="list-item clearfix" ng-repeat="facility in facilities.getFacilities()">
                <div class="item-image" style="background-image:url('{{facility.image}}')"></div>
                <a class="item-link" ng-hide="!facility.number" href="tel:{{facility.number}}"><i class="fa fa-phone"></i></a>
                <div class="item-text" ng-class="{'no-number':!facility.number}">
                    <div class="text-header">
                        <div ng-if="facility.link != ''">
                            <a href="{{facility.link}}" target="_blank">{{facility.header}}</a>
                            <div class="other-item">{{facility.number}}</div>
                        </div>
                        <div ng-if="facility.link == ''">
                            {{facility.header}}
                            <div class="other-item">{{facility.number}}</div>
                        </div>
                    </div>
                    <div class="text-description">{{facility.description}}</div>
                </div>
            </div>
        </div>

    </div>
</script>