<div data-template="menu" ng-controller="MenuCtrl">
    <div class="menu">
        <div class="header-close"><i class="fa fa-times"></i></div>
        
        <div class="menu-items">
            <a href="#" class="menu-item">ABOUT GACA</a>
            <a href="#" class="menu-item">DEPARTMENTS</a>
            <a href="#" class="menu-item">E-SERVICES</a>
            <a href="#" class="menu-item">OCURRANCY REPORTING</a>
            <a href="#" class="menu-item">GUIDANCE</a>
            <a href="#" class="menu-item">LAWS</a>
            <a href="#" class="menu-item">REGULATION</a>
        </div>
    </div>

    <div class="menu-overlay"></div>
</div>

<div class="content-area" style="min-width: 100vw; position:relative;">