$light-grey : #e7e7f0;
$light-grey : #f7f7f7;
$lightish-grey : #eeeeee;
$dark-grey : #333;
$grey : #666;
$prim-light : #508bea;
$prim-dark : #456bb1;

$prim-light : rgb(44, 128, 192);
$prim-dark : rgb(36, 61, 127);

$secon-light : #FFDA46;
$secon-dark : #BD9A04;