[data-template="e-service"] {
  .e-service {
    background: rgb(197, 206, 211);
    padding: 45px 10px 1px;
    min-height: 80vh;

    @media (max-width: 991px) {
      padding-top:15px;
    }

    color: white;

    @media (max-width: 767px) {
      padding-top: 30px;
    }
  }

  .e-popup {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: none;
    overflow: auto;
    z-index: 200;

    .popup-overlay {
      background: rgba(0,0,0,0.2);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      z-index: 200;
    }

    .popup-block {
      position: relative;
      margin-top:20%;
      background: white;
      border-radius: 4px;

      padding: 30px;
      margin-bottom: 30px;
      z-index: 201;

    }
  }
}