<div data-template="airport">
    <div class="content-banner" style="background-image: url('https://www.middleeastmonitor.com/images/article_images/logos/libyan-airlines.jpg')">
    </div>

    <div class="container">
        <div class="content">
            <div class="row">

                <div class="col-sm-8">
                    <div class="box box-white clearfix ng-scope rtl" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                        <h1>King Fahd International Airport IATA: DMM - OACI: OEDF</h1>
                        <hr>
                        <div>
                            Located near the coast of the Arabian Gulf, King Fahad International Airport is the Kingdom’s eastern gateway.<br>
                            The airport serves Saudi Arabia’s Eastern Region, which is home to more than 4.5 million people, as well as numerous major international corporations, on top of which is Saudi Aramco. The region is also home to several industrial zones, which are major engines of the Kingdom’s advancement, economic growth and competition with industrialized nations, not to mention improving the Kingdom’s national income.<br>
                            With a design that combines modern shapes with Islamic overtones, construction of the airport began in 1983. Officially opened for operations in 1999, the airport is considered the world’s largest by land area, with a whopping 776 square kilometers of land within its zone. Its facilities cover 43 square kilometers, or 5.6% of its total area.<br>
                            Situated among all built-up areas (cities) in the region, the airport can be easily accessed through a network of modern roads that lead directly to its northern and southern entrances. Its location was selected according to the best international standards, including those that stipulate obstacle-free navigation, noise levels, environmental standards, and adequate room for expansion. The airport’s runways were configured to be in line with the area’s prevailing winds, as per the global standards of the International Civil Aviation Organization.
                        </div>
                        <h2>
                            &nbsp;</h2>
                        <h2>
                            Objectives, Mission, Vision&nbsp;&nbsp; &nbsp;</h2>
                        <h3>
                            Objectives</h3>
                        <ul>
                            <li>
                                Excellence in technical expertise and knowhow.
                            </li>
                            <li>
                                Working towards satisfaction and amicable relationships with all.
                            </li>
                            <li>
                                Innovation and initiative.
                            </li>
                            <li>
                                Accountability and commitment.
                            </li>
                        </ul>
                        <div>
                            <br>
                            On top of being one of the Kingdom’s major airports, King Fahad International Airport is the Kingdom’s eastern gateway and a vital economic contributor to the development of the Saudi civil aviation sector. Just like all of the Kingdom’s airports, the airport is a top priority for officials at the General Authority for Civil Aviation, with full-fledged, fully detailed strategic plans to develop its operations to bring them up to international standards for the operation of international airports. These include:
                        </div>
                        <ul>
                            <li>
                                Improving operational services, facilities and infrastructure.
                            </li>
                            <li>
                                Operating the airport on a commercial basis so as to achieve financial adequacy and, subsequently, convert it into an independent strategic business unit (corporation,) ensuring its ability to compete with neighboring international airports through developing and improving its air traffic and business activities, and increasing partnerships with the private sector in managing its operations and services.
                            </li>
                            <li>
                                The airport’s general plan has been updated to reflect its development plans up to the year 2038.
                            </li>
                            <li>
                                Total commitment to national and international security and safety standards so as to ensure the highest possible levels of air security.
                            </li>
                            <li>
                                Raising the levels of environmental protection and implementing international standards and procedures in that regard.
                            </li>
                            <li>
                                The best possible investment in human assets, which includes improving working environments, promoting job satisfaction, training and honing the skills of the members of staff, and opening up job opportunities to contribute to the local community.
                            </li>
                            <li>
                                Bringing codes and procedures of operating international airports on a commercial basis up to international levels.
                            </li>
                            <li>
                                Providing licensing to the upcoming SaudiGulf Airlines so as to have the airport become its main base of operations.
                            </li>
                            <li>
                                Bolstering communication programs with the local community by sponsoring and executing social events that reflect modern trends in the operation of international airports, and developing the concepts pertaining to the airport’s role in community service.
                            </li>
                            <li>
                                Giving special attention to the quality of services offered at the airport, boosting the satisfaction of customers by meeting their needs and wants, and enhancing the airport’s ability to compete with neighboring airports.
                            </li>
                        </ul>
                        <h3>
                            Mission</h3>
                        <div>
                            To offer quality services through:
                        </div>
                        <ul>
                            <li>
                                Continued development of our capabilities and procedures.
                            </li>
                            <li>
                                Cooperation and coordination with our working and business partners at the airport.
                            </li>
                            <li>
                                Genuine concern for our most valuable asset: manpower.
                            </li>
                            <li>
                                Interaction and cooperation with the community and caring for the environment.
                            </li>
                            <li>
                                Operating on a commercial basis to achieve financial independence.
                            </li>
                        </ul>
                        <h3>
                            Vision</h3>
                        <div>
                            To be among the world’s airports of choice.
                        </div>
                        <h2>
                            &nbsp;</h2>
                        <h2>
                            Departments&nbsp;&nbsp; &nbsp;</h2>
                        <ul>
                            <li>
                                Business Development Department
                            </li>
                            <li>
                                Air traffic development department
                            </li>
                            <li>
                                Operations and Fire Services Department
                            </li>
                            <li>
                                Department of Maintenance and Engineering
                            </li>
                            <li>
                                Department of Human Resources and Administrative Affairs
                            </li>
                            <li>
                                Department of Financial Affairs
                            </li>
                            <li>
                                Department of Strategic Planning
                            </li>
                            <li>
                                Public Relations and Communication
                            </li>
                            <li>
                                Internal Auditing Department
                            </li>
                        </ul>
                        <h2>
                            Services.&nbsp;&nbsp; &nbsp;</h2>
                        <h3>
                            &nbsp;</h3>
                        <h3>
                            Terminal<br>
                            The terminal’s six floors are laid out as follows:</h3>
                        <ul>
                            <li>
                                First floor: Service Floor 1.
                            </li>
                            <li>
                                Second floor: Service Floor 2.
                            </li>
                            <li>
                                Third floor (ground level): Arrivals.
                            </li>
                            <li>
                                Fourth floor: Boarding.
                            </li>
                            <li>
                                Fifth floor: departures.
                            </li>
                            <li>
                                Sixth floor: Terrace/Observation Deck (also includes management offices.)
                            </li>
                            <li>
                                Parking areas include 4,930 vehicle parking spaces.
                            </li>
                            <li>
                                Currently, 60% of the terminal’s total area is in use, at a capacity of eight million travelers per year. Work is being done to utilize the remainder for the terminal’s full area to be in use by 2019, bringing capacity up to some 12 million travelers per year.
                            </li>
                            <li>
                                The total area of the terminal is 327,000 square meters (3.52 million square feet,) of which 247,500 sq ms (2.66 million sq ft.) had been built in the first stage.
                            </li>
                            <li>
                                The terminal has 11 fixed boarding bridges with a capacity for 15 gates.
                            </li>
                            <li>
                                The terminal is equipped with many counters to cover the various stages of the traveling process:
                                <ul>
                                    <li>
                                        &nbsp;&nbsp; 66 counters on the Departure floor to handle traveler registration.
                                    </li>
                                    <li>
                                        &nbsp;&nbsp; Seven counters on the Boarding floor to process boarding passes.
                                    </li>
                                    <li>
                                        &nbsp;&nbsp; Five counters on the Arrivals floor to handle arrivals for Hajj (Pilgrimage.)
                                    </li>
                                    <li>
                                        &nbsp;&nbsp; 14 counters for passport processing on the Departures floor, including two E-Gates.
                                    </li>
                                    <li>
                                        &nbsp;&nbsp; 18 counters for passport processing on the Boarding floor, including two E-Gates.
                                    </li>
                                    <li>
                                        &nbsp;&nbsp; Eight counters to process customs at the international arrivals section&nbsp; of the Arrivals floor.
                                    </li>
                                </ul>
                            </li>
                            <li>
                                There are many restaurants, cafes, and shops that provide a bevy of purchasing choices for clients and cater to their every comfort and entertainment need.
                            </li>
                            <li>
                                Wi-Fi Internet coverage is available at every one of the airport’s facilities free of charge, helping patrons fill out their waiting time.
                            </li>
                            <li>
                                There are 1,750 luggage trollies available throughout the terminal.
                            </li>
                        </ul>
                        <h3>
                            <br>
                            Air Freight Building</h3>
                        <ul>
                            <li>
                                The airport contains a two-story air freight building with a total area of 39,500 sq ms (425,000 sq ft) and a capacity of 94,000 metric tons of cargo.
                            </li>
                        </ul>
                        <h3>
                            <br>
                            Catering (Food Services) building</h3>
                        <ul>
                            <li>
                                The 17,287-sq m (186,000-sq ft) catering building is equipped with the latest world-class health food equipment.
                            </li>
                            <li>
                                The daily production rate averages some 8,000 meals for aircraft, 1,000 meals for staff, and 300 meals for the Royal Lounge’s restaurant.
                            </li>
                        </ul>
                        <h3>
                            <br>
                            Royal Lounge</h3>
                        <ul>
                            <li>
                                Used for receiving royal and state guests, the lounge is outfitted with luxury furniture and artwork.
                            </li>
                            <li>
                                Total built area of 16,400 sq ms (176,500 sq ft.)
                            </li>
                            <li>
                                Interconnected with the terminal and aircraft through four bridges.
                            </li>
                        </ul>
                        <h3>
                            <br>
                            Operational facilities</h3>
                        <div>
                            &nbsp;</div>
                        <div>
                            The airport has three operational facilities:
                        </div>
                        <ul>
                            <li>
                                Central power station.
                            </li>
                            <li>
                                Central water desalination station.
                            </li>
                            <li>
                                Central wastewater processing station.
                            </li>
                        </ul>
                        <h3>
                            <br>
                            Fire and rescue facilities</h3>
                        <ul>
                            <li>
                                The airport has a 24/7 fire station equipped with the latest equipment and vehicles, as well as an emergency rescue and ambulance unit.
                            </li>
                        </ul>
                        <h3>
                            <br>
                            Arboretum and landscaping</h3>
                        <ul>
                            <li>
                                The airport’s 215,579-sq m (2.32-million sq ft) arboretum includes three greenhouses and 36,400 sq ms (392,000 sq ft) of green lawns.
                            </li>
                            <li>
                                The arboretum provides flora to the airport’s gardens and green areas.
                            </li>
                        </ul>
                        <h3>
                            <br>
                            Mosque</h3>
                        <ul>
                            <li>
                                The mosque is built within a 46,200-sq m (497,000-sq ft.) garden.
                            </li>
                            <li>
                                2,000-person capacity.
                            </li>
                            <li>
                                Designed in a style that combines modern shapes with Islamic overtones; easily accessible from the terminal.
                            </li>
                        </ul>
                        <h3>
                            Fueling facility</h3>
                        <ul>
                            <li>
                                The facility has six tanks of 40,000 barrels each.
                            </li>
                            <li>
                                The tanks run through a single-point dispensary system of 88 outlets.
                            </li>
                            <li>
                                The building houses an elaborate fuel piping network
                            </li>
                            <li>
                                There is a fleet of tanker trucks to facilitate the refueling of aircraft.
                            </li>
                        </ul>
                        <h3>
                            &nbsp;</h3>
                        <h3>
                            Control Tower</h3>
                        <ul>
                            <li>
                                The airport’s control tower is 85.5 meters (280 feet) tall.
                            </li>
                            <li>
                                Equipped with the latest navigational and radar hardware.
                            </li>
                            <li>
                                Controls the airport’s two runways, each of which is four kilometers (2.5 miles) long.
                            </li>
                        </ul>
                        <h3>
                            Duties and responsibilities&nbsp;&nbsp; &nbsp;</h3>
                        <ul>
                            <li>
                                Grow revenues, minimize operational and investment costs, and maintain financial adequacy.
                            </li>
                            <li>
                                Secure adequate capital and current funds for non-commercial activities.
                            </li>
                            <li>
                                Develop the air freight market.
                            </li>
                            <li>
                                Develop codes and improve procedures.
                            </li>
                            <li>
                                Enhance partnership with the private sector.
                            </li>
                            <li>
                                Enhance services and commercial activities.
                            </li>
                            <li>
                                Achieve world-class quality standards.
                            </li>
                            <li>
                                Enhance operational services and facilities.
                            </li>
                            <li>
                                Develop infrastructure, facilities and hardware.
                            </li>
                            <li>
                                Uphold a safe working environment.
                            </li>
                            <li>
                                Achieve the absolute highest levels of air security.
                            </li>
                            <li>
                                Invest in manpower in the best possible way.
                            </li>
                            <li>
                                Meet national and international environmental standards.
                            </li>
                            <li>
                                Become an independent entity capable of maximizing its own revenues and minimizing its investment and operational costs.
                            </li>
                        </ul>

                        <br>

                        <h2>Airport Information</h2>
                        <ul>
                            <li>
                                Operating Company: Government
                            </li>
                            <li>
                                Passenger Handling Capacity:&nbsp; 247,500
                            </li>
                            <li>
                                Total Built-Up Area: &nbsp;&nbsp; 761 sqkm
                            </li>
                        </ul>

                        <br>

                        <h2>Airport Facilities</h2>

                        <tabs-item>
                            <div class="gaca-tabs-content" tab-content="Shopping">
                                <facilities-item
                                        image=""
                                        description="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. <br> hi"
                                >
                                    <facility-item
                                            image="https://unsplash.it/100/100/?random&124d55"
                                            header="Fashion Shop"
                                            description="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. A"
                                            number=""
                                    ></facility-item>
                                    <facility-item
                                            image="https://unsplash.it/100/100/?random&124dee55"
                                            header="Department Store"
                                            description="Some other text"
                                            number="+12314214078123"
                                    ></facility-item>
                                </facilities-item>
                            </div>

                            <div class="gaca-tabs-content" tab-content="Food">
                                <facilities-item
                                        image="https://unsplash.it/800/500/?random&1245544"
                                        description="phone"
                                >

                                    <facility-item
                                            image="https://unsplash.it/100/100/?random&124d55"
                                            header="Restaurant"
                                            description="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. A"
                                            number="+12314214078123"
                                    ></facility-item>
                                    <facility-item
                                            image="https://unsplash.it/100/100/?random&124dee55"
                                            header="Coffee Shop"
                                            description="Some other text"
                                            number="+12314214078123"
                                    ></facility-item>
                                </facilities-item>
                            </div>
                        </tabs-item>

                        <br>

                        <h2>Parking Information</h2>

                        <br>

                        <h2>Contact Details</h2>

                        <br>
                    </div>
                </div>

                <div class="col-sm-4">

                    <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="fa fa-image"></i>
                            </div>
                            <div class="box-status" ng-click="changeActive()">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                            </div>
                            <div class="box-title">Related Images</div>
                            <div class="box-content">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a class="box-highlight grey hl hl-none" href="#">
                                            <p>
                                                <span class="gallery-image" style="background-image: url('http://www.arabnews.com/sites/default/files/imagecache/galleryformatter_slide/2014/10/24/Jeddah%20airport%20-%20Saudi%20Airlines.jpg')"></span>
                                            </p>
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                        </a>
                                    </div>
                                    <div class="col-sm-12">
                                        <a class="box-highlight grey hl hl-none" href="#">
                                            <p>
                                                <span class="gallery-image" style="background-image: url('http://www.arabnews.com/sites/default/files/imagecache/galleryformatter_slide/2015/06/15/file-15-1434397434643590600.jpg')"></span>
                                            </p>
                                            Aenean massa.
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="fa fa-newspaper-o"></i>
                            </div>
                            <div class="box-status" ng-click="changeActive()">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                            </div>
                            <div class="box-title">Related Articles</div>
                            <div class="box-content">
                                <a class="box-highlight grey hl" href="#">
                                    <p>
                                        <span class="gallery-image" style="height:150px;background-image: url('https://www.venturesonsite.com/news/wp-content/uploads/2015/01/Abha-Airport-Roundabout.jpg')"></span>
                                    </p>
                                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                                </a>

                                <a class="box-highlight grey hl" href="#">
                                    KFIA is on track to welcome more than 9 million passengers this year
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Al-Hamdan Leads a High-Level Delegation to the 3rd Meeting of the Directors General of Civil Aviation in the Middle East
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Signing two contracts for the first phase of development of King Abdulaziz International Airport (KAIA)
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    In creating a new work environment and to cope with the transformation program, the General Authority of Civil Aviation
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    King Khalid International Airport, survey the travelling public about services rendered in order to improve them.
                                </a>

                            </div>
                        </div>
                    </div>

                </div>


            </div>

        </div>
    </div>
</div>