<div class="container">
    <div class="standard-page">

        <div class="row">
            <div class="col-sm-6">
                <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                    <h1>Laws and Regulations</h1>
                    <hr/>

                    <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular.</p>

                    <p>Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</p>
                </div>

                <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                    <div class="box-header">
                        <div class="box-icon">
                            <i class="fa fa-newspaper-o"></i>
                        </div>
                        <div class="box-status" ng-click="changeActive()">
                            <i class="fa fa-plus"></i>
                            <i class="fa fa-minus"></i>
                        </div>
                        <div class="box-title">Top News</div>
                        <div class="box-content">
                            <a class="box-highlight grey hl" href="#">
                                KFIA is on track to welcome more than 9 million passengers this year
                            </a>
                            <a class="box-highlight grey hl" href="#">
                                Al-Hamdan Leads a High-Level Delegation to the 3rd Meeting of the Directors General of Civil Aviation in the Middle East
                            </a>
                            <a class="box-highlight grey hl" href="#">
                                Signing two contracts for the first phase of development of King Abdulaziz International Airport (KAIA)
                            </a>
                            <a class="box-highlight grey hl" href="#">
                                In creating a new work environment and to cope with the transformation program, the General Authority of Civil Aviation
                            </a>
                            <a class="box-highlight grey hl" href="#">
                                King Khalid International Airport, survey the travelling public about services rendered in order to improve them.
                            </a>

                            <hr/>
                            <div class="gaca-btn">More...</div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                    <h1>Laws and Regulations</h1>
                    <hr/>

                    <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular.</p>

                    <p>Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</p>
                </div>

                <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                    <div class="box-header">
                        <div class="box-icon">
                            <i class="fa fa-newspaper-o"></i>
                        </div>
                        <div class="box-status" ng-click="changeActive()">
                            <i class="fa fa-plus"></i>
                            <i class="fa fa-minus"></i>
                        </div>
                        <div class="box-title">Top News</div>
                        <div class="box-content">
                            <a class="box-highlight grey hl" href="#">
                                KFIA is on track to welcome more than 9 million passengers this year
                            </a>
                            <a class="box-highlight grey hl" href="#">
                                Al-Hamdan Leads a High-Level Delegation to the 3rd Meeting of the Directors General of Civil Aviation in the Middle East
                            </a>
                            <a class="box-highlight grey hl" href="#">
                                Signing two contracts for the first phase of development of King Abdulaziz International Airport (KAIA)
                            </a>
                            <a class="box-highlight grey hl" href="#">
                                In creating a new work environment and to cope with the transformation program, the General Authority of Civil Aviation
                            </a>
                            <a class="box-highlight grey hl" href="#">
                                King Khalid International Airport, survey the travelling public about services rendered in order to improve them.
                            </a>

                            <hr/>
                            <div class="gaca-btn">More...</div>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
