<div data-main>

    <div class="container">
        <div data-template="home-boxes">
            <div class="home-boxes">
                <div class="row">
                    <div class="col-sm-4">
                        <box-item class="hide" header="Frequent Questions" active="false" style-class="" icon="question">
                            <div class="box-content">
                                <div class="box-questions">
                                    <div class="box-question" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}" ng-init="data.active=false">
                                        <div class="question-title" ng-click="changeActive()">
                                            <div class="question-status">
                                                <i class="fa fa-angle-down"></i>
                                                <i class="fa fa-angle-right"></i>
                                            </div>
                                            What are the manditory requirements for pilot flights to Saudi Arabia?
                                        </div>

                                        <div class="question-content">
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>

                                            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                                            <div>
                                                <a href="#"><strong><i class="fa fa-download"></i> &nbsp; Download PDF</strong></a>
                                            </div>
                                            <div>
                                                <a href="#"><strong><i class="fa fa-external-link"></i> &nbsp; Links</strong></a>
                                            </div>
                                            <div style="text-align: right">
                                                <span class="gaca-btn">Read More...</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-question" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}" ng-init="data.active=false">
                                        <div class="question-title" ng-click="changeActive()">
                                            <div class="question-status">
                                                <i class="fa fa-angle-down"></i>
                                                <i class="fa fa-angle-right"></i>
                                            </div>
                                            I’m a pilot, how do I apply for duis dolore te feugaitliber KSA esit soluta nobis eleifend?
                                        </div>

                                        <div class="question-content">
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>

                                            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                                            <div>
                                                <a href="#"><strong><i class="fa fa-download"></i> &nbsp; Download PDF</strong></a>
                                            </div>
                                            <div>
                                                <a href="#"><strong><i class="fa fa-external-link"></i> &nbsp; Links</strong></a>
                                            </div>

                                            <div style="text-align: right">
                                                <a class="gaca-btn">Read More...</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-question" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}" ng-init="data.active=false">
                                        <div class="question-title" ng-click="changeActive()">
                                            <div class="question-status">
                                                <i class="fa fa-angle-down"></i>
                                                <i class="fa fa-angle-right"></i>
                                            </div>
                                            What kind of pilot licence duis dolore te feugait liber tempor cum soluta nobis?
                                        </div>

                                        <div class="question-content">
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>

                                            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                                            <a href="#"><strong><i class="fa fa-angle-right"></i> &nbsp; Download PDF</strong></a>
                                        </div>
                                    </div>
                                    <div class="box-question" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}" ng-init="data.active=false">
                                        <div class="question-title" ng-click="changeActive()">
                                            <div class="question-status">
                                                <i class="fa fa-angle-down"></i>
                                                <i class="fa fa-angle-right"></i>
                                            </div>
                                            I’d like to make an application to duis dolore te feugait liber tempor cum soluta nobis?
                                        </div>

                                        <div class="question-content">
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>

                                            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                                            <a href="#"><strong><i class="fa fa-angle-right"></i> &nbsp; Download PDF</strong></a>
                                        </div>
                                    </div>
                                    <div class="box-question" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}" ng-init="data.active=false">
                                        <div class="question-title" ng-click="changeActive()">
                                            <div class="question-status">
                                                <i class="fa fa-angle-down"></i>
                                                <i class="fa fa-angle-right"></i>
                                            </div>
                                            Who do I contact when I want to tempor soluta nobis eleifend delenit augue duis dolore?
                                        </div>

                                        <div class="question-content">
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>

                                            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                                            <a href="#"><strong><i class="fa fa-angle-right"></i> &nbsp; Download PDF</strong></a>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </box-item>


                        <box-item header="Important Links" active="false" style-class="" icon="external-link">
                            <div class="box-content">
                                <ul>
                                    <li>Lorem ipsum dolor sit amet</li>
                                    <li>Consectetuer adipiscing elit</li>
                                    <li>Aenean commodo ligula eget dolor</li>
                                    <li>Cum sociis natoque penatibus et magnis</li>
                                    <li>Nascetur ridiculus mus</li>
                                </ul>

                                <div class="box-highlight">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>


                            </div>
                        </box-item>

                        <box-item class="hide" header="Featured Items" active="false" style-class="box-yellow" icon="copy">
                            <div class="box-content">
                                <div class="box-featured">
                                    <div class="box-feature">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="featured-image" style="background-image: url('https://unsplash.it/500/300/?random&134')"></div>
                                            </div>
                                            <div class="col-xs-6">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                                <div class="gaca-btn temp-left">View &nbsp;
                                                    <i class="fa fa-angle-right"></i></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="box-feature">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="featured-image" style="background-image: url('https://unsplash.it/500/300/?random&135')"></div>
                                            </div>
                                            <div class="col-xs-6">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                                <div class="gaca-btn temp-left">View &nbsp;
                                                    <i class="fa fa-angle-right"></i></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="box-feature">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="featured-image" style="background-image: url('https://unsplash.it/500/300/?random&1353')"></div>
                                            </div>
                                            <div class="col-xs-6">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                                <div class="gaca-btn temp-left">View &nbsp;
                                                    <i class="fa fa-angle-right"></i></div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr/>

                                    <div class="gaca-btn temp-right">Read more...</div>


                                </div>
                            </div>
                        </box-item>

                        <box-item class="hide" header="Saudi Holidays Up 23%" active="false" style-class="" icon="plane">
                            <div class="box-content">
                                <div class="box-image" style="background-image: url('http://vid.alarabiya.net/images/2013/07/19/5c61c865-9ccb-43c2-8ced-9ce3b5eeacd3/5c61c865-9ccb-43c2-8ced-9ce3b5eeacd3_16x9_600x338.jpg')"></div>
                            </div>
                        </box-item>

                        <box-item header="Search Flights" active="true" style-class="box-old" icon="plane">
                            <search-flight-box-item
                                airports-url="public/json/airports_OLD.json"
                                search-url="flights.html?"
                                lang="en"
                                string-choose="Choose An Airport"
                                string-flight-no="Flight Number"
                                string-search="Search"
                            ></search-flight-box-item>
                        </box-item>

                        <!--<box-item header="Search Flights" active="true" style-class="box-old" icon="plane">-->
                            <!--<search-flight-box-item-->
                                <!--url="flights.html"-->
                                <!--lang="ar_SA"-->
                                <!--string-choose="Choose An Airport"-->
                                <!--string-flight-no="Flight Number"-->
                                <!--string-search="Search"-->
                            <!--&gt;</search-flight-box-item>-->
                        <!--</box-item>-->

                    </div>

                    <div class="col-sm-4">
                        <box-item class="hide" header="Check Destination" active="false" style-class="" icon="plane">
                            <!--<div class="box-content" ng-controller="CheckDestinationCtrl">-->
                            <!--<script>-->
                            <!--var initialDestinations = [-->
                            <!--{-->
                            <!--name: "Buraydah",-->
                            <!--coords: [26.359987, 43.973551],-->
                            <!--url: "/link/to/submit"-->
                            <!--},-->
                            <!--{-->
                            <!--name: "London Heathrow",-->
                            <!--coords: [51.470029, -0.454305],-->
                            <!--url: "/link/to/heathrow/submit"-->
                            <!--},-->
                            <!--{-->
                            <!--name: "New York",-->
                            <!--coords: [40.709559, -74.005087],-->
                            <!--url: "/link/to/newyork/submit"-->
                            <!--}-->
                            <!--];-->
                            <!--</script>-->
                            <!--<div style="text-align: right">-->
                            <!--<form action="{{getUrl()}}" method="post" name="contactform" id="contactform" target="_blank">-->
                            <!--<p class="in block">-->
                            <!--<select ng-model="destination" ng-change="setDestination(destination)" style="width: 232px" ng-init="destination = 0">-->
                            <!--&lt;!&ndash;<option value="">Select Destination</option>&ndash;&gt;-->
                            <!--<option ng-repeat="dest in getDestinations()" value="{{$index}}">{{dest.name}}</option>-->
                            <!--</select>-->

                            <!--<span class="in-btn select-btn">-->
                            <!--<i class="fa fa-caret-down"></i>-->
                            <!--</span>-->
                            <!--</p>-->
                            <!--<div class="clearfix">-->
                            <!--<button type="submit" class="gaca-btn temp-right">Submit</button>-->

                            <!--<p class="in temp-right" style="margin: 0 10px">-->
                            <!--<input type="search" placeholder="Flight Number" ng-model="flightNumber"/>-->
                            <!--</p>-->
                            <!--</div>-->

                            <!--<div class="clearfix">-->
                            <!--</div>-->
                            <!--</form>-->
                            <!--</div>-->

                            <!--<div class="row" ng-show="getWeatherText() != 'No weather data available'">-->
                            <!--<hr/>-->
                            <!--<div class="col-xs-6">-->
                            <!--<p class="hl">Weather in {{getCurrentDestination().name}}</p>-->
                            <!--<p>-->
                            <!--<span class="temp-left" style="text-transform: capitalize"> {{getWeatherText()}}</span>-->
                            <!--</p>-->
                            <!--</div>-->
                            <!--&lt;!&ndash;<div class="col-xs-4">&ndash;&gt;-->
                            <!--&lt;!&ndash;Today&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="thin">&ndash;&gt;-->
                            <!--&lt;!&ndash;30° <i class="fa fa-tint" style="color: #add8e6"></i>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->

                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--<div class="col-xs-6">-->
                            <!--Today-->
                            <!--<div class="thin">-->
                            <!--{{getWeatherTemp()}}ºC <img ng-src="{{getWeatherIcon()}}" alt=""/></i>-->
                            <!--</div>-->

                            <!--</div>-->
                            <!--</div>-->


                            <!--</div>-->
                        </box-item>

                        <box-item class="hide" header="Airports" active="false" style-class="" icon="map-marker">
                            <script>
                                var pins = [
                                    {
                                        name: 'Prince Nayef Bin Abdulaziz Regional Airport',
                                        content: 'Some content<br><a href="#">a link</a>',
                                        position: {lat: 26.296997, lng: 43.802283}
                                    },
                                    {
                                        name: 'Rafha Domestic Airport',
                                        content: 'Some content<br><a href="#">a link</a>',
                                        position: {lat: 29.672434, lng: 43.494666}
                                    },
                                    {
                                        name: 'Prince Abdul Majeed bin Abdul Aziz Domestic Airport',
                                        content: 'Some content<br><a href="#">a link</a>',
                                        position: {lat: 26.493817, lng: 38.155311}
                                    },
                                    {
                                        name: 'Taif Regional Airport',
                                        content: '<p><div class="gaca-btn">Button<div/></p>',
                                        position: {lat: 21.497682, lng: 40.572303}
                                    },
                                    {
                                        name: 'Wadi Al Dawasir Airport',
                                        position: {lat: 20.492516, lng: 45.208533}
                                    },
                                    {
                                        name: 'EAM',
                                        position: {lat: 17.637360, lng: 44.439490}
                                    },
                                    {
                                        name: 'Sharurah Domestic Airport',
                                        position: {lat: 17.458558, lng: 47.134232}
                                    },
                                    {
                                        name: 'DMM',
                                        position: {lat: 26.468658, lng: 49.800523}
                                    }
                                ];
                            </script>

                            <div class="box-content">
                                <div class="box-map" id="map" style="margin:0 -10px -10px;height: 300px;" ng-controller="MapCtrl"></div>
                            </div>
                        </box-item>

                        <box-item class="hide" header="&nbsp;" active="false" style-class="" icon="plane">
                            <div class="box-content" style="height: 60px;"></div>

                            <div class="box-side" style="background-image: url('public/img/plane.png')"></div>
                        </box-item>


                        <box-item class="hide" header="New Cockpit Tech" active="false" style-class="" icon="copy">
                            <div class="box-content">
                                <div class="box-image" style="background-image: url('https://picjumbo.imgix.net/HNCK5322.jpg?q=90&w=1000&sharp=30')"></div>
                            </div>
                        </box-item>

                        <box-item class="" header="Statistics" active="true" style-class="" icon="copy">
                            <div class="box-content">
                                <div ng-controller="ECatalogueCtrl"
                                     ng-init="trainingCentresSort = 'sector'">

                                    <a class="box-highlight grey hl" href="#" ng-repeat="eService in getEServices({audience:'Training Centres'}, trainingCentresSort) track by $index">
                                        <small class="hl">{{eService[trainingCentresSort]}}</small>
                                        <br/>
                                        <small style="font-weight: normal">Form {{eService.id}} {{eService.title}}</small>
                                    </a>
                                    <!--<hr/>-->
                                    <!--<div class="gaca-btn temp-right">More...</div>-->
                                </div>
                            </div>
                        </box-item>
                    </div>

                    <div class="col-sm-4">

                        <box-item class="hide" header="GACA on Twitter" active="false" style-class="" icon="twitter">
                            <div class="box-content">
                                <div class="box-twitter">
                                    <div class="tweets">
                                        <div class="twitter-post">
                                            <div class="post-image" style="background-image: url('https://randomuser.me/api/portraits/men/35.jpg')"></div>
                                            <div class="post-content">
                                                <div class="post-user">@riki-highflier</div>
                                                <p>The new GACA website looks awesome!</p>
                                            </div>
                                        </div>
                                        <div class="twitter-post">
                                            <div class="post-image" style="background-image: url('https://randomuser.me/api/portraits/men/36.jpg')"></div>
                                            <div class="post-content">
                                                <div class="post-user">@faisal_mohammed</div>
                                                <p>Enjoyed the conference yesterday. Can't wait to sleep on the plane!</p>
                                            </div>
                                        </div>
                                        <div class="twitter-post">
                                            <div class="post-image" style="background-image: url('https://randomuser.me/api/portraits/men/36.jpg')"></div>
                                            <div class="post-content">
                                                <div class="post-user">@faisal_mohammed</div>
                                                <p>Boeing offers AW101 navigation upgrade http://goo.gl/3PPJqh #Ascent #Aviation #News</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="social-icons">
                                        <i class="fa fa-facebook" style="color: #3b5998"></i>
                                        <i class="fa fa-twitter" style="color: #55acee"></i>
                                        <i class="fa fa-youtube" style="color: #cd201f"></i>
                                        <i class="fa fa-google-plus" style="color: #dd4b39"></i>
                                    </div>
                                </div>

                            </div>
                        </box-item>

                        <box-item class="hide" header="Provide Feedback" active="false" style-class="" icon="comment">
                            <div class="box-content">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                                <hr/>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>

                                <div class="clearfix">
                                    <p class="pull-right">
                                        <span class="in">
                                            <input type="text">

                                            <span class="in-btn">
                                                <i class="fa fa-caret-down"></i>
                                            </span>
                                        </span>
                                    </p>
                                </div>

                                <!--<p>&nbsp;</p>-->
                                <p><span class="gaca-btn pull-right">Submit</span></p>

                            </div>
                        </box-item>

                        <box-item class="" header="Latest Tenders" active="true" style-class="" icon="copy">
                            <div class="box-content">
                                <div ng-controller="ECatalogueCtrl"
                                     ng-init="trainingCentresSort = 'sector'">

                                    <a class="box-highlight grey hl" href="#" ng-repeat="eService in getEServices({audience:'Training Centres'}, trainingCentresSort) track by $index">
                                        <small class="hl">{{eService[trainingCentresSort]}}</small>
                                        <br/>
                                        <small style="font-weight: normal">Form {{eService.id}} {{eService.title}}</small>
                                    </a>
                                    <!--<hr/>-->
                                    <!--<div class="gaca-btn temp-right">More...</div>-->
                                </div>
                            </div>
                        </box-item>

                        <box-item class="hide" header="Circulars" active="false" style-class="" icon="copy">
                            <div class="box-content">
                                <div ng-controller="ECatalogueCtrl"
                                     ng-init="trainingCentresSort = 'id'">

                                    <a class="box-highlight grey hl" href="#" ng-repeat="eService in getEServices({audience:'Training Centres'}, trainingCentresSort) track by $index">
                                        <small class="hl">{{eService[trainingCentresSort]}}</small>
                                        <br/>
                                        <small style="font-weight: normal">Form {{eService.id}} {{eService.title}}</small>
                                    </a>
                                    <hr/>
                                    <div class="gaca-btn temp-right">More...</div>
                                </div>


                            </div>
                        </box-item>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>