<div data-main>

    <div class="container">
        <div data-template="home-boxes">
            <div class="home-boxes">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="box box-old clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                            <div class="box-header">
                                <div class="box-icon">
                                    <i class="fa fa-question"></i>
                                </div>
                                <div class="box-status" ng-click="changeActive()">
                                    <i class="fa fa-plus"></i>
                                    <i class="fa fa-minus"></i>
                                </div>
                                <div class="box-title">Frequent Questions</div>
                                <div class="box-content">
                                    <div class="box-questions">
                                        <div class="box-question" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}" ng-init="data.active=false">
                                            <div class="question-title" ng-click="changeActive()">
                                                <div class="question-status">
                                                    <i class="fa fa-angle-down"></i>
                                                    <i class="fa fa-angle-right"></i>
                                                </div>
                                                What are the manditory requirements for pilot flights to Saudi Arabia?
                                            </div>

                                            <div class="question-content">
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>

                                                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                                                <div>
                                                    <a href="#"><strong><i class="fa fa-download"></i> &nbsp; Download PDF</strong></a>
                                                </div>
                                                <div>
                                                    <a href="#"><strong><i class="fa fa-external-link"></i> &nbsp; Links</strong></a>
                                                </div>
                                                <div style="text-align: right">
                                                    <span class="gaca-btn">Read More...</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box-question" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}" ng-init="data.active=false">
                                            <div class="question-title" ng-click="changeActive()">
                                                <div class="question-status">
                                                    <i class="fa fa-angle-down"></i>
                                                    <i class="fa fa-angle-right"></i>
                                                </div>
                                                I’m a pilot, how do I apply for duis dolore te feugaitliber KSA esit soluta nobis eleifend?
                                            </div>

                                            <div class="question-content">
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>

                                                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                                                <div>
                                                    <a href="#"><strong><i class="fa fa-download"></i> &nbsp; Download PDF</strong></a>
                                                </div>
                                                <div>
                                                    <a href="#"><strong><i class="fa fa-external-link"></i> &nbsp; Links</strong></a>
                                                </div>

                                                <div style="text-align: right">
                                                    <a class="gaca-btn">Read More...</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box-question" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}" ng-init="data.active=false">
                                            <div class="question-title" ng-click="changeActive()">
                                                <div class="question-status">
                                                    <i class="fa fa-angle-down"></i>
                                                    <i class="fa fa-angle-right"></i>
                                                </div>
                                                What kind of pilot licence duis dolore te feugait liber tempor cum soluta nobis?
                                            </div>

                                            <div class="question-content">
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>

                                                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                                                <a href="#"><strong><i class="fa fa-angle-right"></i> &nbsp; Download PDF</strong></a>
                                            </div>
                                        </div>
                                        <div class="box-question" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}" ng-init="data.active=false">
                                            <div class="question-title" ng-click="changeActive()">
                                                <div class="question-status">
                                                    <i class="fa fa-angle-down"></i>
                                                    <i class="fa fa-angle-right"></i>
                                                </div>
                                                I’d like to make an application to duis dolore te feugait liber tempor cum soluta nobis?
                                            </div>

                                            <div class="question-content">
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>

                                                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                                                <a href="#"><strong><i class="fa fa-angle-right"></i> &nbsp; Download PDF</strong></a>
                                            </div>
                                        </div>
                                        <div class="box-question" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}" ng-init="data.active=false">
                                            <div class="question-title" ng-click="changeActive()">
                                                <div class="question-status">
                                                    <i class="fa fa-angle-down"></i>
                                                    <i class="fa fa-angle-right"></i>
                                                </div>
                                                Who do I contact when I want to tempor soluta nobis eleifend delenit augue duis dolore?
                                            </div>

                                            <div class="question-content">
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>

                                                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                                                <a href="#"><strong><i class="fa fa-angle-right"></i> &nbsp; Download PDF</strong></a>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="box box-old clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                            <div class="box-header">
                                <div class="box-icon">
                                    <i class="fa fa-external-link"></i>
                                </div>
                                <div class="box-status" ng-click="changeActive()">
                                    <i class="fa fa-plus"></i>
                                    <i class="fa fa-minus"></i>
                                </div>
                                <div class="box-title">Important Links</div>
                                <div class="box-content">
                                    <ul>
                                        <li>Lorem ipsum dolor sit amet</li>
                                        <li>Consectetuer adipiscing elit</li>
                                        <li>Aenean commodo ligula eget dolor</li>
                                        <li>Cum sociis natoque penatibus et magnis</li>
                                        <li>Nascetur ridiculus mus</li>
                                    </ul>

                                    <div class="box-highlight">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>


                                </div>
                            </div>
                        </div>

                        <div class="box box-old clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                            <div class="box-header">
                                <div class="box-icon">
                                    <i class="fa fa-copy"></i>
                                </div>
                                <div class="box-status" ng-click="changeActive()">
                                    <i class="fa fa-plus"></i>
                                    <i class="fa fa-minus"></i>
                                </div>
                                <div class="box-title">Saudi Holidays Up 23%</div>
                                <div class="box-content">
                                    <div class="box-image" style="background-image: url('http://vid.alarabiya.net/images/2013/07/19/5c61c865-9ccb-43c2-8ced-9ce3b5eeacd3/5c61c865-9ccb-43c2-8ced-9ce3b5eeacd3_16x9_600x338.jpg')"></div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="box box-blue clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                            <div class="box-header">
                                <div class="box-icon">
                                    <i class="fa fa-plane"></i>
                                </div>
                                <div class="box-status" ng-click="changeActive()">
                                    <i class="fa fa-plus"></i>
                                    <i class="fa fa-minus"></i>
                                </div>
                                <div class="box-title">Check Destination</div>
                                <div class="box-content" ng-controller="CheckDestinationCtrl">
                                    <div style="text-align: right">
                                        <!--<form action="{{destination}}" method="post" name="contactform" id="contactform">-->
                                        <p class="in block">
                                            <select ng-model="destination" ng-change="setDestination(destination)" style="width: 232px" ng-init="destination = 'Buraydah'">
                                                <!--<option value="">Select Destination</option>-->
                                                <option value="Buraydah">Buraydah</option>
                                                <option value="London">London Heathrow</option>
                                                <option value="Madrid">Madrid</option>
                                                <option value="New York">New York</option>
                                                <option value="Melbourne">Melbourne</option>
                                                <option value="Oslo">Oslo</option>
                                            </select>

                                            <span class="in-btn select-btn">
                                                <i class="fa fa-caret-down"></i>
                                            </span>
                                        </p>
                                        <div class="clearfix">
                                            <button type="submit" class="gaca-btn temp-right">Submit</button>

                                            <p class="in temp-right" style="margin: 0 10px">
                                                <input type="search" placeholder="Flight Number"/>
                                            </p>
                                        </div>

                                        <div class="clearfix">
                                        </div>
                                        <!--</form>-->
                                    </div>

                                    <div class="row" ng-show="getWeatherText() != 'No weather data available'">
                                        <hr/>
                                        <div class="col-xs-6">
                                            <p class="hl">Weather in {{destination}}</p>
                                            <p>
                                                <span class="temp-left" style="text-transform: capitalize"> {{getWeatherText()}}</span>
                                            </p>
                                        </div>
                                        <!--<div class="col-xs-4">-->
                                            <!--Today-->
                                            <!--<div class="thin">-->
                                                <!--30° <i class="fa fa-tint" style="color: #add8e6"></i>-->
                                            <!--</div>-->

                                        <!--</div>-->
                                        <div class="col-xs-6">
                                            Today
                                            <div class="thin">
                                                {{getWeatherTemp()}}ºC <img ng-src="{{getWeatherIcon()}}" alt=""/></i>
                                            </div>

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <script>
                            var pins = [
                                {
                                    name: 'Prince Nayef Bin Abdulaziz Regional Airport',
                                    content:'Some content<br><a href="#">a link</a>',
                                    position: {lat: 26.296997, lng: 43.802283}
                                },
                                {
                                    name: 'Rafha Domestic Airport',
                                    content:'Some content<br><a href="#">a link</a>',
                                    position: {lat: 29.672434, lng: 43.494666}
                                },
                                {
                                    name: 'Prince Abdul Majeed bin Abdul Aziz Domestic Airport',
                                    content:'Some content<br><a href="#">a link</a>',
                                    position: {lat: 26.493817, lng: 38.155311}
                                },
                                {
                                    name: 'Taif Regional Airport',
                                    content:'<p><div class="gaca-btn">Button<div/></p>',
                                    position: {lat: 21.497682, lng: 40.572303}
                                },
                                {
                                    name: 'Wadi Al Dawasir Airport',
                                    position: {lat: 20.492516, lng: 45.208533}
                                },
                                {
                                    name: 'EAM',
                                    position: {lat: 17.637360, lng: 44.439490}
                                },
                                {
                                    name: 'Sharurah Domestic Airport',
                                    position: {lat: 17.458558, lng: 47.134232}
                                },
                                {
                                    name: 'DMM',
                                    position: {lat: 26.468658, lng: 49.800523}
                                }
                            ];
                        </script>

                        <div class="box box-yellow clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                            <div class="box-header">
                                <div class="box-icon">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <div class="box-status" ng-click="changeActive()">
                                    <i class="fa fa-plus"></i>
                                    <i class="fa fa-minus"></i>
                                </div>
                                <div class="box-title">Airports</div>
                                <div class="box-content">
                                    <div class="box-map" id="map" style="margin:0 -10px -10px;height: 300px;" ng-controller="MapCtrl"></div>
                                </div>
                            </div>
                        </div>


                        <div class="box box-red clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                            <div class="box-header">
                                <div class="box-icon">
                                    <i class="fa fa-plane"></i>
                                </div>
                                <div class="box-status" ng-click="changeActive()">
                                    <i class="fa fa-plus"></i>
                                    <i class="fa fa-minus"></i>
                                </div>
                                <div class="box-title">&nbsp;</div>
                                <div class="box-content" style="height: 60px;">

                                </div>

                                <div class="box-side" style="background-image: url('public/img/plane.png')">

                                </div>
                            </div>
                        </div>

                        <div class="box box-red clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                            <div class="box-header">
                                <div class="box-icon">
                                    <i class="fa fa-copy"></i>
                                </div>
                                <div class="box-status" ng-click="changeActive()">
                                    <i class="fa fa-plus"></i>
                                    <i class="fa fa-minus"></i>
                                </div>
                                <div class="box-title">New Cockpit Tech</div>
                                <div class="box-content">
                                    <div class="box-image" style="background-image: url('https://picjumbo.imgix.net/HNCK5322.jpg?q=90&w=1000&sharp=30')"></div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <!--<div class="box box-red clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}" ng-init="data.active=false">-->
                        <!--<div class="box-header">-->
                        <!--<div class="box-icon">-->
                        <!--<i class="fa fa-fire"></i>-->
                        <!--</div>-->
                        <!--<div class="box-status" ng-click="changeActive()">-->
                        <!--<i class="fa fa-plus"></i>-->
                        <!--<i class="fa fa-minus"></i>-->
                        <!--</div>-->
                        <!--<div class="box-title">Important</div>-->
                        <!--<div class="box-content">-->
                        <!--<p>-->
                        <!--<i class="fa fa-exclamation-circle"></i> &nbsp; Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.-->
                        <!--</p>-->

                        <!--<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>-->

                        <!--<div class="gaca-btn" style="border-color:darkred; background: darkred; color:white;">Read More...</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->


                        <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                            <div class="box-header">
                                <div class="box-icon">
                                    <i class="fa fa-twitter"></i>
                                </div>
                                <div class="box-status" ng-click="changeActive()">
                                    <i class="fa fa-plus"></i>
                                    <i class="fa fa-minus"></i>
                                </div>
                                <div class="box-title">GACA on Twitter</div>
                                <div class="box-content">
                                    <div class="box-twitter">
                                        <div class="tweets">
                                            <div class="twitter-post">
                                                <div class="post-image" style="background-image: url('https://randomuser.me/api/portraits/men/35.jpg')"></div>
                                                <div class="post-content">
                                                    <div class="post-user">@riki-highflier</div>
                                                    <p>The new GACA website looks awesome!</p>
                                                </div>
                                            </div>
                                            <div class="twitter-post">
                                                <div class="post-image" style="background-image: url('https://randomuser.me/api/portraits/men/36.jpg')"></div>
                                                <div class="post-content">
                                                    <div class="post-user">@faisal_mohammed</div>
                                                    <p>Enjoyed the conference yesterday. Can't wait to sleep on the plane!</p>
                                                </div>
                                            </div>
                                            <div class="twitter-post">
                                                <div class="post-image" style="background-image: url('https://randomuser.me/api/portraits/men/36.jpg')"></div>
                                                <div class="post-content">
                                                    <div class="post-user">@faisal_mohammed</div>
                                                    <p>Boeing offers AW101 navigation upgrade http://goo.gl/3PPJqh #Ascent #Aviation #News</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="social-icons">
                                            <i class="fa fa-facebook" style="color: #3b5998"></i>
                                            <i class="fa fa-twitter" style="color: #55acee"></i>
                                            <i class="fa fa-youtube" style="color: #cd201f"></i>
                                            <i class="fa fa-google-plus" style="color: #dd4b39"></i>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                            <div class="box-header">
                                <div class="box-icon">
                                    <i class="fa fa-pencil"></i>
                                </div>
                                <div class="box-status" ng-click="changeActive()">
                                    <i class="fa fa-plus"></i>
                                    <i class="fa fa-minus"></i>
                                </div>
                                <div class="box-title">Provide Feedback</div>
                                <div class="box-content">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                                    <hr/>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>

                                    <div class="clearfix">
                                        <p class="pull-right">
                                        <span class="in">
                                            <input type="text">

                                            <span class="in-btn">
                                                <i class="fa fa-caret-down"></i>
                                            </span>
                                        </span>
                                        </p>
                                    </div>

                                    <!--<p>&nbsp;</p>-->
                                    <p><span class="gaca-btn pull-right">Submit</span></p>

                                </div>
                            </div>
                        </div>

                        <!--<div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">-->
                            <!--<div class="box-header">-->
                                <!--<div class="box-icon">-->
                                    <!--<i class="fa fa-copy"></i>-->
                                <!--</div>-->
                                <!--<div class="box-status" ng-click="changeActive()">-->
                                    <!--<i class="fa fa-plus"></i>-->
                                    <!--<i class="fa fa-minus"></i>-->
                                <!--</div>-->
                                <!--<div class="box-title">Runway Complete</div>-->
                                <!--<div class="box-content">-->
                                    <!--<div class="box-image" style="background-image: url('http://www.designboom.com/contemporary/contemporaryairportdesign/63.jpg')"></div>-->

                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <div class="box box-blue clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                            <div class="box-header">
                                <div class="box-icon">
                                    <i class="fa fa-copy"></i>
                                </div>
                                <div class="box-status" ng-click="changeActive()">
                                    <i class="fa fa-plus"></i>
                                    <i class="fa fa-minus"></i>
                                </div>
                                <div class="box-tabs clearfix" ng-init="currentTab = 0">
                                    <div class="box-tab" ng-class="{active:currentTab == 0}" ng-click="currentTab = 0">Tenders</div>
                                    <div class="box-tab" ng-class="{active:currentTab == 1}" ng-click="currentTab = 1">Circulars</div>
                                </div>

                                <div class="box-content">
                                    <div class="content-tab"
                                         ng-class="{active:currentTab == 0}"
                                         ng-controller="ECatalogueCtrl"
                                         ng-init="trainingCentresSort = 'sector'">

                                        <a class="box-highlight grey hl" href="#" ng-repeat="eService in getEServices({audience:'Training Centres'}, trainingCentresSort) track by $index">
                                            <small class="hl">{{eService[trainingCentresSort]}}</small>
                                            <br/>
                                            <small style="font-weight: normal">Form {{eService.id}} {{eService.title}}</small>
                                        </a>
                                        <hr/>
                                        <div class="gaca-btn temp-right">More...</div>
                                    </div>

                                    <div class="content-tab"
                                         ng-class="{active:currentTab == 1}"
                                         ng-controller="ECatalogueCtrl"
                                         ng-init="trainingCentresSort = 'id'">

                                        <a class="box-highlight grey hl" href="#" ng-repeat="eService in getEServices({audience:'Training Centres'}, trainingCentresSort) track by $index">
                                            <small class="hl">{{eService[trainingCentresSort]}}</small>
                                            <br/>
                                            <small style="font-weight: normal">Form {{eService.id}} {{eService.title}}</small>
                                        </a>
                                        <hr/>
                                        <div class="gaca-btn temp-right">More...</div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
