<div data-template="content">
    <div class="content-banner" style="background-image: url('https://www.middleeastmonitor.com/images/article_images/logos/libyan-airlines.jpg')">
    </div>

    <div class="container">
        <div class="content">
            <div class="row">
                <!--<div class="col-sm-12">-->
                    <!--<div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">-->
                        <!--<h1 style="margin-bottom: 0;">Content Header / Title</h1>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="col-sm-8">
                    <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                        <small class="hl pull-right">31st March 2015</small>

                        <h1>Content Header / Title</h1>
                        <hr/>

                        <h2>Subtitle</h2>

                        <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</p>

                        <p>Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores. At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles. Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</p>

                        <p>
                            <br/>
                            <img src="http://www.arabnews.com/sites/default/files/imagecache/galleryformatter_slide/GACA_0.jpg" alt=""/>
                            <br/>&nbsp;
                        </p>

                        <p>Li nov lingua franca va esser plu simplic e regulari quam li existent Europan lingues. It va esser tam simplic quam Occidental in fact, it va esser Occidental. A un Angleso it va semblar un simplificat Angles, quam un skeptic Cambridge amico dit me que Occidental es. Li Europan lingues es membres del sam familie.</p>

                        <p>Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</p>

                        <h2>Subtitle</h2>

                        <p>At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles. Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues. Li nov lingua franca va esser plu simplic e regulari quam li existent Europan lingues. It va esser tam simplic quam Occidental in fact, it va esser Occidental.</p>

                        <p>A un Angleso it va semblar un simplificat Angles, quam un skeptic Cambridge amico dit me que Occidental es. Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</p>

                        <hr/>
                        <div class="gaca-btn">Call to action &nbsp; <i class="fa fa-angle-right"></i></div>
                    </div>
                </div>

                <div class="col-sm-4">

                    <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="fa fa-image"></i>
                            </div>
                            <div class="box-status" ng-click="changeActive()">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                            </div>
                            <div class="box-title">Related Images</div>
                            <div class="box-content">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a class="box-highlight grey hl hl-none" href="#">
                                            <p>
                                                <span class="gallery-image" style="background-image: url('http://www.arabnews.com/sites/default/files/imagecache/galleryformatter_slide/2014/10/24/Jeddah%20airport%20-%20Saudi%20Airlines.jpg')"></span>
                                            </p>
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                        </a>
                                    </div>
                                    <div class="col-sm-12">
                                        <a class="box-highlight grey hl hl-none" href="#">
                                            <p>
                                                <span class="gallery-image" style="background-image: url('http://www.arabnews.com/sites/default/files/imagecache/galleryformatter_slide/2015/06/15/file-15-1434397434643590600.jpg')"></span>
                                            </p>
                                            Aenean massa.
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="fa fa-newspaper-o"></i>
                            </div>
                            <div class="box-status" ng-click="changeActive()">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                            </div>
                            <div class="box-title">Related Articles</div>
                            <div class="box-content">
                                <a class="box-highlight grey hl" href="#">
                                    <p>
                                        <span class="gallery-image" style="height:150px;background-image: url('https://www.venturesonsite.com/news/wp-content/uploads/2015/01/Abha-Airport-Roundabout.jpg')"></span>
                                    </p>
                                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                                </a>

                                <a class="box-highlight grey hl" href="#">
                                    KFIA is on track to welcome more than 9 million passengers this year
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Al-Hamdan Leads a High-Level Delegation to the 3rd Meeting of the Directors General of Civil Aviation in the Middle East
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Signing two contracts for the first phase of development of King Abdulaziz International Airport (KAIA)
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    In creating a new work environment and to cope with the transformation program, the General Authority of Civil Aviation
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    King Khalid International Airport, survey the travelling public about services rendered in order to improve them.
                                </a>

                            </div>
                        </div>
                    </div>

                </div>


            </div>

        </div>
    </div>
</div>