<div class="container">
    <div data-template="e-catalogue">
        <div class="e-catalogue standard-page">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                        <h1>E-Services Catalogue</h1>
                        <hr/>

                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                        <p class="in">
                            <select>
                                <option value="">All Audiences</option>
                                <option value="">Pilot</option>
                                <option value="">Airman</option>
                                <option value="">Aircraft</option>
                                <option value="">Airlines/Operators</option>
                                <option value="">Airports</option>
                                <option value="">Training Centres</option>
                            </select>

                            <i class="in-btn select-btn">
                                <i class="fa fa-caret-down"></i>
                            </i>
                        </p>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="fa fa-globe"></i>
                            </div>
                            <div class="box-status" ng-click="changeActive()">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                            </div>
                            <div class="box-title">Pilot E-Services</div>
                            <div class="box-content">
                                <p class="in block">
                                    <select>
                                        <option value="">Order By Most Popular</option>
                                        <option value="">Order By Most Recent</option>
                                    </select>

                                    <i class="in-btn select-btn">
                                        <i class="fa fa-caret-down"></i>
                                    </i>
                                </p>

                                <hr/>
                                <a class="box-highlight grey hl" href="#">
                                    Form 6193 Export of Wheel Maintenance of TSR
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Form 2782 Statement Of Conformity
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Form 8753 Information Required Wheel Maintenance of TSR
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Form 1206 Rolling ELT Update
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Form 2966 regarding Inspection Program
                                </a>
                                <hr/>
                                <div class="gaca-btn">More...</div>
                            </div>
                        </div>
                    </div>

                    <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="fa fa-globe"></i>
                            </div>
                            <div class="box-status" ng-click="changeActive()">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                            </div>
                            <div class="box-title">Airman E-Services</div>
                            <div class="box-content">
                                <p class="in block">
                                    <select>
                                        <option value="">Order By Most Popular</option>
                                        <option value="">Order By Most Recent</option>
                                    </select>

                                    <i class="in-btn select-btn">
                                        <i class="fa fa-caret-down"></i>
                                    </i>
                                </p>

                                <hr/>
                                <a class="box-highlight grey hl" href="#">
                                    Form 6193 Export of Wheel Maintenance of TSR
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Form 2782 Statement Of Conformity
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Form 8753 Information Required Wheel Maintenance of TSR
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Form 1206 Rolling ELT Update
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Form 2966 regarding Inspection Program
                                </a>
                                <hr/>
                                <div class="gaca-btn">More...</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="fa fa-globe"></i>
                            </div>
                            <div class="box-status" ng-click="changeActive()">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                            </div>
                            <div class="box-title">Aircraft E-Services</div>
                            <div class="box-content">
                                <p class="in block">
                                    <select>
                                        <option value="">Order By Most Popular</option>
                                        <option value="">Order By Most Recent</option>
                                    </select>

                                    <i class="in-btn select-btn">
                                        <i class="fa fa-caret-down"></i>
                                    </i>
                                </p>

                                <hr/>
                                <a class="box-highlight grey hl" href="#">
                                    Form 6193 Export of Wheel Maintenance of TSR
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Form 2782 Statement Of Conformity
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Form 8753 Information Required Wheel Maintenance of TSR
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Form 1206 Rolling ELT Update
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Form 2966 regarding Inspection Program
                                </a>
                                <hr/>
                                <div class="gaca-btn">More...</div>
                            </div>
                        </div>
                    </div>
                    <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="fa fa-globe"></i>
                            </div>
                            <div class="box-status" ng-click="changeActive()">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                            </div>
                            <div class="box-title">Airlines/Operators E-Services</div>
                            <div class="box-content">
                                <p class="in block">
                                    <select>
                                        <option value="">Order By Most Popular</option>
                                        <option value="">Order By Most Recent</option>
                                    </select>

                                    <i class="in-btn select-btn">
                                        <i class="fa fa-caret-down"></i>
                                    </i>
                                </p>

                                <hr/>
                                <a class="box-highlight grey hl" href="#">
                                    Form 6193 Export of Wheel Maintenance of TSR
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Form 2782 Statement Of Conformity
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Form 8753 Information Required Wheel Maintenance of TSR
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Form 1206 Rolling ELT Update
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Form 2966 regarding Inspection Program
                                </a>
                                <hr/>
                                <div class="gaca-btn">More...</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="fa fa-globe"></i>
                            </div>
                            <div class="box-status" ng-click="changeActive()">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                            </div>
                            <div class="box-title">Airports E-Services</div>
                            <div class="box-content">
                                <p class="in block">
                                    <select>
                                        <option value="">Order By Most Popular</option>
                                        <option value="">Order By Most Recent</option>
                                    </select>

                                    <i class="in-btn select-btn">
                                        <i class="fa fa-caret-down"></i>
                                    </i>
                                </p>

                                <hr/>
                                <a class="box-highlight grey hl" href="#">
                                    Form 6193 Export of Wheel Maintenance of TSR
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Form 2782 Statement Of Conformity
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Form 8753 Information Required Wheel Maintenance of TSR
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Form 1206 Rolling ELT Update
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Form 2966 regarding Inspection Program
                                </a>
                                <hr/>
                                <div class="gaca-btn">More...</div>
                            </div>
                        </div>
                    </div>
                    <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="fa fa-globe"></i>
                            </div>
                            <div class="box-status" ng-click="changeActive()">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                            </div>
                            <div class="box-title">Training Centres E-Services</div>
                            <div class="box-content">
                                <p class="in block">
                                    <select>
                                        <option value="">Order By Most Popular</option>
                                        <option value="">Order By Most Recent</option>
                                    </select>

                                    <i class="in-btn select-btn">
                                        <i class="fa fa-caret-down"></i>
                                    </i>
                                </p>

                                <hr/>
                                <a class="box-highlight grey hl" href="#">
                                    Form 6193 Export of Wheel Maintenance of TSR
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Form 2782 Statement Of Conformity
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Form 8753 Information Required Wheel Maintenance of TSR
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Form 1206 Rolling ELT Update
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Form 2966 regarding Inspection Program
                                </a>
                                <hr/>
                                <div class="gaca-btn">More...</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>