body {
  overflow-x: hidden;
  font-family: 'Titillium Web', sans-serif;
  font-size: 13px;
  font-weight: 300;
  min-height: 100vh;
  padding-top: 75px;
  background: #eff2f3;
  color: #555;
  min-width: 100vw;
  position: relative;
  will-change: margin-left;
  line-height: 1.6; }
  @media (max-width: 767px) {
    body {
      padding-top: 40px;
      font-size: 12px; } }

.no-scroll {
  overflow: hidden; }

.fa {
  line-height: inherit !important; }

[data-template] {
  display: inline; }

input, textarea, * {
  outline: none; }

h1, h2, h3 {
  font-weight: 100;
  margin: 0 0 10px;
  line-height: inherit; }

h1, .h1 {
  font-size: 24px;
  color: #456bb1; }

h2, .h2 {
  color: #456bb1;
  font-size: 16px;
  font-weight: 600; }

p {
  line-height: 1.7; }

ul {
  padding-left: 20px; }

.in {
  line-height: 25px;
  display: inline-block;
  position: relative;
  border-radius: 4px;
  width: 150px; }
  .in.block {
    display: block;
    width: auto; }
  .in input, .in select, .in textarea {
    line-height: 25px;
    padding: 0 10px;
    width: 100%;
    background: #f7f7f7;
    border: none;
    color: #456bb1;
    border-radius: 4px;
    font-size: 12px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none; }
    @media (max-width: 767px) {
      .in input, .in select, .in textarea {
        font-size: 12px; } }
  .in textarea {
    height: 85px;
    margin-bottom: 0; }
  .in select {
    cursor: pointer; }
  .in.sm {
    width: 100px; }
  .in .in-btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 25px;
    line-height: 23px;
    width: 25px;
    text-align: center;
    color: white;
    background: #508bea;
    z-index: 5;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    display: block;
    -webkit-transition: .2s;
            transition: .2s;
    border: 1px solid #508bea; }
    .in .in-btn.select-btn {
      pointer-events: none; }
  .in:hover .in-btn {
    background: #456bb1; }

.gaca-btn {
  height: 25px;
  line-height: 23px;
  padding: 0 15px;
  text-align: center;
  color: white;
  background: #508bea;
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
  -webkit-transition: .2s;
          transition: .2s;
  border: 1px solid #508bea; }
  .gaca-btn:hover {
    background: white;
    color: #508bea; }

.thin {
  font-size: 20px;
  font-weight: 100; }

.hl {
  font-weight: bold;
  color: #508bea; }

.psuedo-table {
  border: none;
  margin-bottom: 15px; }
  .psuedo-table select, .psuedo-table input, .psuedo-table textarea {
    border: 1px solid #eee;
    color: #555;
    font-weight: 600; }
  .psuedo-table .in-btn {
    height: 27px;
    line-height: 25px; }
  .psuedo-table input[type=file] {
    border: none; }
  .psuedo-table .row {
    padding: 5px 15px; }
  .psuedo-table .col-sm-3 {
    font-weight: 600;
    color: #456bb1; }
  .psuedo-table .row {
    line-height: 27px; }
  .psuedo-table .row:nth-child(2n-1) {
    background: white; }
  .psuedo-table .row:nth-child(2n) {
    background: #f7f7f7; }
    .psuedo-table .row:nth-child(2n) .in select, .psuedo-table .row:nth-child(2n) .in input, .psuedo-table .row:nth-child(2n) .in textarea {
      background: white; }
  .psuedo-table .row {
    border-bottom: none; }
  .psuedo-table .row:first-of-type {
    border-top: 1px solid #eee !important; }
  .psuedo-table .row:last-of-type {
    border-bottom: 1px solid #eee !important; }

.result {
  background: #f7f7f7;
  height: 90px;
  border-radius: 4px;
  margin-bottom: 5px;
  padding: 15px;
  border-left: 3px solid #508bea;
  line-height: 1;
  font-size: 12px;
  display: none;
  cursor: pointer; }
  @media (max-width: 767px) {
    .result {
      font-size: 12px; } }
  .result .result-icon {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    line-height: 1;
    font-size: 27px; }
  .result .result-header {
    border-top-right-radius: 4px;
    height: 25px;
    line-height: 25px;
    margin: -15px -15px 10px;
    padding: 0 15px;
    font-weight: 400;
    text-transform: uppercase;
    background: #eee;
    color: #bbb;
    -webkit-transition: .3s;
            transition: .3s; }
    .result .result-header .header-e-service {
      float: right;
      color: #6cc70c;
      font-weight: bold; }
      .result .result-header .header-e-service .e-service-dot {
        margin: 7px 0 7px 7px;
        height: 11px;
        width: 11px;
        border-radius: 30px;
        background: #6cc70c;
        float: right;
        cursor: pointer;
        -webkit-transition: .2s;
                transition: .2s; }
      .result .result-header .header-e-service.unavailable {
        color: red; }
        .result .result-header .header-e-service.unavailable .e-service-dot {
          background: red; }
  .result .result-field {
    clear: both;
    line-height: 1.4;
    color: #999;
    display: none; }
    .result .result-field strong {
      display: inline-block;
      width: 80px; }
  .result .result-title {
    margin-bottom: 10px;
    font-weight: bold;
    color: #508bea;
    font-size: 12px; }
  .result .result-date {
    float: right;
    color: #bbb;
    font-weight: bold;
    margin-left: 10px; }
  .result .result-link {
    clear: right;
    float: right;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
    color: #508bea;
    color: #6cc70c;
    color: #6cc70c;
    font-size: 26px; }
  .result:hover {
    border-left: 3px solid #456bb1; }
    .result:hover .result-header {
      background: #456bb1;
      color: white; }

.container {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto; }

.gaca-popup {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: none;
  overflow: auto;
  z-index: 200; }
  .gaca-popup .popup-overlay {
    background: rgba(0, 0, 0, 0.2);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 200; }
  .gaca-popup .popup-block {
    position: relative;
    margin-top: 20%;
    background: white;
    border-radius: 4px;
    padding: 30px;
    margin-bottom: 50px;
    z-index: 201; }
    .gaca-popup .popup-block img {
      max-width: 100%;
      width: 100%; }

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px; }

.row {
  margin-right: -10px;
  margin-left: -10px; }

.search-box {
  -webkit-transition: .3s;
          transition: .3s; }

.vd {
  height: 25px;
  line-height: inherit;
  width: 1px;
  background: #eee;
  margin: 0 15px;
  display: inline-block;
  vertical-align: middle; }

img {
  max-width: 100%; }

.gaca-form form {
  display: inline;
  margin: 0;
  padding: 0; }

.standard-page {
  background: #c5ced3;
  padding: 45px 10px 1px;
  min-height: 80vh; }
  @media (max-width: 991px) {
    .standard-page {
      padding-top: 15px; } }
  .standard-page .box-highlight {
    border-left: 3px solid #508bea;
    padding: 10px 15px;
    margin-bottom: 5px;
    color: #456bb1;
    -webkit-transition: .2s;
            transition: .2s;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: white; }
    .standard-page .box-highlight.grey {
      cursor: pointer; }
    .standard-page .box-highlight:hover {
      border-left-width: 6px;
      color: #508bea;
      padding-left: 12px; }
      .standard-page .box-highlight:hover .gallery-image {
        -webkit-filter: grayscale(0%);
                filter: grayscale(0%); }
    .standard-page .box-highlight.hl-yellow {
      border-color: gold; }
    .standard-page .box-highlight.hl-red {
      border-color: #ce1029; }
    .standard-page .box-highlight.hl-none {
      padding-left: 15px;
      border-left: none;
      border-color: transparent;
      margin-bottom: 30px; }
    .standard-page .box-highlight .gallery-image {
      margin: -15px -15px 0px;
      height: 130px;
      border-radius: 0;
      background-size: cover;
      background-position: center;
      background-color: #f7f7f7;
      display: block;
      -webkit-transition: .2s;
              transition: .2s;
      -webkit-filter: grayscale(0%);
              filter: grayscale(0%); }

.gaca-alert {
  background: #ce1029;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 0px;
  line-height: 1.2;
  color: white;
  margin-top: 35px; }
  @media (max-width: 991px) {
    .gaca-alert {
      margin-top: 0; } }
  .gaca-alert span {
    font-weight: 300; }

[data-template="header"] .header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  min-width: 100vw; }
  [data-template="header"] .header .container {
    position: relative; }
  [data-template="header"] .header .in input, [data-template="header"] .header .in select {
    border: 1px solid #eee;
    height: 25px;
    line-height: 23px; }
  [data-template="header"] .header a {
    text-decoration: none; }
  @media (max-width: 767px) {
    [data-template="header"] .header .show-login-popup {
      padding: 0 15px;
      height: 40px;
      line-height: 40px; } }
  [data-template="header"] .header .header-line {
    padding: 25px 50px;
    height: 75px;
    line-height: 25px;
    background: white; }
    @media (max-width: 767px) {
      [data-template="header"] .header .header-line {
        padding: 0 25px;
        height: 40px; } }
    [data-template="header"] .header .header-line .pull-right {
      color: #456bb1;
      font-weight: 600;
      position: absolute;
      top: 0;
      right: 0; }
      [data-template="header"] .header .header-line .pull-right img {
        margin-top: -25px;
        height: 70px;
        width: auto;
        vertical-align: top; }
        @media (max-width: 767px) {
          [data-template="header"] .header .header-line .pull-right img {
            height: 30px;
            margin-top: 5px; } }
  [data-template="header"] .header .header-menu {
    color: #555;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    background: rgba(0, 0, 0, 0.1); }
  [data-template="header"] .header .header-sub {
    background: rgba(0, 0, 0, 0.4);
    background: #508bea;
    height: 35px;
    line-height: 35px;
    color: white;
    font-size: 13px; }
    [data-template="header"] .header .header-sub .sub-item {
      float: left;
      text-align: center;
      font-weight: 600;
      cursor: pointer;
      background: #508bea;
      -webkit-transition: .3s;
              transition: .3s;
      width: 12.5%;
      color: #ffffff; }
      [data-template="header"] .header .header-sub .sub-item .fa {
        line-height: auto !important;
        line-height: initial !important; }
      [data-template="header"] .header .header-sub .sub-item a {
        color: #508bea;
        font-weight: bold; }
      [data-template="header"] .header .header-sub .sub-item:first-child {
        margin-left: -10px; }
      [data-template="header"] .header .header-sub .sub-item:hover {
        background: #456bb1; }
      [data-template="header"] .header .header-sub .sub-item .sub-menu {
        font-weight: normal;
        line-height: 35px;
        padding: 20px 0;
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        background: white;
        color: #555;
        text-align: left;
        z-index: -1;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
        border-radius: 0 0 4px 4px; }
        [data-template="header"] .header .header-sub .sub-item .sub-menu .fa {
          line-height: 35px; }
        [data-template="header"] .header .header-sub .sub-item .sub-menu .hl {
          font-size: 20px;
          font-weight: 200;
          margin: 0 0 15px;
          display: inline-block;
          line-height: 1.1; }
        [data-template="header"] .header .header-sub .sub-item .sub-menu .row .row > [class^="col-"] {
          border-left: 3px solid #eee;
          min-height: 200px;
          margin-left: -3px;
          padding-left: 13px; }
        [data-template="header"] .header .header-sub .sub-item .sub-menu .vert {
          display: none;
          position: absolute;
          top: 0;
          /* right: -15px; */
          bottom: 0;
          width: 1px;
          background: none;
          /* left: 0; */
          width: 25%;
          border-right: 1px solid #eee;
          margin-left: -15px; }

[data-template="menu"] .menu {
  position: fixed;
  width: 200px;
  background: #333;
  color: white;
  z-index: 1;
  left: -200px;
  top: 0;
  bottom: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: margin-left; }
  [data-template="menu"] .menu .header-close {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    background: #444; }
  [data-template="menu"] .menu .menu-items .menu-item {
    color: white;
    padding: 0 15px;
    line-height: 40px;
    margin-top: 1px;
    background: #444;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    border-left: 3px solid white;
    -webkit-transition: .2s;
            transition: .2s; }
    [data-template="menu"] .menu .menu-items .menu-item:hover {
      background: #444;
      border-color: #508bea; }
[data-template="menu"] .menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 200px;
  bottom: 0;
  z-index: 1000;
  display: none;
  cursor: pointer; }

.box {
  padding: 10px;
  background: #456bb1;
  color: white;
  border-radius: 4px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  font-size: 13px; }
  .box a {
    color: inherit;
    font-weight: bold; }
  .box p {
    font-size: 14px; }
  .box .box-side {
    position: absolute;
    top: 0;
    left: 0;
    right: 50%;
    bottom: 0;
    background: white;
    background-position: center;
    background-size: cover; }
  .box .box-header {
    color: white; }
    .box .box-header .box-icon {
      height: 25px;
      line-height: 25px;
      width: 25px;
      float: left;
      font-size: 25px;
      margin-right: 10px;
      font-weight: 800;
      text-align: center; }
      .box .box-header .box-icon img, .box .box-header .box-icon svg {
        height: 25px;
        width: auto; }
    .box .box-header .box-status {
      background: #e6eeee;
      border-radius: 4px;
      height: 25px;
      line-height: 25px;
      width: 25px;
      text-align: left;
      float: right;
      color: #508bea;
      font-size: 18px;
      margin-left: 10px;
      cursor: pointer; }
      .box .box-header .box-status .fa-plus, .box .box-header .box-status .fa-minus {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        text-align: center;
        width: 25px;
        height: 25px;
        line-height: 16px !important;
        padding: 6px;
        -webkit-transition: .3s;
                transition: .3s; }
      .box .box-header .box-status .fa-minus {
        visibility: visible;
        opacity: 1; }
    .box .box-header .box-title {
      font-size: 16px;
      text-align: left; }
    .box .box-header .box-content {
      margin: 10px 0 0;
      display: block; }
    .box .box-header .box-highlight {
      padding: 10px 10px;
      border-radius: 4px;
      color: white;
      background: #508bea;
      margin-bottom: 10px;
      display: block;
      text-decoration: none; }
      .box .box-header .box-highlight.grey {
        background: #f7f7f7;
        color: #555; }
      .box .box-header .box-highlight.blue {
        background: #F5FAFE;
        color: #555; }
      .box .box-header .box-highlight.yellow {
        background: #FEF3B3;
        color: #555; }
    .box .box-header .box-image {
      margin: 0 -10px -10px;
      height: 175px;
      background-size: cover;
      background-position: center; }
  .box.inactive .box-header .box-status .fa-plus {
    visibility: visible;
    opacity: 1; }
  .box.inactive .box-header .box-status .fa-minus {
    visibility: hidden;
    opacity: 0; }
  .box.inactive .box-content {
    display: none; }
  .box.box-red {
    background: #ce1029; }
  .box.box-white {
    background: white;
    color: #555; }
    .box.box-white .box-header {
      color: #456bb1; }
      .box.box-white .box-header .box-icon {
        color: #456bb1; }
    .box.box-white .box-content {
      color: #555; }

.box-table {
  border: none; }
  .box-table select, .box-table input, .box-table textarea {
    border: 1px solid #eee;
    color: #555;
    font-weight: 600; }
  .box-table .in-btn {
    height: 27px;
    line-height: 25px; }
  .box-table input[type=file] {
    border: none; }
  .box-table tr:nth-child(2n-1) {
    background: white !important; }
  .box-table tr:nth-child(2n) {
    background: #f7f7f7; }
    .box-table tr:nth-child(2n) .in {
      background: white; }
      .box-table tr:nth-child(2n) .in select, .box-table tr:nth-child(2n) .in input, .box-table tr:nth-child(2n) .in textarea {
        background: white; }
  .box-table tr {
    border-top: 1px solid #eee !important;
    border-bottom: none; }
  .box-table tr:last-of-type {
    border-bottom: 1px solid #eee !important; }
  .box-table td, .box-table th {
    border: none !important; }
  .box-table th {
    color: #456bb1; }

.box-questions .box-question {
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 5px;
  -webkit-transition: .2s;
          transition: .2s;
  background: white;
  color: #456bb1; }
  .box-questions .box-question .question-title {
    min-height: 20px;
    line-height: 20px;
    font-weight: bold;
    cursor: pointer; }
  .box-questions .box-question .question-content {
    margin-top: 15px; }
  .box-questions .box-question .question-status {
    float: right;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin-left: 10px;
    font-size: 18px;
    cursor: pointer; }
    .box-questions .box-question .question-status .fa {
      position: absolute;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center; }
    .box-questions .box-question .question-status .fa-angle-down {
      opacity: 1; }
    .box-questions .box-question .question-status .fa-angle-right {
      opacity: 0; }
  .box-questions .box-question.inactive {
    background: #508bea;
    color: white; }
    .box-questions .box-question.inactive .question-status .fa-angle-down {
      opacity: 0; }
    .box-questions .box-question.inactive .question-status .fa-angle-right {
      opacity: 1; }
    .box-questions .box-question.inactive .question-content {
      display: none; }

.box-twitter .tweets {
  max-height: 170px;
  overflow-y: scroll;
  margin-bottom: 15px; }
  .box-twitter .tweets .twitter-post {
    min-height: 50px;
    margin-bottom: 15px;
    position: relative; }
    .box-twitter .tweets .twitter-post .post-image {
      position: absolute;
      right: 0px;
      width: 50px;
      height: 50px;
      border-radius: 4px;
      background: #f7f7f7;
      background-size: cover;
      background-position: center; }
    .box-twitter .tweets .twitter-post .post-content {
      margin-right: 60px;
      text-align: right;
      color: #555; }
      .box-twitter .tweets .twitter-post .post-content .post-user {
        color: #456bb1;
        font-weight: 600;
        display: block;
        text-decoration: none;
        cursor: pointer; }
.box-twitter .social-icons {
  text-align: center;
  font-size: 25px; }
  .box-twitter .social-icons i.fa {
    margin: 0 10px;
    -webkit-transition: .2s;
            transition: .2s;
    cursor: pointer; }
    .box-twitter .social-icons i.fa:hover {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }

[data-template="banner"] .banner .banner-holder {
  height: 350px;
  position: relative; }
  @media (max-width: 767px) {
    [data-template="banner"] .banner .banner-holder {
      height: 250px; } }
  [data-template="banner"] .banner .banner-holder .banner-image {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-position: center;
    background-size: cover;
    display: none; }
    [data-template="banner"] .banner .banner-holder .banner-image:first-child {
      display: block; }
    [data-template="banner"] .banner .banner-holder .banner-image .banner-overlay {
      float: right;
      margin-top: 65px; }
      @media (max-width: 767px) {
        [data-template="banner"] .banner .banner-holder .banner-image .banner-overlay {
          margin-top: 30px; } }
      [data-template="banner"] .banner .banner-holder .banner-image .banner-overlay .overlay-title {
        background: white;
        color: #508bea;
        padding: 0 15px;
        line-height: 35px;
        width: 100%;
        font-weight: 600;
        font-size: 16px;
        border-radius: 4px 4px 0 0; }
      [data-template="banner"] .banner .banner-holder .banner-image .banner-overlay .overlay-subtitle {
        background: white;
        padding: 0 15px 15px;
        width: 100%;
        border-radius: 0 0 4px 4px; }

[data-template="slider"] .slider {
  margin-top: -30px; }
  [data-template="slider"] .slider .slider-box {
    border-radius: 4px 4px 0 0;
    background: white;
    padding: 10px;
    position: relative;
    z-index: 1;
    overflow: hidden; }
    [data-template="slider"] .slider .slider-box .box-status {
      background: #e6eeee;
      border-radius: 4px;
      height: 25px;
      line-height: 25px;
      width: 25px;
      text-align: left;
      float: right;
      color: #508bea;
      font-size: 18px;
      margin-right: 10px;
      cursor: pointer;
      position: relative;
      z-index: 10; }
      [data-template="slider"] .slider .slider-box .box-status .fa-plus, [data-template="slider"] .slider .slider-box .box-status .fa-minus {
        position: absolute;
        text-align: center;
        width: 25px;
        height: 25px;
        line-height: 16px !important;
        padding: 6px;
        -webkit-transition: .3s;
                transition: .3s; }
    [data-template="slider"] .slider .slider-box .slider-header {
      height: 30px;
      line-height: 30px;
      text-align: center;
      position: relative; }
      [data-template="slider"] .slider .slider-box .slider-header .header-right {
        position: absolute;
        right: 50px; }
      [data-template="slider"] .slider .slider-box .slider-header .header-left {
        position: absolute;
        left: 10px; }
      [data-template="slider"] .slider .slider-box .slider-header .slider-dots {
        text-align: center;
        margin: 0 10px; }
        @media (max-width: 767px) {
          [data-template="slider"] .slider .slider-box .slider-header .slider-dots {
            text-align: left; } }
        [data-template="slider"] .slider .slider-box .slider-header .slider-dots .slider-dot {
          height: 12px;
          width: 12px;
          display: inline-block;
          background: #f7f7f7;
          border-radius: 100px;
          margin: 9px 3px;
          cursor: pointer;
          -webkit-transition: .3s;
                  transition: .3s; }
          [data-template="slider"] .slider .slider-box .slider-header .slider-dots .slider-dot.active {
            background: #508bea; }
    [data-template="slider"] .slider .slider-box .slider-items {
      position: relative;
      white-space: nowrap;
      font-size: 0;
      overflow: hidden; }
      [data-template="slider"] .slider .slider-box .slider-items .slider-item {
        display: inline-block;
        width: 33.33333%;
        padding: 10px;
        vertical-align: top; }
        @media (max-width: 767px) {
          [data-template="slider"] .slider .slider-box .slider-items .slider-item {
            width: 100%; } }
        [data-template="slider"] .slider .slider-box .slider-items .slider-item .item-image {
          height: 150px;
          background-size: cover;
          background-position: center;
          border-radius: 4px 4px 0 0; }
        [data-template="slider"] .slider .slider-box .slider-items .slider-item .item-text {
          font-size: 12px;
          font-size: 13px;
          background: #f7f7f7;
          padding: 10px;
          min-height: 75px;
          border-radius: 0 0 4px 4px;
          white-space: initial; }
          @media (max-width: 767px) {
            [data-template="slider"] .slider .slider-box .slider-items .slider-item .item-text {
              font-size: 12px; } }
  [data-template="slider"] .slider .slider-bottom {
    width: 0;
    border: transparent 10px solid;
    border-right: 10px solid white;
    border-bottom: 10px solid white;
    margin: auto;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: -16px;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    z-index: 2; }
  [data-template="slider"] .slider .slider-blue-box {
    background: #456bb1;
    padding: 20px 10px 10px;
    position: relative;
    z-index: 1;
    overflow: hidden; }
    [data-template="slider"] .slider .slider-blue-box .gaca-btn a {
      color: inherit; }
    [data-template="slider"] .slider .slider-blue-box .blue-select {
      background: #508bea;
      padding: 10px;
      border-radius: 4px;
      color: white;
      margin-bottom: 10px; }
      [data-template="slider"] .slider .slider-blue-box .blue-select a.gaca-btn {
        color: inherit;
        text-decoration: none;
        font-weight: normal; }
        [data-template="slider"] .slider .slider-blue-box .blue-select a.gaca-btn:hover {
          color: #508bea; }
      [data-template="slider"] .slider .slider-blue-box .blue-select a {
        color: inherit;
        font-weight: bold; }
      [data-template="slider"] .slider .slider-blue-box .blue-select .clearfix {
        cursor: pointer; }
      [data-template="slider"] .slider .slider-blue-box .blue-select .blue-icon {
        background: white;
        border-radius: 50px;
        height: 40px;
        width: 40px;
        color: #508bea;
        text-align: center;
        font-size: 25px;
        float: left;
        line-height: 40px; }
      [data-template="slider"] .slider .slider-blue-box .blue-select .select-text {
        font-size: 16px;
        font-weight: 600;
        line-height: 40px;
        padding-left: 55px; }
        @media (max-width: 767px) {
          [data-template="slider"] .slider .slider-blue-box .blue-select .select-text {
            font-size: 12px; } }
        [data-template="slider"] .slider .slider-blue-box .blue-select .select-text .select-arrow {
          font-size: 25px;
          float: right;
          margin-left: 10px;
          margin-right: 10px;
          -webkit-transition: .2s;
                  transition: .2s;
          -webkit-transform: rotate(-180deg);
              -ms-transform: rotate(-180deg);
                  transform: rotate(-180deg); }
      [data-template="slider"] .slider .slider-blue-box .blue-select .select-content {
        margin-top: 15px; }
      [data-template="slider"] .slider .slider-blue-box .blue-select.inactive .select-arrow {
        -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
                transform: rotate(0deg); }
      [data-template="slider"] .slider .slider-blue-box .blue-select.inactive .select-content {
        display: none; }

[data-template="content"] .content-banner {
  height: 350px;
  position: relative;
  background-position: center;
  background-size: cover;
  margin-bottom: -30px; }
  @media (max-width: 767px) {
    [data-template="content"] .content-banner {
      height: 250px; } }
[data-template="content"] .content {
  background: #c5ced3;
  padding: 45px 10px 1px;
  min-height: 80vh; }
  @media (max-width: 991px) {
    [data-template="content"] .content {
      padding-top: 15px; } }
  [data-template="content"] .content img {
    width: 100%;
    border-radius: 4px; }
  [data-template="content"] .content .box-highlight.hl {
    border-left: 3px solid #508bea;
    padding: 10px 15px;
    margin-bottom: 5px;
    -webkit-transition: .2s;
            transition: .2s;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-transform: none; }
    [data-template="content"] .content .box-highlight.hl:hover {
      border-left-width: 6px;
      color: #508bea;
      padding-left: 12px; }
      [data-template="content"] .content .box-highlight.hl:hover .gallery-image {
        -webkit-filter: grayscale(0%);
                filter: grayscale(0%); }
    [data-template="content"] .content .box-highlight.hl.hl-yellow {
      border-color: gold; }
    [data-template="content"] .content .box-highlight.hl.hl-red {
      border-color: #ce1029; }
    [data-template="content"] .content .box-highlight.hl.hl-none {
      padding-left: 15px;
      border-left: none;
      border-color: transparent;
      margin-bottom: 30px; }
    [data-template="content"] .content .box-highlight.hl .gallery-image {
      margin: -15px -15px 0px;
      height: 130px;
      border-radius: 0;
      background-size: cover;
      background-position: center;
      background-color: #f7f7f7;
      display: block;
      -webkit-transition: .2s;
              transition: .2s;
      -webkit-filter: grayscale(0%);
              filter: grayscale(0%); }

[data-template="department"] .department {
  background: #c5ced3;
  padding: 45px 10px 1px;
  min-height: 80vh; }
  @media (max-width: 991px) {
    [data-template="department"] .department {
      padding-top: 15px; } }
  [data-template="department"] .department .box-highlight.hl {
    border-left: 3px solid #508bea;
    padding: 10px 15px;
    margin-bottom: 5px;
    -webkit-transition: .2s;
            transition: .2s;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-transform: none; }
    [data-template="department"] .department .box-highlight.hl:hover {
      border-left-width: 6px;
      color: #508bea;
      padding-left: 12px; }
      [data-template="department"] .department .box-highlight.hl:hover .gallery-image {
        -webkit-filter: grayscale(0%);
                filter: grayscale(0%); }
    [data-template="department"] .department .box-highlight.hl.hl-yellow {
      border-color: gold; }
    [data-template="department"] .department .box-highlight.hl.hl-red {
      border-color: #ce1029; }
    [data-template="department"] .department .box-highlight.hl.hl-none {
      padding-left: 15px;
      border-left: none;
      border-color: transparent;
      margin-bottom: 30px; }
    [data-template="department"] .department .box-highlight.hl .gallery-image {
      margin: -15px -15px 0px;
      height: 130px;
      border-radius: 0;
      background-size: cover;
      background-position: center;
      background-color: #f7f7f7;
      display: block;
      -webkit-transition: .2s;
              transition: .2s;
      -webkit-filter: grayscale(0%);
              filter: grayscale(0%); }

[data-template="dashboard"] .dashboard {
  background: #c5ced3;
  padding: 45px 10px 1px;
  min-height: 80vh; }
  @media (max-width: 991px) {
    [data-template="dashboard"] .dashboard {
      padding-top: 15px; } }
[data-template="dashboard"] .psuedo-table .gaca-btn {
  font-weight: bold;
  position: relative;
  margin-left: 15px;
  margin-bottom: 5px;
  color: white;
  float: right;
  clear: right;
  text-decoration: none; }
  [data-template="dashboard"] .psuedo-table .gaca-btn:hover {
    color: #508bea; }

[data-template="home-boxes"] .home-boxes {
  background: #c5ced3;
  padding: 20px; }

[data-template="e-service"] .e-service {
  background: #c5ced3;
  padding: 45px 10px 1px;
  min-height: 80vh;
  color: white; }
  @media (max-width: 991px) {
    [data-template="e-service"] .e-service {
      padding-top: 15px; } }
  @media (max-width: 767px) {
    [data-template="e-service"] .e-service {
      padding-top: 30px; } }
[data-template="e-service"] .e-popup {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: none;
  overflow: auto;
  z-index: 200; }
  [data-template="e-service"] .e-popup .popup-overlay {
    background: rgba(0, 0, 0, 0.2);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 200; }
  [data-template="e-service"] .e-popup .popup-block {
    position: relative;
    margin-top: 20%;
    background: white;
    border-radius: 4px;
    padding: 30px;
    margin-bottom: 30px;
    z-index: 201; }

[data-template="e-catalogue"] .e-catalogue .box-highlight {
  white-space: normal;
  padding: 5px 10px; }

[data-template="search"] .search {
  direction: ltr;
  line-height: 35px;
  background: #c5ced3;
  padding: 45px 10px 1px;
  min-height: 80vh; }
  @media (max-width: 991px) {
    [data-template="search"] .search {
      padding-top: 15px; } }
  [data-template="search"] .search .search-list {
    line-height: 25px; }
    [data-template="search"] .search .search-list .search-check {
      margin: 5px 0;
      height: 15px;
      width: 15px;
      border-radius: 30px;
      border: 3px solid #508bea;
      float: right;
      cursor: pointer;
      -webkit-transition: .2s;
              transition: .2s; }
      [data-template="search"] .search .search-list .search-check.checked {
        background: #508bea; }
  [data-template="search"] .search .search-results {
    min-height: 800px; }
    [data-template="search"] .search .search-results .result {
      background: #f7f7f7;
      height: 140px;
      border-radius: 4px;
      margin-bottom: 30px;
      padding: 15px;
      border-left: 3px solid #508bea;
      line-height: 1;
      font-size: 12px;
      display: none;
      cursor: pointer; }
      @media (max-width: 767px) {
        [data-template="search"] .search .search-results .result {
          font-size: 12px; } }
      [data-template="search"] .search .search-results .result .result-icon {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        line-height: 1;
        font-size: 27px; }
      [data-template="search"] .search .search-results .result .result-header {
        border-top-right-radius: 4px;
        height: 25px;
        line-height: 25px;
        margin: -15px -15px 10px;
        padding: 0 15px;
        font-weight: 400;
        text-transform: uppercase;
        background: #eee;
        color: #bbb;
        -webkit-transition: .3s;
                transition: .3s; }
        [data-template="search"] .search .search-results .result .result-header .header-e-service {
          float: right;
          color: #6cc70c;
          font-weight: bold; }
          [data-template="search"] .search .search-results .result .result-header .header-e-service .e-service-dot {
            margin: 7px 0 7px 7px;
            height: 11px;
            width: 11px;
            border-radius: 30px;
            background: #6cc70c;
            float: right;
            cursor: pointer;
            -webkit-transition: .2s;
                    transition: .2s; }
          [data-template="search"] .search .search-results .result .result-header .header-e-service.unavailable {
            color: red; }
            [data-template="search"] .search .search-results .result .result-header .header-e-service.unavailable .e-service-dot {
              background: red; }
      [data-template="search"] .search .search-results .result .result-field {
        clear: both;
        line-height: 1.4;
        color: #999;
        display: block; }
        [data-template="search"] .search .search-results .result .result-field strong {
          display: inline-block;
          width: 80px; }
      [data-template="search"] .search .search-results .result .result-title {
        margin-bottom: 10px;
        font-weight: bold;
        color: #508bea;
        font-size: 12px; }
      [data-template="search"] .search .search-results .result .result-date {
        float: right;
        color: #bbb;
        font-weight: bold;
        margin-left: 10px; }
      [data-template="search"] .search .search-results .result .result-link {
        clear: right;
        float: right;
        font-weight: bold;
        margin-left: 10px;
        margin-top: 10px;
        color: #508bea;
        color: #6cc70c;
        color: #6cc70c;
        font-size: 26px; }
      [data-template="search"] .search .search-results .result:hover {
        border-left: 3px solid #456bb1; }
        [data-template="search"] .search .search-results .result:hover .result-header {
          background: #456bb1;
          color: white; }
  [data-template="search"] .search .gaca-search {
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    background: #f7f7f7;
    border: none;
    border-radius: 4px;
    display: block;
    width: 100%; }
    @media (max-width: 767px) {
      [data-template="search"] .search .gaca-search {
        font-size: 12px; } }
  [data-template="search"] .search .search-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 12px;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    background: #f7f7f7;
    color: #333;
    padding: 0 15px;
    border: none;
    border-radius: 4px;
    float: left;
    text-align: left;
    padding-right: 45px;
    cursor: pointer;
    cursor: hand;
    width: 100%;
    margin-bottom: 15px;
    -webkit-transition: 0.3s;
            transition: 0.3s; }
    @media (max-width: 767px) {
      [data-template="search"] .search .search-select {
        font-size: 12px; } }
    [data-template="search"] .search .search-select.simple {
      padding: 0 15px; }
  [data-template="search"] .search .search-after {
    text-align: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    content: "";
    height: 35px;
    line-height: 35px;
    background: #508bea;
    color: white;
    float: left;
    margin-left: -35px;
    width: 35px;
    z-index: 5; }
    [data-template="search"] .search .search-after:hover {
      background: #456bb1;
      color: white; }

[data-template="register"] .register {
  background: #c5ced3;
  padding: 45px 10px 1px;
  min-height: 80vh;
  color: #ffffff; }
  @media (max-width: 991px) {
    [data-template="register"] .register {
      padding-top: 15px; } }

[data-template="gallery"] .gallery {
  background: #c5ced3;
  padding: 45px 10px 1px;
  min-height: 80vh; }
  @media (max-width: 991px) {
    [data-template="gallery"] .gallery {
      padding-top: 15px; } }
  [data-template="gallery"] .gallery .box-highlight {
    border-left: 3px solid #508bea;
    padding: 10px 15px;
    margin-bottom: 5px;
    color: #456bb1;
    -webkit-transition: .2s;
            transition: .2s;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: white; }
    [data-template="gallery"] .gallery .box-highlight.grey {
      cursor: pointer; }
    [data-template="gallery"] .gallery .box-highlight:hover {
      border-left-width: 6px;
      color: #508bea;
      padding-left: 12px; }
      [data-template="gallery"] .gallery .box-highlight:hover .gallery-image {
        -webkit-filter: grayscale(0%);
                filter: grayscale(0%); }
    [data-template="gallery"] .gallery .box-highlight.hl-yellow {
      border-color: gold; }
    [data-template="gallery"] .gallery .box-highlight.hl-red {
      border-color: #ce1029; }
    [data-template="gallery"] .gallery .box-highlight.hl-none {
      padding-left: 15px;
      border-left: none;
      border-color: transparent;
      margin-bottom: 30px; }
    [data-template="gallery"] .gallery .box-highlight .gallery-image {
      margin: -15px -15px 0px;
      height: 130px;
      border-radius: 0;
      background-size: cover;
      background-position: center;
      background-color: #f7f7f7;
      display: block;
      -webkit-transition: .2s;
              transition: .2s;
      -webkit-filter: grayscale(0%);
              filter: grayscale(0%); }

[data-template="footer"] #footer {
  color: #f7f7f7;
  text-align: center; }
  [data-template="footer"] #footer .footer-top {
    background: #508bea;
    padding: 15px 15px 10px; }
    [data-template="footer"] #footer .footer-top img {
      margin: 0 10px 5px;
      height: 40px; }
  [data-template="footer"] #footer .footer-bottom {
    line-height: 30px;
    background: #456bb1;
    padding: 30px; }
