body {
  opacity: 0;
  -webkit-transition: .3s;
          transition: .3s;
  -webkit-transition-delay: .3s;
          transition-delay: .3s; }
  body.active {
    opacity: 1; }

.in {
  height: 25px; }
  .in input, .in select, .in textarea {
    height: 25px; }

flights-item .flights {
  padding-top: 50px; }
  flights-item .flights .choose-airport {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
    background: none;
    color: #243d7f;
    font-size: 20px;
    font-weight: 200;
    margin: 0 0 10px;
    cursor: pointer; }
  flights-item .flights hr {
    margin: 10px 0; }
  flights-item .flights .sort-caret {
    display: inline-block;
    position: absolute;
    right: 20px;
    line-height: 40px;
    pointer-events: none; }
    flights-item .flights .sort-caret.ar {
      left: 20px;
      right: initial;
      right: auto; }
  flights-item .flights .flight-tabs {
    margin-top: 20px; }
    flights-item .flights .flight-tabs .tab-headers {
      height: 40px; }
    flights-item .flights .flight-tabs .tab-header {
      height: 41px;
      float: left;
      line-height: 40px;
      padding: 0 20px;
      min-width: 150px;
      margin-bottom: -1px;
      border: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      margin-right: 10px;
      position: relative;
      -webkit-transition: .3s;
              transition: .3s;
      cursor: pointer; }
      flights-item .flights .flight-tabs .tab-header.active {
        background: #f7f7f7;
        border: 1px solid #ddd;
        border-bottom: 1px solid #f7f7f7;
        font-weight: bold;
        color: #2c80c0; }
    flights-item .flights .flight-tabs .flight-bar {
      padding: 20px 20px 0; }
    flights-item .flights .flight-tabs .in input, flights-item .flights .flight-tabs .in select {
      background: white;
      border: 1px solid #ddd;
      line-height: 40px;
      height: 40px;
      border-radius: 0; }
    flights-item .flights .flight-tabs .flight-content {
      background: #f7f7f7;
      border: 1px solid #ddd; }
    flights-item .flights .flight-tabs .flight-cards {
      margin: 20px;
      overflow-y: hidden;
      overflow-x: scroll;
      white-space: nowrap;
      border: 1px solid #ddd;
      background: #fff;
      padding: 20px;
      padding-bottom: 20px;
      height: 475px; }
      flights-item .flights .flight-tabs .flight-cards::-webkit-scrollbar {
        -webkit-appearance: none; }
      flights-item .flights .flight-tabs .flight-cards::-webkit-scrollbar:vertical {
        width: 11px; }
      flights-item .flights .flight-tabs .flight-cards::-webkit-scrollbar:horizontal {
        height: 10px;
        padding: 5px; }
      flights-item .flights .flight-tabs .flight-cards::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 2px solid rgba(0, 0, 0, 0.1);
        /* should match background, can't be transparent */
        background-color: #2c80c0; }
      flights-item .flights .flight-tabs .flight-cards::-webkit-scrollbar-track {
        background-color: #eee;
        border-radius: 8px;
        margin: 20px; }
    flights-item .flights .flight-tabs .flight-card {
      padding: 10px;
      height: 435px;
      width: 250px;
      background: white;
      border: 1px solid #ddd;
      margin-right: 20px;
      display: inline-block;
      white-space: normal;
      position: relative;
      text-align: center;
      vertical-align: top; }
      flights-item .flights .flight-tabs .flight-card .card-header {
        line-height: 50px;
        height: 50px;
        font-size: 30px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
        text-align: center;
        margin: -10px -10px 10px;
        background: #f7f7f7; }
      flights-item .flights .flight-tabs .flight-card .header-logo-holder {
        margin: 0px 0px 10px;
        height: 60px;
        position: relative;
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat; }
      flights-item .flights .flight-tabs .flight-card .header-logo {
        width: 100%;
        font-size: 10px; }
      flights-item .flights .flight-tabs .flight-card .card-airline {
        line-height: 30px;
        font-weight: bold;
        background: #2c80c0;
        color: white;
        text-align: center;
        margin: -11px -11px 10px;
        /* border-bottom: 1px solid #ddd; */ }
      flights-item .flights .flight-tabs .flight-card .card-tofrom {
        text-align: center; }
      flights-item .flights .flight-tabs .flight-card .card-place {
        text-align: center;
        font-size: 30px;
        color: #2c80c0;
        font-weight: bold; }
      flights-item .flights .flight-tabs .flight-card .card-terminal {
        text-align: center;
        font-weight: bold; }
      flights-item .flights .flight-tabs .flight-card .card-time {
        color: #00a886;
        font-weight: bold; }
        flights-item .flights .flight-tabs .flight-card .card-time.delayed {
          color: #cf2e31;
          -webkit-animation: blinker 1s linear infinite;
                  animation: blinker 1s linear infinite; }
        flights-item .flights .flight-tabs .flight-card .card-time strong {
          letter-spacing: 1px;
          font-size: 30px; }
      flights-item .flights .flight-tabs .flight-card .card-status {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        line-height: 40px;
        background: #333;
        color: white;
        font-weight: 900;
        letter-spacing: 1px;
        text-decoration: blink; }
        flights-item .flights .flight-tabs .flight-card .card-status .card-text, flights-item .flights .flight-tabs .flight-card .card-status .card-gate {
          color: white;
          -webkit-animation: blinker 1s linear infinite;
                  animation: blinker 1s linear infinite;
          font-size: 18px; }
        flights-item .flights .flight-tabs .flight-card .card-status .card-gate {
          background: #243d7f; }

@-webkit-keyframes blinker {
  50% {
    opacity: 0.3; } }

@keyframes blinker {
  50% {
    opacity: 0.3; } }

search-flight-box-item .search-flight-box .in {
  margin-top: 15px; }
  search-flight-box-item .search-flight-box .in .in-btn {
    background: #243d7f;
    border-color: #243d7f; }
  search-flight-box-item .search-flight-box .in .gaca-btn {
    background: #243d7f; }

search-flight-box-item .search-flight-box hr {
  background: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.2); }

search-flight-box-item .search-flight-box .in-btn {
  pointer-events: none; }

search-flight-box-item .search-flight-box .weather-title {
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f7f7f7;
  border-color: rgba(255, 255, 255, 0.2); }

search-flight-box-item .search-flight-box .weather-desc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  height: 66px;
  text-transform: capitalize;
  text-align: center;
  font-size: 15px;
  line-height: 20px; }

search-flight-box-item .search-flight-box .weather-temp {
  line-height: 56px;
  font-size: 46px;
  font-weight: 100;
  color: #2c80c0;
  color: white;
  text-align: center; }
  search-flight-box-item .search-flight-box .weather-temp span {
    font-size: 14px;
    display: inline-block;
    vertical-align: super;
    font-weight: 300; }

search-flight-box-item .search-flight-box .weather-icon {
  line-height: 36px;
  vertical-align: middle; }
  search-flight-box-item .search-flight-box .weather-icon img {
    height: 66px;
    text-align: center; }

box-item .new-box {
  opacity: 0;
  -webkit-transition: .3s;
          transition: .3s; }
  box-item .new-box .box-content {
    height: 0; }
  box-item .new-box.visible {
    opacity: 1; }
    box-item .new-box.visible .box-content {
      height: auto; }
