<script type="text/ng-template" id="box-item.html">

    <div class="box new-box clearfix {{box.styleClass}}" ng-class="{inactive:!box.active, visible:box.isVisible()}">
        <div class="box-header">
            <div class="box-icon">
                <i class="fa fa-{{box.icon}}"></i>
            </div>
            <div class="box-status" ng-click="box.changeActive()">
                <i class="fa fa-plus"></i>
                <i class="fa fa-minus"></i>
            </div>
            <div class="box-title">{{box.header}}</div>
            <div ng-transclude></div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="flights-item.html">

    <div class="container">
        <div class="box">

            <div class="flights">
                <h1>Flight Information</h1>
                <hr>

                <select ng-options="airport.code as airport.name for airport in flights.getAirports()"
                        class="choose-airport"
                        ng-model="flights.getQuery().airport"
                        ng-change="flights.search()"
                        style="padding-right: 20px;"
                        ng-hide="$root.getLang() == 'ar'"
                >
                </select>

                <select ng-options="airport.code as airport.arabicName for airport in flights.getAirports()"
                        class="choose-airport"
                        ng-model="flights.getQuery().airport"
                        ng-change="flights.search()"
                        style="padding-right: 20px;"
                        ng-show="$root.getLang() == 'ar'"
                >
                </select>


                <h2 style="display: inline-block;position: relative;left:-20px;pointer-events: none;">&nbsp; <i class="fa fa-caret-down"></i></h2>


                <div class="flight-tabs">
                    <div class="tab-headers">
                        <div class="tab-header" ng-class="{'active':flights.showArrivals()}" ng-click="flights.changeShowing()"><i class="fa fa-plane" style="transform: rotate(90deg)"></i> &nbsp; {{flights.stringArrivals}}</div>
                        <div class="tab-header" ng-class="{'active':!flights.showArrivals()}" ng-click="flights.changeShowing()"><i class="fa fa-plane"></i> &nbsp; {{flights.stringDepartures}}</div>
                    </div>

                    <div class="flight-content">
                        <div class="flight-bar">

                            <div class="row">
                                <div class="col-sm-3">
                                    <p style="text-transform:uppercase;">{{flights.stringSearchText}}</p>

                                    <div class="in block">
                                        <input type="text" placeholder="{{flights.stringSearchText}}" ng-model="flights.getQuery().flight" style="text-transform:uppercase;">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <p style="text-transform:uppercase;">{{flights.sort}}</p>

                                    <div class="in block">
                                        <p style="display: inline-block;position: absolute;right:20px;line-height:40px;pointer-events: none;">&nbsp; <i class="fa fa-caret-down"></i></p>
                                        <select style="text-transform:uppercase;" ng-model="orderOption" ng-init="orderOption = 'EST_TIME'">
                                            <option value="EST_TIME">{{flights.stringTime}}</option>
                                            <option value="FL_NUMBER">{{flights.stringFlightNumber}}</option>
                                            <option value="GATE_1" ng-if="!flights.showArrivals()">{{flights.stringGate}}</option>
                                            <option value="AIRLINE_DESCR">{{flights.stringAirline}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="flight-cards">
                            <div>
                                <div ng-hide="flights.getFlights().length || flights.getFlights() == undefined">
                                    <i class="fa fa-spin fa-cog fa-3x"></i>
                                </div>
                                <div ng-hide="filteredItems.length || !(flights.getFlights().length) || flights.getFlights() == undefined">
                                    {{flights.stringNoResults}}
                                </div>
                                <div class="flight-card"
                                     ng-repeat="flight in filteredItems = (flights.getFlights() | filter:flights.getQuery().flight | orderBy:orderOption)"
                                     ng-show="flights.showArrivals() && flight.ARR_DEP == 'A' || !flights.showArrivals() && flight.ARR_DEP == 'D'"
                                >
                                    <div class="card-header">
                                        <span>{{flight.AIRLINE}}{{flight.FL_NUMBER}}</span>
                                    </div>
                                    <!--<img ng-show="flight.AIRLINE" ng-src="{{'/Airlines/' + flight.AIRLINE + '.png'}}" class="header-logo">-->

                                    <div class="card-airline">{{flight.AIRLINE_DESCR}}</div>
                                    <div class="card-tofrom" ng-show="flight.ARR_DEP == 'A'">{{flights.stringFrom}}</div>
                                    <div class="card-tofrom" ng-hide="flight.ARR_DEP == 'A'">{{flights.stringTo}}</div>
                                    <div class="card-place">{{flight.ROUTING_ENG}}</div>

                                    <hr>
                                    <div class="card-terminal">TERMINAL {{flight.TERMINAL}}</div>
                                    <div class="card-terminal"><span ng-show="flight.BAGGAGE_1 != 'NA'" style="text-transform: uppercase">{{flights.stringBaggage}} {{flight.BAGGAGE_1}}</span></div>
                                    <hr>

                                    <div class="card-time" ng-show="flight.ARR_DEP == 'A'" ng-class="{'delayed':flight.FL_STATUS_1 == 'DELAYED'}" style="text-transform: uppercase">{{flights.stringExpected}}</div>
                                    <div class="card-time" ng-hide="flight.ARR_DEP == 'A'" ng-class="{'delayed':flight.FL_STATUS_1 == 'DELAYED'}" style="text-transform: uppercase">{{flights.stringDeparting}}</div>
                                    <div class="card-time" ng-class="{'delayed':flight.FL_STATUS_1 == 'DELAYED'}"><strong>{{flights.getTime(flight.EST_TIME)}}</strong></div>


                                    <hr>

                                    <div class="card-status" ng-show="flight.FL_STATUS_1 != 'NA' || flight.GATE_1 != 'NA'">
                                        <div class="card-gate" ng-show="flight.GATE_1 != 'NA'">{{flights.stringGate}} {{flight.GATE_1}}</div>
                                        <div class="card-text" ng-show="flight.FL_STATUS_1 != 'NA'">{{flight.FL_STATUS_1}}</div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>


    </div>
</script>
<script type="text/ng-template" id="search-flight-box-item.html">
    <div class="box-content">
        <div class="search-flight-box clearfix">

            <div class="in block">
                <select ng-options="airport.name for airport in search.getAirports()"
                        ng-model="airport"
                        ng-change="search.changeSelect(airport)"
                        ng-hide="$root.getLang() == 'ar'"
                >
                    <option value="" selected="selected">{{search.stringChoose}}</option>
                </select>

                <select ng-options="airport.arabicName for airport in search.getAirports()"
                        ng-model="airport"
                        ng-change="search.changeSelect(airport)"
                        ng-show="$root.getLang() == 'ar'"
                >
                    <option value="" selected="selected">{{search.stringChoose}}</option>
                </select>

                <span class="in-btn">
                    <i class="fa fa-caret-down"></i>
                </span>
            </div>

            <div class="in block">
                <div class="row">
                    <div class="col-xs-8">
                        <input type="search" placeholder="{{search.stringFlightNo}}" ng-model="search.getQuery().flight">
                    </div>
                    <div class="col-xs-4">
                        <div class="gaca-btn" style="width: 100%" ng-click="search.externalSearch($event)">{{search.stringSearch}}</div>
                    </div>
                </div>
            </div>


            <div class="row" ng-show="airport.weather">
                <hr style="margin-bottom: 10px;">
                <!--{{search.getQuery()}}-->
                <!--<div class="col-xs-12" style="text-transform: capitalize">-->
                    <!--<div class="weather-title">-->
                        <!--Weather at {{airport.name}}-->
                    <!--</div>-->
                <!--</div>-->
                <div class="col-xs-4">
                    <div class="weather-desc">{{airport.weather.weather[0].description}}</div>
                </div>
                <div class="col-xs-4">
                    <div class="weather-temp">
                        {{search.calcTemp(airport.weather.main.temp)}}<span>°C</span>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="weather-icon">
                        <img ng-src="http://openweathermap.org/img/w/{{airport.weather.weather[0].icon}}.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>