[data-template="header"] {
  .header {
    position: fixed;
    top: 36px;
    left: 0;
    right: 0;
    z-index: 100;
    min-width: 100vw;

    .arabic & {
      text-align: right;
      direction: rtl;
    }

    .header-bar {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 36px;
      line-height: 33px;
      //      font-weight: 800;
      background: white;
      //      background: rgba(255,255,255,0.95);
      border-top: 3px solid $grey;
      //      border-bottom: 1px solid $light-grey;

      .arabic & {
        direction: rtl;
      }
    }

    .header-logo {
      position: absolute;
      top: -30px;
      font-weight: 600;
      letter-spacing: -0.5px;
      z-index: 10;

      .arabic & {
        right: 0;
      }

      @media(max-width: 991px) {
        left: 50px;
        top: 0px;

      }

      img {
        height: 100px;

        @media(max-width: 991px) {
          height: 35px;
        }
      }
    }

    .updates {
      border-radius: 100px;
      height: 15px;
      line-height: 15px;
      width: 15px;
      background: $prim-dark;
      color: #ffffff;
      font-weight: 500;
      text-align: center;
      display: inline-block;
      margin-right: 5px;
      cursor: pointer;
      font-size: 10px;
      top: -1px;
      position: relative;

      transition: .3s;

      &:hover {
        background: $prim-light;
      }
    }

    .search-box {
      float: right;
      margin-left: 15px;

      .arabic & {
        float: left;
        margin-left: 0;
        margin-right: 15px;
      }
    }

    .container {
      position: relative;
    }

    .in {

      &.block {
      }

      input, select {
        border: 1px solid #eee;
        height: 25px;
        line-height: 23px;
      }
    }

    a {
      text-decoration: none;
    }

    .show-login-popup {
      @media(max-width: 991px) {
        padding: 0 15px;
        height: 40px;
        line-height: 40px;
      }
    }

    .header-line {
      padding: 25px 0px;
      height: 75px;
      line-height: 25px;
      background: white;
      //      background: rgba(255,255,255,0.95);

      @media(max-width: 991px) {
        padding: 0 25px;
        height: 40px;
      }

      .pull-right {
        color: $prim-dark;
        font-weight: 600;
        position: absolute;
        top: 0;
        right: 0;

        img {
          margin-top: -25px;
          height: 70px;
          width: auto;
          vertical-align: top;

          @media(max-width: 991px) {
            height: 30px;
            margin-top: 5px;

          }
        }
      }
    }

    .header-menu {
      color: #555;
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 18px;
      cursor: pointer;
      text-align: center;

      background: rgba(0, 0, 0, 0.1);
    }

    .header-sub {
      background: rgba(0, 0, 0, 0.4);
      background: $prim-light;
      background: $light-grey;
      background: rgba(255, 255, 255, 0.85);
      height: 35px;
      line-height: 35px;
      color: $dark-grey;
      font-size: 13px;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
      background: $prim-light;
      background: transparentize($prim-light, 0.15);
      color: white;

      .sub-item {
        float: left;
        //        width: (100% / 7);
        //        width: (100% / 7);
        text-align: center;
        font-weight: 400;
        cursor: pointer;
        //        background: $light-grey;
        transition: .3s;
        //        padding: 0 20px;
        width: 12.5%;
        color: $dark-grey;
        color: white;
        letter-spacing: -0.6px;
        font-size: 13px;
        white-space: nowrap;

        .arabic & {
          float: right;
        }

        .fa {
          line-height: auto !important;
          line-height: initial !important;
        }

        a {
          color: inherit;
        }

        &:first-child {
          margin-left: -10px;
        }

        &:hover {
          //          margin-top: 3px;
          background: white;
          color: $grey;;
          //          color: $prim-light;
          //          line-height: 32px;
          //          border-radius: 4px 4px 0 0;
          .sub-menu {
            //            display: block;
          }

        }

        .sub-menu {
          font-weight: normal;
          line-height: 35px;
          padding: 20px 0;
          display: none;
          position: absolute;
          left: 0;
          right: 0;
          background: white;
          color: #555;
          text-align: left;
          z-index: 1;
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
          border-radius: 0 0 4px 4px;

          white-space: normal;

          a {
            color: $prim-light;
          }

          .arabic & {
            text-align: right;
          }

          .fa {
            line-height: 35px;
          }

          .hl {
            font-size: 20px;
            font-weight: 900;
            font-weight: 200;
            margin: 0 0 15px;
            display: inline-block;
            line-height: 1.1;
            color: $dark-grey;
            color: $prim-light;
          }

          .row .row > [class^="col-"] {
            border-left: 3px solid #eee;
            min-height: 200px;
            margin-left: -3px;
            padding-left: 13px;
            padding-right: 20px;
            padding-left: 23px;

            .arabic & {
              border-left: none;
              border-right: 3px solid #eee;
              text-align: right;
              margin-left: 0px;
              padding-left: 0px;
              margin-right: -3px;
              padding-right: 23px;
              padding-left: 20px;

              .fa {
                transform: rotate(180deg);
              }
            }
          }

          .vert {
            display: none;
            position: absolute;
            top: 0;
            /* right: -15px; */
            bottom: 0;
            width: 1px;
            background: none;
            /* left: 0; */
            width: 25%;
            border-right: 1px solid #eee;
            margin-left: -15px;

            .arabic & {
              float: right;
              border-right: none;
              border-left: 1px solid #eee;
              margin-right: -15px;
              margin-left: 0;
            }
          }

        }
      }
    }
  }
}