<div data-template="header" data-main data-ng-controller="HeaderCtrl">
    <div class="header">
        <div class="container">
            <a href="/" class="header-logo">
                <img src="public/img/gaca-logo.png" style=""/>
                <span class="hidden-xs hidden-sm">General Authority of Civil Aviation</span>
                <!--<span class="hidden-sm hidden-xs">-->
                <!--الهيئة العامة للطيران المدني-->
                <!--</span>-->
            </a>
        </div>
        <div class="header-line">
            <div class="header-menu visible-xs visible-sm">
                <i class="fa fa-bars"></i>
            </div>

            <div class="container">
                <div class="col-sm-12">

                    <div class="pull-right">
                        <div class="in sm hidden-xs search-box">
                            <input type="text"/>

                            <div class="in-btn">
                                <i class="fa fa-search"></i>
                            </div>
                        </div>

                        <a href="#" class="hidden-xs"><strong>Arabic</strong></a>

                        <div class="vd hidden-xs"></div>

                        <span class="gaca-form">
                            <form>
                                <span class="hidden-xs hidden-sm" style="cursor: pointer">

                                    <span class="updates">3</span>
                                    <i class="fa fa-user"></i>  &nbsp;
                                    <span class="in sm">
                                        <input type="text" placeholder="Username">
                                    </span>  &nbsp;
                                    <span class="in sm">
                                        <input type="text" placeholder="Password">
                                    </span>  &nbsp;
                                    <span class="gaca-btn">Login &nbsp; <i class="fa fa-lock"></i></span>  &nbsp;
                                    <span class="gaca-btn">Register &nbsp; <i class="fa fa-user"></i></span>
                                </span>

                                <span class="show-login-popup hidden-md hidden-lg" style="cursor: pointer;">
                                    <span class="updates">3</span>
                                    <i class="fa fa-user"></i> &nbsp; Login
                                </span>
                            </form>
                        </span>
                    </div>


                </div>
            </div>
        </div>

        <div class="header-sub hidden-sm hidden-xs">
            <div class="container" style="position: relative">
                <div class="col-xs-12">
                    <div class="sub-item">
                        About GACA &nbsp; <i class="fa fa-angle-down"></i>
                        <div class="sub-menu">
                            <div class="container">
                                <div class="vert"></div>
                                <div class="row">
                                    <div class="col-sm-4" style="text-align: center">
                                        <p class="hl">About GACA</p>
                                        <br/>
                                        <img src="public/img/gaca-logo.png" style="height:100px;" alt=""/>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a class="hl" href="/">Homepage</a>
                                                <p>Li Europan lingues es familie. Lor separat myth.</p>

                                                <p><i class="fa fa-angle-right"></i> &nbsp; <a href="#">Link 1</a></p>
                                                <!--<p><i class="fa fa-angle-right"></i> &nbsp; <a href="#">Link 2</a></p>-->
                                                <!--<p><i class="fa fa-angle-right"></i> &nbsp; <a href="#">Link 3</a></p>-->
                                            </div>
                                            <div class="col-sm-6">
                                                <a class="hl" href="gallery.html">Media Gallery</a>
                                                <p>Li lingues differe solmen, li pronunciation vocabules.</p>

                                                <p><i class="fa fa-angle-right"></i> &nbsp; <a href="#">Link 1</a></p>
                                                <p><i class="fa fa-angle-right"></i> &nbsp; <a href="#">Link 2</a></p>
                                                <p><i class="fa fa-angle-right"></i> &nbsp; <a href="#">Link 3</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sub-item">
                        Sectors &nbsp; <i class="fa fa-angle-down"></i>
                        <div class="sub-menu">
                            <div class="container">
                                <div class="vert"></div>
                                <div class="row">
                                    <div class="col-sm-4" style="text-align: center">
                                        <p class="hl">Sectors</p>
                                        <br/>
                                        <img src="public/img/gaca-logo.png" style="height:100px;" alt=""/>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a class="hl" href="department.html">Air Navigation Services</a>
                                                <p>Li lingues differe solmen, li pronunciation vocabules.</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <a class="hl" href="department.html">Safety & Organization</a>
                                                <p>Li Europan lingues es familie. Lor separat myth.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sub-item">
                        E-Services &nbsp; <i class="fa fa-angle-down"></i>
                        <div class="sub-menu">
                            <div class="container">
                                <div class="vert"></div>
                                <div class="row">
                                    <div class="col-sm-4" style="text-align: center">
                                        <p class="hl">E-Services</p>
                                        <br/>
                                        <img src="public/img/gaca-logo.png" style="height:100px;" alt=""/>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <a class="hl" href="e-catalogue.html">E-Services Catalogue</a>
                                                <p>Li Europan lingues es familie. Lor separat myth.</p>

                                                <p><i class="fa fa-angle-right"></i> &nbsp; <a href="#">Link 1</a></p>
                                                <p><i class="fa fa-angle-right"></i> &nbsp; <a href="#">Link 2</a></p>
                                                <p><i class="fa fa-angle-right"></i> &nbsp; <a href="#">Link 3</a></p>
                                            </div>
                                            <div class="col-sm-3">
                                                <a class="hl" href="e-services-search.html">E-Services Search</a>
                                                <p>Li lingues differe solmen, li pronunciation vocabules.</p>

                                                <p><i class="fa fa-angle-right"></i> &nbsp; <a href="#">Link 1</a></p>
                                                <p><i class="fa fa-angle-right"></i> &nbsp; <a href="#">Link 2</a></p>
                                                <p><i class="fa fa-angle-right"></i> &nbsp; <a href="#">Link 3</a></p>
                                            </div>
                                            <div class="col-sm-3">
                                            </div>
                                            <div class="col-sm-3">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sub-item">
                        Occurrency Reporting &nbsp; <i class="fa fa-angle-down"></i>
                        <div class="sub-menu">
                            <div class="container">
                                <div class="vert"></div>
                                <div class="row">
                                    <div class="col-sm-4" style="text-align: center">
                                        <p class="hl">Occurrency Reporting</p>
                                        <br/>
                                        <img src="public/img/gaca-logo.png" style="height:100px;" alt=""/>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="hl">At Solmen Va</p>
                                                <p>Li lingues differe solmen, li pronunciation vocabules.</p>

                                                <p class="hl">Nov Lingua Franca</p>
                                                <p>Omnicos directe al desirabilite de un. On traductores.</p>
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="hl">Differe Solmen In</p>
                                                <p>Li Europan lingues es familie. Lor separat myth.</p>

                                                <p class="hl">Sit Voluptatem Accusantium</p>
                                                <p>Por scientie, musica, sport etc, Europa usa vocabular.</p>
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="hl">Omnicos Directe</p>
                                                <p>Li lingues differe solmen, li pronunciation vocabules.</p>

                                                <p class="hl">Nov Lingua Franca</p>
                                                <p>Omnicos directe al desirabilite de un. On traductores.</p>
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="hl">Sit Voluptatem Accusantium</p>
                                                <p>Li Europan lingues es familie. Lor separat myth.</p>

                                                <p class="hl">At Solmen Va</p>
                                                <p>Por scientie, musica, sport etc, Europa usa vocabular.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sub-item">
                        Guidance &nbsp; <i class="fa fa-angle-down"></i>
                        <div class="sub-menu">
                            <div class="container">
                                <div class="vert"></div>
                                <div class="row">
                                    <div class="col-sm-4" style="text-align: center">
                                        <p class="hl">Guidance</p>
                                        <br/>
                                        <img src="public/img/gaca-logo.png" style="height:100px;" alt=""/>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p class="hl">Nov Lingua Franca</p>
                                                <p>Omnicos directe al desirabilite de un. On traductores.</p>

                                                <p><i class="fa fa-angle-right"></i> &nbsp; <a href="#">Link 1</a></p>
                                                <p><i class="fa fa-angle-right"></i> &nbsp; <a href="#">Link 2</a></p>
                                                <p><i class="fa fa-angle-right"></i> &nbsp; <a href="#">Link 3</a></p>


                                            </div>
                                            <div class="col-sm-6">
                                                <p class="hl">At Solmen Va</p>
                                                <p>Li lingues differe solmen, li pronunciation vocabules.</p>

                                                <p><i class="fa fa-angle-right"></i> &nbsp; <a href="#">Link 1</a></p>
                                                <p><i class="fa fa-angle-right"></i> &nbsp; <a href="#">Link 2</a></p>
                                                <p><i class="fa fa-angle-right"></i> &nbsp; <a href="#">Link 3</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="sub-item" href="#">
                        Laws
                    </a>
                    <a class="sub-item" href="#">
                        Regulation
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="gaca-alert hide-alert" style="cursor: pointer">
    <div class="container">
        <div class="col-xs-12">
            <i class="fa fa-times pull-right"></i>
            <i class="fa fa-exclamation"></i> Important Alert:
                    <span>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                    </span>

        </div>
    </div>
</div>
