<div data-template="header" data-main data-ng-controller="HeaderCtrl">
    <div class="header">
        <div class="header-line">
            <div class="header-menu visible-xs visible-sm">
                <i class="fa fa-bars"></i>
            </div>

            <div class="container">
                <div class="in sm hidden-xs search-box">
                    <input type="text"/>

                    <div class="in-btn">
                        <i class="fa fa-search"></i>
                    </div>
                </div>

                <div class="vd hidden-xs"></div>

                <a href="#" class="hidden-xs"><strong>Arabic</strong></a>

                <div class="vd hidden-xs"></div>

                <span class="hidden-xs hidden-sm" style="cursor: pointer">
                    <i class="fa fa-user"></i>  &nbsp;
                    <span class="in sm">
                        <input type="text" placeholder="Username">
                    </span>  &nbsp;
                    <span class="in sm">
                        <input type="text" placeholder="Password">
                    </span>  &nbsp;
                    <span class="gaca-btn">Login &nbsp; <i class="fa fa-lock"></i></span>  &nbsp;
                    <span class="gaca-btn">Register &nbsp; <i class="fa fa-user"></i></span>
                </span>

                <span class="show-login-popup hidden-md hidden-lg" style="cursor: pointer;">
                    <i class="fa fa-user"></i> &nbsp; Login
                </span>

                <a class="pull-right" href="/">
                    <span class="hidden-xs hidden-sm">General Authority of Civil Aviation</span>
                    <img src="public/img/gaca-logo.png" style=""/>
                    <!--<span class="hidden-sm hidden-xs">-->
                    <!--الهيئة العامة للطيران المدني-->
                    <!--</span>-->
                </a>
            </div>
        </div>

        <div class="header-sub hidden-sm hidden-xs">
            <div class="container" style="position: static">
                <div class="sub-item">
                    About GACA &nbsp; <i class="fa fa-angle-down"></i>
                    <div class="sub-menu">
                        <div class="container">
                            <div class="vert"></div>
                            <div class="row">
                                <div class="col-sm-3" style="text-align: center">
                                    <p class="hl">About GACA</p>
                                    <br/>
                                    <img src="public/img/gaca-logo.png" style="height:100px;" alt=""/>
                                </div>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a class="hl" href="/">Homepage</a>
                                            <p>Li Europan lingues es familie. Lor separat myth.</p>
                                        </div>
                                        <div class="col-sm-4">
                                            <a class="hl" href="gallery.html">Media Gallery</a>
                                            <p>Li lingues differe solmen, li pronunciation vocabules.</p>
                                        </div>
                                        <div class="col-sm-4">
                                            <p class="hl" href="#">Differe Solmen In</p>
                                            <p>Li Europan lingues es familie. Lor separat myth.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sub-item">
                    Sectors &nbsp; <i class="fa fa-angle-down"></i>
                    <div class="sub-menu">
                        <div class="container">
                            <div class="vert"></div>
                            <div class="row">
                                <div class="col-sm-3" style="text-align: center">
                                    <p class="hl">Sectors</p>
                                    <br/>
                                    <img src="public/img/gaca-logo.png" style="height:100px;" alt=""/>
                                </div>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <a class="hl" href="department.html">Air Navigation Services</a>
                                            <p>Li lingues differe solmen, li pronunciation vocabules.</p>

                                            <a class="hl" href="department.html">Information Technology</a>
                                            <p>Omnicos directe al desirabilite de un. On traductores.</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <a class="hl" href="department.html">Safety & Organization</a>
                                            <p>Li Europan lingues es familie. Lor separat myth.</p>

                                            <a class="hl" href="department.html">Corporate Core</a>
                                            <p>Por scientie, musica, sport etc, Europa usa vocabular.</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <a class="hl" href="department.html">Human Resources</a>
                                            <p>Li lingues differe solmen, li pronunciation vocabules.</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <a class="hl" href="department.html">Saudi Academy of Civil Aviation</a>
                                            <p>Li Europan lingues es familie. Lor separat myth.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sub-item">
                    E-Services &nbsp; <i class="fa fa-angle-down"></i>
                    <div class="sub-menu">
                        <div class="container">
                            <div class="vert"></div>
                            <div class="row">
                                <div class="col-sm-3" style="text-align: center">
                                    <p class="hl">E-Services</p>
                                    <br/>
                                    <img src="public/img/gaca-logo.png" style="height:100px;" alt=""/>
                                </div>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <a class="hl" href="e-catalogue.html">E-Services Catalogue</a>
                                            <p>Li Europan lingues es familie. Lor separat myth.</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <a class="hl" href="e-services-search.html">E-Services Search</a>
                                            <p>Li lingues differe solmen, li pronunciation vocabules.</p>
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sub-item">
                    Occurrency Reporting &nbsp; <i class="fa fa-angle-down"></i>
                    <div class="sub-menu">
                        <div class="container">
                            <div class="vert"></div>
                            <div class="row">
                                <div class="col-sm-3" style="text-align: center">
                                    <p class="hl">Occurrency Reporting</p>
                                    <br/>
                                    <img src="public/img/gaca-logo.png" style="height:100px;" alt=""/>
                                </div>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="hl">At Solmen Va</p>
                                            <p>Li lingues differe solmen, li pronunciation vocabules.</p>

                                            <p class="hl">Nov Lingua Franca</p>
                                            <p>Omnicos directe al desirabilite de un. On traductores.</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <p class="hl">Differe Solmen In</p>
                                            <p>Li Europan lingues es familie. Lor separat myth.</p>

                                            <p class="hl">Sit Voluptatem Accusantium</p>
                                            <p>Por scientie, musica, sport etc, Europa usa vocabular.</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <p class="hl">Omnicos Directe</p>
                                            <p>Li lingues differe solmen, li pronunciation vocabules.</p>

                                            <p class="hl">Nov Lingua Franca</p>
                                            <p>Omnicos directe al desirabilite de un. On traductores.</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <p class="hl">Sit Voluptatem Accusantium</p>
                                            <p>Li Europan lingues es familie. Lor separat myth.</p>

                                            <p class="hl">At Solmen Va</p>
                                            <p>Por scientie, musica, sport etc, Europa usa vocabular.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sub-item">
                    Guidance &nbsp; <i class="fa fa-angle-down"></i>
                    <div class="sub-menu">
                        <div class="container">
                            <div class="vert"></div>
                            <div class="row">
                                <div class="col-sm-3" style="text-align: center">
                                    <p class="hl">Guidance</p>
                                    <br/>
                                    <img src="public/img/gaca-logo.png" style="height:100px;" alt=""/>
                                </div>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="hl">Nov Lingua Franca</p>
                                            <p>Omnicos directe al desirabilite de un. On traductores.</p>
                                            <p class="hl">At Solmen Va</p>
                                            <p>Li lingues differe solmen, li pronunciation vocabules.</p>

                                        </div>
                                        <div class="col-sm-3">
                                            <p class="hl">At Solmen Va</p>
                                            <p>Por scientie, musica, sport etc, Europa usa vocabular.</p>
                                            <p class="hl">Sit Voluptatem Accusantium</p>
                                            <p>Li Europan lingues es familie. Lor separat myth.</p>

                                        </div>
                                        <div class="col-sm-3">
                                            <p class="hl">Nov Lingua Franca</p>
                                            <p>Omnicos directe al desirabilite de un. On traductores.</p>
                                            <p class="hl">Omnicos Directe</p>
                                            <p>Li lingues differe solmen, li pronunciation vocabules.</p>

                                        </div>
                                        <div class="col-sm-3">
                                            <p class="hl">Sit Voluptatem Accusantium</p>
                                            <p>Por scientie, musica, sport etc, Europa usa vocabular.</p>
                                            <p class="hl">Differe Solmen In</p>
                                            <p>Li Europan lingues es familie. Lor separat myth.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sub-item">
                    Laws &nbsp; <i class="fa fa-angle-down"></i>
                    <div class="sub-menu">
                        <div class="container">
                            <div class="vert"></div>
                            <div class="row">
                                <div class="col-sm-3" style="text-align: center">
                                    <p class="hl">Laws</p>
                                    <br/>
                                    <img src="public/img/gaca-logo.png" style="height:100px;" alt=""/>
                                </div>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="hl">Nov Lingua Franca</p>
                                            <p>Omnicos directe al desirabilite de un. On traductores.</p>
                                            <p class="hl">At Solmen Va</p>
                                            <p>Li lingues differe solmen, li pronunciation vocabules.</p>

                                        </div>
                                        <div class="col-sm-3">
                                            <p class="hl">At Solmen Va</p>
                                            <p>Por scientie, musica, sport etc, Europa usa vocabular.</p>
                                            <p class="hl">Sit Voluptatem Accusantium</p>
                                            <p>Li Europan lingues es familie. Lor separat myth.</p>

                                        </div>
                                        <div class="col-sm-3">
                                            <p class="hl">Nov Lingua Franca</p>
                                            <p>Omnicos directe al desirabilite de un. On traductores.</p>
                                            <p class="hl">Omnicos Directe</p>
                                            <p>Li lingues differe solmen, li pronunciation vocabules.</p>

                                        </div>
                                        <div class="col-sm-3">
                                            <p class="hl">Sit Voluptatem Accusantium</p>
                                            <p>Por scientie, musica, sport etc, Europa usa vocabular.</p>
                                            <p class="hl">Differe Solmen In</p>
                                            <p>Li Europan lingues es familie. Lor separat myth.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sub-item">
                    Regulation &nbsp; <i class="fa fa-angle-down"></i>
                    <div class="sub-menu">
                        <div class="container">
                            <div class="vert"></div>
                            <div class="row">
                                <div class="col-sm-3" style="text-align: center">
                                    <p class="hl">Regulation</p>
                                    <br/>
                                    <img src="public/img/gaca-logo.png" style="height:100px;" alt=""/>
                                </div>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="hl">Aviation Regulation</p>
                                            <p>Omnicos directe al desirabilite de un. On traductores.</p>
                                            <p class="hl">Economic Regulation</p>
                                            <p>Li lingues differe solmen, li pronunciation vocabules.</p>

                                        </div>
                                        <div class="col-sm-3">
                                            <p class="hl">Circulars</p>
                                            <p>Por scientie, musica, sport etc, Europa usa vocabular.</p>
                                            <p class="hl">Notices</p>
                                            <p>Li Europan lingues es familie. Lor separat myth.</p>

                                        </div>
                                        <div class="col-sm-3">
                                            <p class="hl">Important Information Circular</p>
                                            <p>Omnicos directe al desirabilite de un. On traductores.</p>
                                            <p class="hl">Conflict Zone Information</p>
                                            <p>Li lingues differe solmen, li pronunciation vocabules.</p>

                                        </div>
                                        <div class="col-sm-3">
                                            <p class="hl">Rule Making & Consultation</p>
                                            <p>Por scientie, musica, sport etc, Europa usa vocabular.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="header-alert hide-alert" style="cursor: pointer">
            <div class="container">
                <i class="fa fa-exclamation"></i> Important Alert:
                <span>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                </span>

                <i class="fa fa-times pull-right"></i>
            </div>
        </div>
    </div>
</div>
