$primary: #2c80c0;
$secondary: rgb(36, 61, 127);

body {
  opacity: 0;
  transition: .3s;
  transition-delay: .3s;

  &.active {
    opacity: 1;
  }
}

.in {
  &.dark {

  }

  height: 25px;

  input, select, textarea {
    height: 25px;
  }
}

.btn-no-border {
  line-height: 25px;
  border: none; }

.gaca-select::-ms-expand {
  display: none; }

input, textarea, select {
  vertical-align: top; }

.gaca-btn {
  height: 25px; }