<div class="container">
    <div data-template="gallery">
        <div class="gallery">
            <div class="row">

                <div class="col-sm-8 col-sm-push-4">
                    <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="fa fa-newspaper-o"></i>
                            </div>
                            <div class="box-status" ng-click="changeActive()">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                            </div>
                            <div class="box-title">Top News</div>
                            <div class="box-content">
                                <a class="box-highlight grey hl" href="#">
                                    <p>
                                        <span class="gallery-image" style="height:250px;background-image: url('https://www.venturesonsite.com/news/wp-content/uploads/2015/01/Abha-Airport-Roundabout.jpg')"></span>
                                    </p>
                                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                                </a>

                                <a class="box-highlight grey hl" href="#">
                                    KFIA is on track to welcome more than 9 million passengers this year
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Al-Hamdan Leads a High-Level Delegation to the 3rd Meeting of the Directors General of Civil Aviation in the Middle East
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Signing two contracts for the first phase of development of King Abdulaziz International Airport (KAIA)
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    In creating a new work environment and to cope with the transformation program, the General Authority of Civil Aviation
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    King Khalid International Airport, survey the travelling public about services rendered in order to improve them.
                                </a>
                                <!--<a class="box-highlight grey hl" href="#">-->
                                <!--Abha regional airport operates around the clock-->
                                <!--</a>-->
                                <!--<a class="box-highlight grey hl" href="#">-->
                                <!--Foreign and Saudi investors, take a look at two project sites for the proposed _Airport Cities_ at king Abdul-Aziz intern-->
                                <!--</a>-->
                                <hr/>
                                <div class="gaca-btn">More...</div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                                <div class="box-header">
                                    <div class="box-icon">
                                        <i class="fa fa-image"></i>
                                    </div>
                                    <div class="box-status" ng-click="changeActive()">
                                        <i class="fa fa-plus"></i>
                                        <i class="fa fa-minus"></i>
                                    </div>
                                    <div class="box-title">Image Gallery</div>
                                    <div class="box-content">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <a class="box-highlight grey hl hl-none" ng-controller="BoxCtrl" ng-click="showPopup()">
                                                    <p>
                                                        <span class="gallery-image" style="background-image: url('http://www.arabnews.com/sites/default/files/imagecache/galleryformatter_slide/2014/10/24/Jeddah%20airport%20-%20Saudi%20Airlines.jpg')"></span>
                                                    </p>
                                                    <span class="popup-title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</span>
                                                    <span class="popup-content" style="display: none">
                                                        <img src="http://www.arabnews.com/sites/default/files/imagecache/galleryformatter_slide/2014/10/24/Jeddah%20airport%20-%20Saudi%20Airlines.jpg" alt="" style="max-width: 100%"/>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="col-sm-4">
                                                <a class="box-highlight grey hl hl-none" ng-controller="BoxCtrl" ng-click="showPopup()">
                                                    <p>
                                                        <span class="gallery-image" style="background-image: url('http://www.arabnews.com/sites/default/files/imagecache/galleryformatter_slide/2015/06/15/file-15-1434397434643590600.jpg')"></span>
                                                    </p>
                                                    <span class="popup-title">
                                                        Aenean massa.
                                                    </span>
                                                    <span class="popup-content" style="display: none">
                                                        <img src="http://www.arabnews.com/sites/default/files/imagecache/galleryformatter_slide/2015/06/15/file-15-1434397434643590600.jpg" alt=""/>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="col-sm-4">
                                                <a class="box-highlight grey hl hl-none" ng-controller="BoxCtrl" ng-click="showPopup()">
                                                    <p>
                                                        <span class="gallery-image" style="background-image: url('http://www.arabnews.com/sites/default/files/imagecache/galleryformatter_slide/2015/05/24/file-24-Prince-Mohammad-bin-Abdul-Aziz-International-Airport-in-Madinah-on-Saturday.jpg')"></span>
                                                    </p>
                                                    <span class="popup-title">
                                                        Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                                                    </span>
                                                    <span class="popup-content" style="display: none">
                                                        <img src="http://www.arabnews.com/sites/default/files/imagecache/galleryformatter_slide/2015/05/24/file-24-Prince-Mohammad-bin-Abdul-Aziz-International-Airport-in-Madinah-on-Saturday.jpg" alt=""/>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="col-sm-4">
                                                <a class="box-highlight grey hl hl-none" ng-controller="BoxCtrl" ng-click="showPopup()">
                                                    <p>
                                                        <span class="gallery-image" style="background-image: url('http://www.arabnews.com/sites/default/files/imagecache/galleryformatter_slide/GACA_0.jpg')"></span>
                                                    </p>
                                                    <span class="popup-title">
                                                        Justo, fringilla vel, aliquet nec.
                                                    </span>
                                                    <span class="popup-content" style="display: none">
                                                        <img src="http://www.arabnews.com/sites/default/files/imagecache/galleryformatter_slide/GACA_0.jpg" alt=""/>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="col-sm-4">
                                                <a class="box-highlight grey hl hl-none" ng-controller="BoxCtrl" ng-click="showPopup()">
                                                    <p>
                                                        <span class="gallery-image" style="background-image: url('http://www.constructionweekonline.com/pictures/KKU.jpg')"></span>
                                                    </p>
                                                    <span class="popup-title">
                                                        Aliquet nec, vulputate eget.
                                                    </span>
                                                    <span class="popup-content" style="display: none">
                                                        <img src="http://www.constructionweekonline.com/pictures/KKU.jpg" alt=""/>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="col-sm-4">
                                                <a class="box-highlight grey hl hl-none" ng-controller="BoxCtrl" ng-click="showPopup()">
                                                    <p>
                                                        <span class="gallery-image" style="background-image: url('http://www.arabnews.com/sites/default/files/imagecache/galleryformatter_slide/2015/07/24/file-24-the-King-Fahad-Causeway-.jpg')"></span>
                                                    </p>
                                                    <span class="popup-title">
                                                        Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                                                    </span>
                                                    <span class="popup-content" style="display: none">
                                                        <img src="http://www.arabnews.com/sites/default/files/imagecache/galleryformatter_slide/2015/07/24/file-24-the-King-Fahad-Causeway-.jpg" alt=""/>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                        <div style="margin-top: -10px;height: 1px;border-top: 1px solid #eee;margin-bottom: 20px;"></div>
                                        <div class="gaca-btn">More...</div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">

                        </div>
                    </div>


                </div>
                <div class="col-sm-4 col-sm-pull-8">
                    <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="fa fa-file-pdf-o"></i>
                            </div>
                            <div class="box-status" ng-click="changeActive()">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                            </div>
                            <div class="box-title">Publications</div>
                            <div class="box-content">
                                <a class="box-highlight grey hl" href="#">
                                    GACA Newsletter
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Civil Aviation Magazine
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Consumer Protection Report
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Statistics
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Domastic Airports Magazine
                                </a>
                                <hr/>
                                <div class="gaca-btn">More...</div>
                            </div>
                        </div>
                    </div>

                    <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="box-status" ng-click="changeActive()">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                            </div>
                            <div class="box-title">Events</div>
                            <div class="box-content">
                                <a class="box-highlight grey hl" href="#">
                                    Air Navigation Services Presentation
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Meet with His Highness Prince Fahd bin Abdull...
                                </a>
                                <a class="box-highlight grey hl" href="#">
                                    Economic Partnership Forum with the private s......
                                </a>
                                <hr/>
                                <div class="gaca-btn">More...</div>
                            </div>
                        </div>
                    </div>

                    <div class="box clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="fa fa-external-link"></i>
                            </div>
                            <div class="box-status" ng-click="changeActive()">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                            </div>
                            <div class="box-title">Important Links</div>
                            <div class="box-content">
                                <ul>
                                    <li>Lorem ipsum dolor sit amet</li>
                                    <li>Consectetuer adipiscing elit</li>
                                    <li>Aenean commodo ligula eget dolor</li>
                                    <li>Cum sociis natoque penatibus et magnis</li>
                                    <li>Nascetur ridiculus mus</li>
                                </ul>

                                <div class="box-highlight">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>


                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>