<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>GACA</title>

    <meta name="description" content=""/>

    <link rel="stylesheet" href="public/lib.css"/>
    <link rel="stylesheet" href="public/app.css"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700,200italic,300italic,400italic,600italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>


</head>
<body data-ng-app="app">
<div class="small-login-back"></div>

<div class="small-login" ng-controller="SmallLoginCtrl">

    <div class="container">
        <div class="small-login-box">
            <div class="point"></div>
            <div class="box box-white">
                <div class="in block">
                    <div class="row">
                        <div class="col-sm-12">
                            <i class="fa fa-times temp-right close-login-box"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <p><label for="">Username</label></p>
                        </div>
                        <div class="col-xs-8">
                            <input type="text" placeholder="Username">
                        </div>
                    </div>
                </div>

                <div class="in block">
                    <div class="row">
                        <div class="col-xs-4">
                            <p><label for="">Password</label></p>
                        </div>
                        <div class="col-xs-8">
                            <input type="password" placeholder="Password">
                        </div>
                    </div>
                </div>

                <div class="clearfix">
                    <div class="gaca-btn temp-right">Login &nbsp; <i class="fa fa-lock"></i></div>
                </div>

            </div>
        </div>
    </div>


</div>
<div data-template="contact" ng-controller="ContactCtrl">
    <div class="contact-icon" style="bottom:{{getContactBoxHeight()}}px;font-size:25px;">
        <!--<img src="public/img/svg/call.svg" alt=""/>-->
        <i class="fa fa-comments-o"></i>
    </div>

    <div class="contact-box">
        <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
            <div class="box-header">
                <div class="box-icon">
                    <!--<img src="public/img/svg/call.svg" alt=""/>-->
                    <i class="fa fa-comments-o"></i>
                </div>
                <!--<div class="box-status" ng-click="changeActive();$root.$apply()">-->
                    <!--<i class="fa fa-plus"></i>-->
                    <!--<i class="fa fa-minus"></i>-->
                <!--</div>-->
                <div class="box-title">Get In Touch</div>
                <div class="box-content" ng-controller="GetInTouchCtrl">
                    <p class="thin pull-left">Sector</p>

                    <div class="in pull-right">
                        <select class="gaca-select" ng-model="contactSector" ng-init="" ng-change="contactDepartment = '';$root.$apply()">
                            <option value="">Select Sector</option>
                            <option value="air-nav">Air Navigation</option>
                            <option value="safety-org">Safety & Organisation</option>
                            <option value="it">Information Technology</option>
                            <option value="hr">Human Resources</option>
                        </select>

                        <div class="in-btn select-btn">
                            <i class="fa fa-caret-down"></i>
                        </div>
                    </div>

                    <p class="thin pull-left" style="clear: both">Department</p>
                    <div class="in pull-right">
                        <select class="gaca-select" ng-model="contactDepartment" ng-change="$root.$apply()">
                            <option value="">Select Department</option>
                            <option ng-repeat="(key, department) in getDepartments() track by $index" value="{{key}}">{{department}}</option>
                        </select>

                        <div class="in-btn select-btn">
                            <i class="fa fa-caret-down"></i>
                        </div>
                    </div>


                    <hr style="clear: both"/>

                    <div ng-show="contactDepartment == 'sector-1'" style="clear:both">
                        <strong style="width:100px;display:inline-block;">Tel:</strong> +971 2 4447666,<br>
                        <strong style="width:100px;display:inline-block;">Fax:</strong> +971 2 4054535,<br>
                        <strong style="width:100px;display:inline-block;">P.O.Box:</strong> 6558 <br>
                        <strong style="width:100px;display:inline-block;">Email:</strong>
                        <a href="#">info@gaca.gov.ae</a>
                    </div>
                    <div ng-show="contactDepartment == 'sector-2'" style="clear:both">
                        <strong style="width:100px;display:inline-block;">Tel:</strong> +971 2 4532990,<br>
                        <strong style="width:100px;display:inline-block;">Fax:</strong> +971 2 1778344,<br>
                        <strong style="width:100px;display:inline-block;">P.O.Box:</strong> 1662 <br>
                        <strong style="width:100px;display:inline-block;">Email:</strong>
                        <a href="#">safety@gaca.gov.ae</a>
                    </div>
                    <div ng-show="contactDepartment == 'sector-3'" style="clear:both">
                        <strong style="width:100px;display:inline-block;">Tel:</strong> +971 2 4663944,<br>
                        <strong style="width:100px;display:inline-block;">Fax:</strong> +971 2 9844763,<br>
                        <strong style="width:100px;display:inline-block;">P.O.Box:</strong> 2330 <br>
                        <strong style="width:100px;display:inline-block;">Email:</strong>
                        <a href="#">itsupport@gaca.gov.ae</a>
                    </div>
                    <div ng-show="contactDepartment == 'sector-4'" style="clear:both">
                        <strong style="width:100px;display:inline-block;">Tel:</strong> +971 2 1002838,<br>
                        <strong style="width:100px;display:inline-block;">Fax:</strong> +971 2 1002839,<br>
                        <strong style="width:100px;display:inline-block;">P.O.Box:</strong> 1007 <br>
                        <strong style="width:100px;display:inline-block;">Email:</strong>
                        <a href="#">hr@gaca.gov.ae</a>
                    </div>
                    <div ng-show="contactDepartment == 'sector-5'" style="clear:both">
                        <strong style="width:100px;display:inline-block;">Tel:</strong> +971 2 3324432,<br>
                        <strong style="width:100px;display:inline-block;">Fax:</strong> +971 2 4667566,<br>
                        <strong style="width:100px;display:inline-block;">P.O.Box:</strong> 2330 <br>
                        <strong style="width:100px;display:inline-block;">Email:</strong>
                        <a href="#">itsupport@gaca.gov.ae</a>
                    </div>
                    <div ng-show="contactDepartment == 'sector-6'" style="clear:both">
                        <strong style="width:100px;display:inline-block;">Tel:</strong> +971 2 1002838,<br>
                        <strong style="width:100px;display:inline-block;">Fax:</strong> +971 2 1002839,<br>
                        <strong style="width:100px;display:inline-block;">P.O.Box:</strong> 1007 <br>
                        <strong style="width:100px;display:inline-block;">Email:</strong>
                        <a href="#">hr@gaca.gov.ae</a>
                    </div>

                    <hr/>

                    <!--<p></p>-->
                    7:30am to 2:30pm for GACA staff <br/>
                    8:00am to 1:00pm for Customers <br/>
                    Sun, Mon, Tues, Wed, Thurs


                </div>
            </div>
        </div>


    </div>



</div>
<div data-template="menu" ng-controller="MenuCtrl">
    <div class="menu">
        <div class="header-close"><i class="fa fa-times"></i></div>
        
        <div class="menu-items">
            <div ng-controller="MenuItemCtrl">
                <div class="menu-item expand" ng-click="toggleActive()">ABOUT GACA <i class="fa fa-angle-down temp-right"></i></div>
                <div class="sub-items" ng-class="{active:active}">
                    <a class="menu-sub-item" href="#">Sub item 1</a>
                    <a class="menu-sub-item" href="#">Sub item 2</a>
                    <div ng-controller="MenuItemCtrl">
                        <div class="menu-sub-item expand" ng-click="toggleActive()">Sub Menu 3 <i class="fa fa-angle-down temp-right"></i></div>
                        <div class="sub-items" ng-class="{active:active}" ng-init="active = false">
                            <a class="menu-sub-sub-item" href="#">Sub sub item 1</a>
                            <a class="menu-sub-sub-item" href="#">Sub sub item 2</a>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-controller="MenuItemCtrl">
                <div class="menu-item expand" ng-click="toggleActive()">DEPARTMENTS <i class="fa fa-angle-down temp-right"></i></div>
                <div class="sub-items" ng-class="{active:active}">
                    <a class="menu-sub-item" href="#">Sub item 1</a>
                    <a class="menu-sub-item" href="#">Sub item 2</a>
                    <div ng-controller="MenuItemCtrl">
                        <div class="menu-sub-item expand" ng-click="toggleActive()">Sub Menu 3 <i class="fa fa-angle-down temp-right"></i></div>
                        <div class="sub-items" ng-class="{active:active}" ng-init="active = false">
                            <a class="menu-sub-sub-item" href="#">Sub sub item 1</a>
                            <a class="menu-sub-sub-item" href="#">Sub sub item 2</a>
                        </div>
                    </div>
                </div>
            </div>

            <a href="#" class="menu-item">E-SERVICES</a>
            <a href="#" class="menu-item">OCURRANCY REPORTING</a>
            <a href="#" class="menu-item">GUIDANCE</a>
            <a href="#" class="menu-item">LAWS</a>
            <a href="#" class="menu-item">REGULATION</a>
        </div>
    </div>

    <div class="menu-overlay"></div>
</div>

<div class="content-area" style="min-width: 100vw; position:relative;">
<div data-template="login" data-ng-controller="LoginCtrl">
    <div class="login-popup gaca-popup">
        <div class="popup-overlay hide-login-popup"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="popup-block clearfix">

                        <p class="pull-right">
                            <a href="register.html" class="gaca-btn hide-login-popup" style="margin-top: 5px;">Register &nbsp; <i class="fa fa-user"></i></a>
                        </p>
                        <h1>Login to GACA</h1>
                        <!--<br/>-->

                        <!--<h2>Existing User</h2>-->
                        <hr/>
                        <p class=""><strong>Username</strong></p>

                        <p class="in block">
                            <input type="text" placeholder="Username">
                        </p>

                        <p class=""><strong>Password</strong></p>

                        <p class="in block">
                            <input type="password" placeholder="Password">
                        </p>

                        <p><a href="#">Forgot Password?</a></p>

                        <hr/>
                        <div class="clearfix">
                            <p class="gaca-btn pull-right hide-login-popup">Close &nbsp; <i class="fa fa-times"></i></p>
                            <p class="gaca-btn pull-left" style="margin-right: 15px;">Login &nbsp; <i class="fa fa-lock"></i></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="register-popup gaca-popup">
        <div class="popup-overlay hide-register-popup"></div>
        <div class="container">
            <div class="row">

                <div class="col-md-2 col-sm-1"></div>
                <div class="col-md-8 col-sm-9">
                    <div class="popup-block">
                        <h1>Registration</h1>
                        <hr/>

                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                        <p>
                            <strong>The customer is requires to obtain the below approval to be able to receive the service: Approval from Airline Group Security.</strong>
                        </p>
                        <br/>

                        <h2>Form</h2>

                        <div class="psuedo-table clearfix">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-3">Username (email)</div>
                                    <div class="col-sm-8">
                                        <div class="in block">
                                            <input type="text" placeholder="example@gaca.co.sa">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">Password</div>
                                    <div class="col-sm-8">
                                        <div class="in block">
                                            <input type="password" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">Name</div>
                                    <div class="col-sm-8">
                                        <div class="in block">
                                            <input type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">Family Name</div>
                                    <div class="col-sm-8">
                                        <div class="in block">
                                            <input type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">Country</div>
                                    <div class="col-sm-8">
                                        <div class="in block">
                                            <select class="gaca-select">
                                                <option>select</option>
                                                <option>Saudi Arabia</option>
                                                <option>United Kingdom</option>
                                            </select>

                                            <div class="in-btn select-btn">
                                                <i class="fa fa-caret-down"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">Audience Type</div>
                                    <div class="col-sm-8">
                                        <div class="in block">
                                            <select class="gaca-select">
                                                <option>select</option>
                                                <option>Pilot</option>
                                                <option>Airman</option>
                                            </select>

                                            <div class="in-btn select-btn">
                                                <i class="fa fa-caret-down"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">Company Name</div>
                                    <div class="col-sm-8">
                                        <div class="in block">
                                            <input type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">Address</div>
                                    <div class="col-sm-8">
                                        <div class="in block">
                                            <textarea type="file" style="width: 100%;max-width: 100%;"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">Phone Number</div>
                                    <div class="col-sm-8">
                                        <div class="in block">
                                            <input type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">Gender</div>
                                    <div class="col-sm-8">
                                        <div class="in block">
                                            <select class="gaca-select">
                                                <option>select</option>
                                                <option>Male</option>
                                                <option>Female</option>
                                            </select>

                                            <div class="in-btn select-btn">
                                                <i class="fa fa-caret-down"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="gaca-btn hide-register-popup">
                            Submit &nbsp; <i class="fa fa-check"></i>
                        </div>

                        <div class="gaca-btn hide-register-popup pull-right">
                            Close &nbsp; <i class="fa fa-times"></i>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>
<div class="generic-popup gaca-popup" ng-controller="PopupCtrl">
    <div class="popup-overlay hide-generic-popup"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="popup-block">
                    <h2>{{getPopupHeader()}}</h2>
                    <hr/>
                    <div ng-bind-html="getPopupContent()"></div>

                    <hr/>
                    <p class="clearfix">
                        <span class="gaca-btn pull-right hide-generic-popup">Close &nbsp; <i class="fa fa-times"></i></span>
                        <!--<span class="gaca-btn pull-left" style="margin-right: 15px;">Generic &nbsp; <i class="fa fa-lock"></i></span>-->
                        <!--<span class="gaca-btn pull-left show-register-popup hide-generic-popup">Register &nbsp; <i class="fa fa-user"></i></span>-->
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
<div data-template="header" data-main data-ng-controller="HeaderCtrl">
    <div class="header">
        <div class="header-bar">
            <div class="container">
                <div class="temp-right" style="margin-left: 30px;">
                    <strong>Weather: &nbsp; </strong> 39°C Sunny
                    <span style="width: 60px;display: inline-block"></span>
                    <strong>Date: &nbsp; </strong> 30th September 2015
                </div>
            </div>
        </div>
        <div class="container">
            <a href="/" class="header-logo">
                <img src="public/img/gaca-logo-new.png" class="show-eng"/>
                <img src="public/img/gaca-logo-new-arabic.png" class="show-arab"/>
                <!--<span class="hidden-xs hidden-sm">General Authority of Civil Aviation</span>-->
                <!--<span class="hidden-sm hidden-xs">-->
                <!--الهيئة العامة للطيران المدني-->
                <!--</span>-->
            </a>
        </div>
        <div class="header-line">
            <div class="header-menu visible-xs visible-sm">
                <i class="fa fa-bars"></i>
            </div>

            <div class="container">
                <div class="col-sm-12">
                    <div class="row">

                        <div class="temp-right">
                            <div class="in sm hidden-xs search-box">
                                <input type="text"/>

                                <div class="in-btn">
                                    <i class="fa fa-search"></i>
                                </div>
                            </div>

                            <a href="#" class=""><strong>Arabic</strong></a>

                            <div class="vd hidden-xs"></div>

                            <span class="gaca-form">
                                <form>
                                    <span class="hidden-xs hidden-sm" style="cursor: pointer">

                                        <span class="updates">3</span>
                                        <i class="fa fa-user"></i>  &nbsp;  &nbsp;  &nbsp;
                                        <!--<span class="in sm">-->
                                            <!--<input type="text" placeholder="Username">-->
                                        <!--</span>  &nbsp;-->
                                        <!--<span class="in sm">-->
                                            <!--<input type="text" placeholder="Password">-->
                                        <!--</span>  &nbsp;-->
                                        <span class="gaca-btn show-small-login">Login &nbsp; <i class="fa fa-lock"></i></span>  &nbsp;
                                        <span class="gaca-btn">Register &nbsp; <i class="fa fa-user"></i></span>
                                    </span>

                                    <span class="show-login-popup hidden-md hidden-lg" style="cursor: pointer;">
                                        <span class="updates">3</span>
                                        <i class="fa fa-user"></i> &nbsp; Login
                                    </span>
                                </form>
                            </span>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="header-sub hidden-sm hidden-xs">
            <div class="container" style="position: relative">
                <div class="col-xs-12">
                    <div class="sub-item">
                        About GACA &nbsp; <i class="fa fa-angle-down"></i>

                        <div class="sub-menu">
                            <div class="container">
                                <div class="vert"></div>
                                <div class="row">
                                    <div class="col-sm-3" style="text-align: center">
                                        <p class="hl">About GACA</p>
                                        <br/>
                                        <img src="public/img/gaca-logo.png" style="height:100px;" alt=""/>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a class="hl" href="/">Homepage</a>

                                                <p>Li Europan lingues es familie. Lor separat myth.</p>

                                                <p><i class="fa fa-angle-right"></i> &nbsp; <a href="#">Link 1</a></p>
                                                <!--<p><i class="fa fa-angle-right"></i> &nbsp; <a href="#">Link 2</a></p>-->
                                                <!--<p><i class="fa fa-angle-right"></i> &nbsp; <a href="#">Link 3</a></p>-->
                                            </div>
                                            <div class="col-sm-6">
                                                <a class="hl" href="gallery.html">Media Gallery</a>

                                                <p>Li lingues differe solmen, li pronunciation vocabules.</p>

                                                <p><i class="fa fa-angle-right"></i> &nbsp; <a href="#">Link 1</a></p>

                                                <p><i class="fa fa-angle-right"></i> &nbsp; <a href="#">Link 2</a></p>

                                                <p><i class="fa fa-angle-right"></i> &nbsp; <a href="#">Link 3</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sub-item">
                        Sectors &nbsp; <i class="fa fa-angle-down"></i>

                        <div class="sub-menu">
                            <div class="container">
                                <div class="vert"></div>
                                <div class="row">
                                    <div class="col-sm-3" style="text-align: center">
                                        <p class="hl">Sectors</p>
                                        <br/>
                                        <img src="public/img/gaca-logo.png" style="height:100px;" alt=""/>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a class="hl" href="department.html">Air Navigation Services</a>

                                                <p>Li lingues differe solmen, li pronunciation vocabules.</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <a class="hl" href="department.html">Safety & Organization</a>

                                                <p>Li Europan lingues es familie. Lor separat myth.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sub-item">
                        E-Services &nbsp; <i class="fa fa-angle-down"></i>

                        <div class="sub-menu">
                            <div class="container">
                                <div class="vert"></div>
                                <div class="row">
                                    <div class="col-sm-3" style="text-align: center">
                                        <p class="hl">E-Services</p>
                                        <br/>
                                        <img src="public/img/gaca-logo.png" style="height:100px;" alt=""/>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <a class="hl" href="e-catalogue.html">E-Services Catalogue</a>

                                                <p>Li Europan lingues es familie. Lor separat myth.</p>

                                                <p><i class="fa fa-angle-right"></i> &nbsp; <a href="#">Link 1</a></p>

                                                <p><i class="fa fa-angle-right"></i> &nbsp; <a href="#">Link 2</a></p>

                                                <p><i class="fa fa-angle-right"></i> &nbsp; <a href="#">Link 3</a></p>
                                            </div>
                                            <div class="col-sm-3">
                                                <a class="hl" href="e-services-search.html">E-Services Search</a>

                                                <p>Li lingues differe solmen, li pronunciation vocabules.</p>

                                                <p><i class="fa fa-angle-right"></i> &nbsp; <a href="#">Link 1</a></p>

                                                <p><i class="fa fa-angle-right"></i> &nbsp; <a href="#">Link 2</a></p>

                                                <p><i class="fa fa-angle-right"></i> &nbsp; <a href="#">Link 3</a></p>
                                            </div>
                                            <div class="col-sm-3">
                                            </div>
                                            <div class="col-sm-3">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sub-item">
                        Occurrency Reporting &nbsp; <i class="fa fa-angle-down"></i>

                        <div class="sub-menu">
                            <div class="container">
                                <div class="vert"></div>
                                <div class="row">
                                    <div class="col-sm-3" style="text-align: center">
                                        <p class="hl">Occurrency Reporting</p>
                                        <br/>
                                        <img src="public/img/gaca-logo.png" style="height:100px;" alt=""/>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="hl">At Solmen Va</p>

                                                <p>Li lingues differe solmen, li pronunciation vocabules.</p>

                                                <p class="hl">Nov Lingua Franca</p>

                                                <p>Omnicos directe al desirabilite de un. On traductores.</p>
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="hl">Differe Solmen In</p>

                                                <p>Li Europan lingues es familie. Lor separat myth.</p>

                                                <p class="hl">Sit Voluptatem Accusantium</p>

                                                <p>Por scientie, musica, sport etc, Europa usa vocabular.</p>
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="hl">Omnicos Directe</p>

                                                <p>Li lingues differe solmen, li pronunciation vocabules.</p>

                                                <p class="hl">Nov Lingua Franca</p>

                                                <p>Omnicos directe al desirabilite de un. On traductores.</p>
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="hl">Sit Voluptatem Accusantium</p>

                                                <p>Li Europan lingues es familie. Lor separat myth.</p>

                                                <p class="hl">At Solmen Va</p>

                                                <p>Por scientie, musica, sport etc, Europa usa vocabular.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sub-item">
                        Guidance &nbsp; <i class="fa fa-angle-down"></i>

                        <div class="sub-menu">
                            <div class="container">
                                <div class="vert"></div>
                                <div class="row">
                                    <div class="col-sm-3" style="text-align: center">
                                        <p class="hl">Guidance</p>
                                        <br/>
                                        <img src="public/img/gaca-logo.png" style="height:100px;" alt=""/>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p class="hl">Nov Lingua Franca</p>

                                                <p>Omnicos directe al desirabilite de un. On traductores.</p>

                                                <p><i class="fa fa-angle-right"></i> &nbsp; <a href="#">Link 1</a></p>

                                                <p><i class="fa fa-angle-right"></i> &nbsp; <a href="#">Link 2</a></p>

                                                <p><i class="fa fa-angle-right"></i> &nbsp; <a href="#">Link 3</a></p>


                                            </div>
                                            <div class="col-sm-6">
                                                <p class="hl">At Solmen Va</p>

                                                <p>Li lingues differe solmen, li pronunciation vocabules.</p>

                                                <p><i class="fa fa-angle-right"></i> &nbsp; <a href="#">Link 1</a></p>

                                                <p><i class="fa fa-angle-right"></i> &nbsp; <a href="#">Link 2</a></p>

                                                <p><i class="fa fa-angle-right"></i> &nbsp; <a href="#">Link 3</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="sub-item" href="#">
                        Laws
                    </a>
                    <a class="sub-item" href="#">
                        Regulation
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="gaca-alert hide-alert blue" style="cursor: pointer">
    <div class="container">
        <div class="col-xs-12">
            <i class="fa fa-times pull-right"></i>
            <i class="fa fa-exclamation"></i> Important Alert:
            <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</span>
        </div>
    </div>
</div>

<div class="container">
    <div data-template="e-catalogue" ng-controller="ECatalogueCtrl">
        <div class="e-catalogue standard-page">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                        <h1>E-Services Catalogue</h1>
                        <hr/>

                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                        <!--<p class="in">-->
                            <!--<select>-->
                                <!--<option value="">All Audiences</option>-->
                                <!--<option value="">Pilot</option>-->
                                <!--<option value="">Airman</option>-->
                                <!--<option value="">Aircraft</option>-->
                                <!--<option value="">Airlines/Operators</option>-->
                                <!--<option value="">Airports</option>-->
                                <!--<option value="">Training Centres</option>-->
                            <!--</select>-->

                            <!--<i class="in-btn select-btn">-->
                                <!--<i class="fa fa-caret-down"></i>-->
                            <!--</i>-->
                        <!--</p>-->

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="fa fa-globe"></i>
                            </div>
                            <div class="box-status" ng-click="changeActive()">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                            </div>
                            <div class="box-title">Pilot E-Services</div>
                            <div class="box-content">
                                <p class="in block">
                                    <select ng-model="pilotSort" ng-init="pilotSort = 'title'">
                                        <option value="popularity">Order By Most Popular</option>
                                        <option value="title">Order By Title</option>
                                        <option value="id">Order By Form ID</option>
                                        <option value="sector">Order By Sector</option>
                                        <option value="date">Order By Most Recent</option>
                                    </select>

                                    <span class="in-btn select-btn"><i class="fa fa-caret-down"></i></span>
                                </p>

                                <hr/>
                                <a class="box-highlight grey hl" href="#" ng-repeat="eService in getEServices({audience:'Pilot'}, pilotSort) track by $index">
                                    <small class="hl">{{eService[pilotSort]}}</small>
                                    <br/>
                                    <small style="font-weight: normal">Form {{eService.id}} {{eService.title}}</small>
                                </a>
                                <hr/>
                                <div class="gaca-btn">More...</div>
                            </div>
                        </div>
                    </div>

                    <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="fa fa-globe"></i>
                            </div>
                            <div class="box-status" ng-click="changeActive()">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                            </div>
                            <div class="box-title">Aircraft E-Services</div>
                            <div class="box-content">
                                <p class="in block">
                                    <select ng-model="aircraftSort" ng-init="aircraftSort = 'title'">
                                        <option value="popularity">Order By Most Popular</option>
                                        <option value="title">Order By Title</option>
                                        <option value="id">Order By Form ID</option>
                                        <option value="sector">Order By Sector</option>
                                        <option value="date">Order By Most Recent</option>
                                    </select>

                                    <span class="in-btn select-btn"><i class="fa fa-caret-down"></i></span>
                                </p>

                                <hr/>
                                <a class="box-highlight grey hl" href="#" ng-repeat="eService in getEServices({audience:'Aircraft'}, aircraftSort) track by $index">
                                    <small class="hl">{{eService[aircraftSort]}}</small>
                                    <br/>
                                    <small style="font-weight: normal">Form {{eService.id}} {{eService.title}}</small>
                                </a>
                                <hr/>
                                <div class="gaca-btn">More...</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="fa fa-globe"></i>
                            </div>
                            <div class="box-status" ng-click="changeActive()">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                            </div>
                            <div class="box-title">Airman E-Services</div>
                            <div class="box-content">
                                <p class="in block">
                                    <select ng-model="airmanSort" ng-init="airmanSort = 'title'">
                                        <option value="popularity">Order By Most Popular</option>
                                        <option value="title">Order By Title</option>
                                        <option value="id">Order By Form ID</option>
                                        <option value="sector">Order By Sector</option>
                                        <option value="date">Order By Most Recent</option>
                                    </select>

                                    <span class="in-btn select-btn"><i class="fa fa-caret-down"></i></span>
                                </p>

                                <hr/>
                                <a class="box-highlight grey hl" href="#" ng-repeat="eService in getEServices({audience:'Airman'}, airmanSort) track by $index">
                                    <small class="hl">{{eService[airmanSort]}}</small>
                                    <br/>
                                    <small style="font-weight: normal">Form {{eService.id}} {{eService.title}}</small>
                                </a>
                                <hr/>
                                <div class="gaca-btn">More...</div>
                            </div>
                        </div>
                    </div>

                    <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="fa fa-globe"></i>
                            </div>
                            <div class="box-status" ng-click="changeActive()">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                            </div>
                            <div class="box-title">Airlines E-Services</div>
                            <div class="box-content">
                                <p class="in block">
                                    <select ng-model="airlinesSort" ng-init="airlinesSort = 'title'">
                                        <option value="popularity">Order By Most Popular</option>
                                        <option value="title">Order By Title</option>
                                        <option value="id">Order By Form ID</option>
                                        <option value="sector">Order By Sector</option>
                                        <option value="date">Order By Most Recent</option>
                                    </select>

                                    <span class="in-btn select-btn"><i class="fa fa-caret-down"></i></span>
                                </p>

                                <hr/>
                                <a class="box-highlight grey hl" href="#" ng-repeat="eService in getEServices({audience:'Airlines'}, airlinesSort) track by $index">
                                    <small class="hl">{{eService[airlinesSort]}}</small>
                                    <br/>
                                    <small style="font-weight: normal">Form {{eService.id}} {{eService.title}}</small>
                                </a>
                                <hr/>
                                <div class="gaca-btn">More...</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="fa fa-globe"></i>
                            </div>
                            <div class="box-status" ng-click="changeActive()">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                            </div>
                            <div class="box-title">Airports E-Services</div>
                            <div class="box-content">
                                <p class="in block">
                                    <select ng-model="airportsSort" ng-init="airportsSort = 'title'">
                                        <option value="popularity">Order By Most Popular</option>
                                        <option value="title">Order By Title</option>
                                        <option value="id">Order By Form ID</option>
                                        <option value="sector">Order By Sector</option>
                                        <option value="date">Order By Most Recent</option>
                                    </select>

                                    <span class="in-btn select-btn"><i class="fa fa-caret-down"></i></span>
                                </p>

                                <hr/>
                                <a class="box-highlight grey hl" href="#" ng-repeat="eService in getEServices({audience:'Airports'}, airportsSort) track by $index">
                                    <small class="hl">{{eService[airportsSort]}}</small>
                                    <br/>
                                    <small style="font-weight: normal">Form {{eService.id}} {{eService.title}}</small>
                                </a>
                                <hr/>
                                <div class="gaca-btn">More...</div>
                            </div>
                        </div>
                    </div>

                    <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="fa fa-globe"></i>
                            </div>
                            <div class="box-status" ng-click="changeActive()">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                            </div>
                            <div class="box-title">Training Centres E-Services</div>
                            <div class="box-content">
                                <p class="in block">
                                    <select ng-model="trainingCentresSort" ng-init="trainingCentresSort = 'title'">
                                        <option value="popularity">Order By Most Popular</option>
                                        <option value="title">Order By Title</option>
                                        <option value="id">Order By Form ID</option>
                                        <option value="sector">Order By Sector</option>
                                        <option value="date">Order By Most Recent</option>
                                    </select>

                                    <span class="in-btn select-btn"><i class="fa fa-caret-down"></i></span>
                                </p>

                                <hr/>
                                <a class="box-highlight grey hl" href="#" ng-repeat="eService in getEServices({audience:'Training Centres'}, trainingCentresSort) track by $index">
                                    <small class="hl">{{eService[trainingCentresSort]}}</small>
                                    <br/>
                                    <small style="font-weight: normal">Form {{eService.id}} {{eService.title}}</small>
                                </a>
                                <hr/>
                                <div class="gaca-btn">More...</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--footer.ejs-->

<div data-template="footer">
    <footer id="footer" data-main>
        <div class="footer-top">
            <div class="container">
                <img src="public/img/appstore.png" alt=""/>
                <img src="public/img/play.png" alt=""/>
                <img src="public/img/amazon.png" alt=""/>
            </div>
        </div>
        <div class="footer-bottom">

            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="social-icons">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-youtube"></i>
                            <i class="fa fa-google-plus"></i>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div>لان نهاية ألمانيا بـ. ٣٠ ابتدعها</div>
                        <div>جعل ثم شموليةً البشريةً</div>
                        <div>الإنزال الثانية الساحليةً</div>
                    </div>
                    <div class="col-sm-4">
                        <div> بين مع. كما هو</div>
                        <div>الساحة الإطلاق</div>
                        <div>هو حتى</div>
                    </div>
                    <div class="col-sm-4">
                        <div>يعبأ وبحلول</div>
                        <div>ما بعد هامش</div>
                        <div>الخاصّة</div>
                    </div>
                </div>
            </div>
        </div>

    </footer>
</div>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap"></script>
<script src="public/lib.js"></script>
<script src="public/app.js"></script>
</body>
</html>