<div class="small-login-back"></div>

<div class="small-login" ng-controller="SmallLoginCtrl">

    <div class="container">
        <div class="small-login-box">
            <div class="point"></div>
            <div class="box box-white">
                <div class="in block">
                    <div class="row">
                        <div class="col-sm-12">
                            <i class="fa fa-times temp-right close-login-box"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <p><label for="">Username</label></p>
                        </div>
                        <div class="col-xs-8">
                            <input type="text" placeholder="Username">
                        </div>
                    </div>
                </div>

                <div class="in block">
                    <div class="row">
                        <div class="col-xs-4">
                            <p><label for="">Password</label></p>
                        </div>
                        <div class="col-xs-8">
                            <input type="password" placeholder="Password">
                        </div>
                    </div>
                </div>

                <div class="clearfix">
                    <div class="gaca-btn temp-right">Login &nbsp; <i class="fa fa-lock"></i></div>
                </div>

            </div>
        </div>
    </div>


</div>