.small-login-back {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  z-index: 199;

  &.active {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

.small-login {
  position: fixed;
  z-index: 200;
  width: 100%;
  height: 0;
  top: 90px;

  .container {
    height: 0;
  }

  .small-login-box {
    width: 300px;
    float: right;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    transform: translateY(-15px);

    &.active {
      visibility: visible;
      transform: translateY(0);
      opacity: 1;
    }

    .point {
      width: 20px;
      height: 20px;
      border-right: 20px solid transparent;
      border-top: 20px solid $grey;
      transform: rotate(45deg);
      position: absolute;
      z-index: 200;
      margin: -9px 0 0 30px;
    }

    .box {
//      box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
//      border: 1px solid #eee;
      background: white;
    }
  }

  .arabic & {
    direction: rtl;

    .small-login-box {
      float: left;
      margin-left: 230px;
    }

    .point {
      margin-right: 250px;
    }
  }
}