<div class="container">
    <div data-template="register">
        <div class="register standard-page">
            <div class="row">

                <div class="col-md-2 col-sm-1"></div>
                <div class="col-md-8 col-sm-9">
                    <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                        <h1>Registration</h1>
                        <hr/>

                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                        <p>
                            <strong>The customer is requires to obtain the below approval to be able to receive the service: Approval from Airline Group Security.</strong>
                        </p>
                        <br/>

                        <h2>Enter Your Details</h2>

                        <div class="psuedo-table clearfix">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-3">Username (email)</div>
                                    <div class="col-sm-8">
                                        <div class="in block">
                                            <input type="text" placeholder="example@gaca.co.sa">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">Password</div>
                                    <div class="col-sm-8">
                                        <div class="in block">
                                            <input type="password" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">Name</div>
                                    <div class="col-sm-8">
                                        <div class="in block">
                                            <input type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">Family Name</div>
                                    <div class="col-sm-8">
                                        <div class="in block">
                                            <input type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">Country</div>
                                    <div class="col-sm-8">
                                        <div class="in block">
                                            <select class="gaca-select">
                                                <option>select</option>
                                                <option>Saudi Arabia</option>
                                                <option>United Kingdom</option>
                                            </select>

                                            <div class="in-btn select-btn">
                                                <i class="fa fa-caret-down"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">Audience Type</div>
                                    <div class="col-sm-8">
                                        <div class="in block">
                                            <select class="gaca-select">
                                                <option>select</option>
                                                <option>Pilot</option>
                                                <option>Airman</option>
                                            </select>

                                            <div class="in-btn select-btn">
                                                <i class="fa fa-caret-down"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">Company Name</div>
                                    <div class="col-sm-8">
                                        <div class="in block">
                                            <input type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">Address</div>
                                    <div class="col-sm-8">
                                        <div class="in block">
                                            <textarea type="file" style="width: 100%;max-width: 100%;"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">Phone Number</div>
                                    <div class="col-sm-8">
                                        <div class="in block">
                                            <input type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">Gender</div>
                                    <div class="col-sm-8">
                                        <div class="in block">
                                            <select class="gaca-select">
                                                <option>select</option>
                                                <option>Male</option>
                                                <option>Female</option>
                                            </select>

                                            <div class="in-btn select-btn">
                                                <i class="fa fa-caret-down"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="gaca-btn hide-register-popup">
                            Submit &nbsp; <i class="fa fa-check"></i>
                        </div>

                        <div class="gaca-btn hide-register-popup pull-right">
                            Close &nbsp; <i class="fa fa-times"></i>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>