[data-template="register"] {
  .register {
    background: rgb(197, 206, 211);
    padding: 45px 10px 1px;
    min-height: 80vh;
    color: #ffffff;

    @media (max-width: 991px) {
      padding-top:15px;
    }
  }
}