<div data-template="dashboard">
    <div class="container">
    <div class="dashboard">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                        <h1>My Dashboard</h1>
                        <hr/>
                        <p>Welcome to your personalized Dashboard where you can see all your applications.</p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="box-status" ng-click="changeActive()">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                            </div>
                            <div class="box-title">My Details</div>
                            <div class="box-content">
                                <div class="clearfix">
                                    <p class="pull-left" style="margin-right: 30px;">
                                        <img src="https://randomuser.me/api/portraits/med/men/99.jpg" style="border-radius:1000px;height:100px;"/>
                                    </p>

                                    <h1 style="padding-top:30px;">John Smith</h1>
                                </div>


                                <div class="psuedo-table clearfix">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-5 hl">Username (email)</div>
                                            <div class="col-sm-7">
                                                <div class="in block">
                                                    jsmith
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-5 hl">Country</div>
                                            <div class="col-sm-7">
                                                United Kingdom
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-5 hl">Audience Type</div>
                                            <div class="col-sm-7">
                                                Pilot
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-5 hl">Company Name</div>
                                            <div class="col-sm-7">
                                                Chartered Flights
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-5 hl">Address</div>
                                            <div class="col-sm-7">
                                                <div class="in block">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-5 hl">Phone Number</div>
                                            <div class="col-sm-7">
                                                +44 207 356 4733
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-5 hl">Gender</div>
                                            <div class="col-sm-7">
                                                Male
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-8">
                    <div class="box box-white clearfix" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="fa fa-copy"></i>
                            </div>
                            <div class="box-status" ng-click="changeActive()">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-minus"></i>
                            </div>
                            <div class="box-title">My Applications</div>

                            <div class="box-content">
                                <div class="psuedo-table clearfix">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-xs-12"  ng-controller="BoxCtrl">
                                                <a class="gaca-btn" href="#">Go To E-Service &nbsp;<i class="fa fa-angle-right"></i></a>
                                                <div class="gaca-btn" ng-click="showPopup()">View Documents &nbsp;<i class="fa fa-angle-right"></i></div>
                                                <div class="popup-title"><strong>Form 6020 Major Alteration Status Inspection Program</strong></div>
                                                12/02/15 &nbsp; <strong class="hl">Approved</strong>
                                                <div class="popup-content" style="display: none">
                                                    <h2>Application Request</h2>
                                                    <div class="psuedo-table clearfix">
                                                        <div class="col-sm-12">
                                                            <div class="row">
                                                                <div class="col-sm-3">Last update</div>
                                                                <div class="col-sm-8">
                                                                    2015/08/13 15:22
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-3">Documents</div>
                                                                <div class="col-sm-8">
                                                                    <p>
                                                                        <a href="#"><i class="fa fa-file-pdf-o"></i> &nbsp; Document #1</a><br>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <h2>GACA Response</h2>
                                                    <div class="psuedo-table clearfix">
                                                        <div class="col-sm-12">
                                                            <div class="row">
                                                                <div class="col-sm-3">Status</div>
                                                                <div class="col-sm-8">
                                                                    Approved
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-3">Response letter</div>
                                                                <div class="col-sm-8">
                                                                    ...
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-3">Documents</div>
                                                                <div class="col-sm-8">
                                                                    <p>
                                                                        <a href="#"><i class="fa fa-file-o"></i> &nbsp; Document #1</a><br>
                                                                        <a href="#"><i class="fa fa-file-word-o"></i> &nbsp; Document #2</a><br>
                                                                        <a href="#"><i class="fa fa-file-pdf-o"></i> &nbsp; Document #3</a><br>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12"  ng-controller="BoxCtrl">
                                                <a class="gaca-btn" href="#">Go To E-Service &nbsp;<i class="fa fa-angle-right"></i></a>
                                                <div class="gaca-btn" ng-click="showPopup()">View Documents &nbsp;<i class="fa fa-angle-right"></i></div>
                                                <div class="popup-title"><strong>Form 1055 from Operation of Charter Flights</strong></div>
                                                12/02/15 &nbsp; <strong class="hl">Approved</strong>
                                                <div class="popup-content" style="display: none">
                                                    <h2>Application Request</h2>
                                                    <div class="psuedo-table clearfix">
                                                        <div class="col-sm-12">
                                                            <div class="row">
                                                                <div class="col-sm-3">Last update</div>
                                                                <div class="col-sm-8">
                                                                    2015/08/13 15:22
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-3">Documents</div>
                                                                <div class="col-sm-8">
                                                                    <p>
                                                                        <a href="#"><i class="fa fa-file-word-o"></i> &nbsp; Document #1</a><br>
                                                                        <a href="#"><i class="fa fa-file-word-o"></i> &nbsp; Document #2</a><br>
                                                                        <a href="#"><i class="fa fa-file-excel-o"></i> &nbsp; Document #3</a><br>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <h2>GACA Response</h2>
                                                    <div class="psuedo-table clearfix">
                                                        <div class="col-sm-12">
                                                            <div class="row">
                                                                <div class="col-sm-3">Status</div>
                                                                <div class="col-sm-8">
                                                                    Approved
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-3">Response letter</div>
                                                                <div class="col-sm-8">
                                                                    ...
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-3">Documents</div>
                                                                <div class="col-sm-8">
                                                                    <p>
                                                                        <a href="#"><i class="fa fa-file-o"></i> &nbsp; Document #1</a><br>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>