[data-template="footer"] {
  #footer {
    color: #f7f7f7;
    text-align: center;
    .footer-top {
      background: $prim-light;
      padding: 15px 15px 10px;
      img {
        margin: 0 10px 5px;
        height: 40px;
      }
    }

    .footer-bottom {
      line-height: 30px;
      background: $prim-dark;
      padding: 30px;
      text-align: left;

      .arabic & {
        text-align: right;
        direction: rtl;
      }
    }

    .social-icons {
      text-align: center;
      font-size: 25px;
      margin: 15px 0;
      color: white;

      i.fa {
        margin: 0 10px;
        transition: .2s;
        cursor: pointer;
        color: white;

        &:hover {
          transform: scale(1.2);
        }
      }
    }

  }

}
