<!--footer.ejs-->

<div data-template="footer">
    <footer id="footer" data-main>
        <div class="footer-top">
            <div class="container">
                <img src="public/img/appstore.png" alt=""/>
                <img src="public/img/play.png" alt=""/>
                <img src="public/img/amazon.png" alt=""/>
            </div>
        </div>
        <div class="footer-bottom">

            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div>لان نهاية ألمانيا بـ. ٣٠ ابتدعها</div>
                        <div>جعل ثم شموليةً البشريةً</div>
                        <div>الإنزال الثانية الساحليةً</div>
                    </div>
                    <div class="col-sm-4">
                        <div> بين مع. كما هو</div>
                        <div>الساحة الإطلاق</div>
                        <div>هو حتى</div>
                    </div>
                    <div class="col-sm-4">
                        <div>يعبأ وبحلول</div>
                        <div>ما بعد هامش</div>
                        <div>الخاصّة</div>
                    </div>
                </div>
            </div>
        </div>

    </footer>
</div>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap"></script>
<script src="public/lib.js"></script>
<script src="public/app.js"></script>
</body>
</html>