[data-template="login"] {
  .login {
    background: rgb(197, 206, 211);
    padding: 65px 30px 1px;
    min-height: 70vh;

    .box-highlight.hl {
      border-left: 3px solid $prim-light;
      padding: 10px 15px;
      margin-bottom: 5px;
      //      color: $prim-dark;
      transition: .2s;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      //      color: white;
      text-transform: none;

      &:hover {
        border-left-width: 6px;
        color: $prim-light;
        padding-left: 12px;

        .gallery-image {
          filter: grayscale(0%);
        }
      }

      &.hl-yellow {
        border-color: gold;
      }

      &.hl-red {
        border-color: #ce1029;
      }

      &.hl-none {
        padding-left: 15px;
        border-left: none;
        border-color: transparent;
        margin-bottom: 30px;
      }
    }

  }
}