.box {
  padding: 10px;
  background: $prim-dark;
  color: white;
  border-radius: 4px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  font-size: 13px;
  font-size: 14px;
  font-size: 14.5px;
  line-height: 1.4;

  .arabic & {
    text-align: right;
  }

  a {
    color: inherit;
    font-weight: bold;
  }

  p {
    font-size: 13px;
    font-size: 14px;
    font-size: 14.5px;
    line-height: 1.4;
  }

  .box-side {
    position: absolute;
    top: 0;
    left: 0;
    right: 50%;
    bottom: 0;
    background: white;
    background-position: center;
    background-size: cover;
  }

  .box-header {
    color: white;
    .box-icon {
      height: 25px;
      line-height: 25px;
      width: 25px;
      float: left;
      font-size: 25px;
      margin-right: 10px;
      font-weight: 800;
      text-align: center;

      img, svg {
        height: 25px;
        width: auto;
      }

    }

    .box-status {
      background: rgb(230, 238, 238);
      background: $light-grey;
      border-radius: 4px;
      height: 25px;
      line-height: 25px;
      width: 25px;
      text-align: left;
      float: right;
      color: $grey;;
      font-size: 18px;
      margin-left: 10px;
      cursor: pointer;
      z-index: 5;
      position: relative;
      direction: ltr;

      .fa-plus, .fa-minus {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        text-align: center;
        width: 25px;
        height: 25px;
        line-height: 16px !important;
        padding: 6px;
        transition: .3s;
      }

      .fa-minus {
        visibility: visible;
        opacity: 1;
      }
    }

    .box-title {
      font-size: 16px;
      text-align: left;

      .arabic & {
        text-align: right;
      }
    }

    .box-tabs {
      border-bottom: 1px solid #eee;
      margin: 0 -10px;
      //      padding-bottom: 10px;
      position: relative;
      //      top: 5px;
    }

    .box-tab {
      font-size: 13px;
      text-align: left;
      float: left;
      padding: 0 5px;
      border-radius: 4px 4px 0 0;
      background: #f7f7f7;
      background: #fff;
//      background: $prim-light;
      margin-right: 5px;
      border: 1px solid #eee;
      border: 1px solid #eee;
      margin-bottom: -1px;
      line-height: 32px;
      line-height: 22px;
      cursor: pointer;
      transition: .3s background, .3s color;
      color: #bbb;
//      color: #fff;
//      border-top: 3px solid #eee;

      .arabic & {
        text-align: right;
        float: right;
      }

      &.active {
        border-bottom: none;
        background: #fff;
        color: $prim-light;
        padding-bottom: 1px;
        //border-top: 3px solid $prim-light;
        font-weight: 600;

      }
    }

    .box-content {
      margin: 10px 0 0;
      display: block;

      .arabic & {
        text-align: right;
      }

      .content-tab {
        display: none;

        &.active {
          display: block;
        }
      }
    }

    .box-highlight {
      padding: 10px 10px;
      border-radius: 4px;
      color: white;
      background: $prim-light;
      margin-bottom: 10px;
      display: block;
      text-decoration: none;

      &.grey {
        background: $light-grey;
        color: #555;
      }

      &.blue {
        background: #F5FAFE;
        color: #555;
      }

      &.yellow {
        background: #FEF3B3;
        color: #555;
      }
    }

    .box-image {
      margin: 0 -10px -10px;
      height: 175px;
      background-size: cover;
      background-position: center;
    }
  }

  &.inactive {
    .box-header {
      .box-status {
        .fa-plus {
          visibility: visible;
          opacity: 1;
        }
        .fa-minus {
          visibility: hidden;
          opacity: 0;
        }
      }
    }

    .box-content {
      display: none;
    }
  }

  background: white;
  background: rgba(255, 255, 255, 0.6);
  color: #555;
  //border-top: $prim-light 3px solid;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);

  .box-header {
    color: $grey;

    .box-icon {
      color: $grey;
    }
  }

  .box-content {
    color: #555;
  }

  &.box-grey {
    //border-top: #555 3px solid;
  }

  &.box-yellow {
    //    background: white;
    color: #555;
    //border-top: $secon-light 3px solid;

    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  }

  &.box-blue {
    background: $prim-light;
    color: #fff;
    //border-top: rgb(206, 16, 41) 3px solid;
  }

  &.box-red {
    color: #555;
    //border-top: rgb(206, 16, 41) 3px solid;
  }

  &.box-white {
    //    background: white;
    //border-top: $prim-light 3px solid;
    color: #555;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  }

  &.box-old, &.box-blue {
    background: $prim-dark;
    color: #ffffff;

    background: $prim-light;
    color: #fff;
    //border-top: $prim-light 3px solid;

    .box-header, .box-title {
      color: #fff;

      .box-icon {
        color: #fff;
      }
    }

    .box-content {
      color: #fff;
    }
  }
}

.box-table {
  border: none;
  select, input, textarea {
    border: 1px solid #eee;
    color: #555;
    font-weight: 600;
  }

  .in-btn {
    height: 27px;
    line-height: 25px;
  }

  input[type=file] {
    border: none;
  }

  tr:nth-child(2n -1) {
    background: white !important;

  }
  tr:nth-child(2n) {
    background: $light-grey;

    .in {
      background: white;

      select, input, textarea {
        background: white;
      }
    }
  }

  tr {
    border-top: 1px solid #eee !important;
    border-bottom: none;
  }

  tr:last-of-type {
    border-bottom: 1px solid #eee !important;
  }

  td, th {
    border: none !important;
  }

  th {
    color: $prim-dark;
  }
}