.box-questions {

  .box-question {
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 5px;
    transition: .2s;
    background: white;
    color: $prim-dark;

    .gaca-btn {
      color: white;
      background: $prim-light;
      border-color: #ffffff;
      font-weight: normal;
      text-decoration: none;

      &:hover {
        font-weight: normal;
        color: $prim-light;
        background: white;
        border-color: $prim-light;
      }
    }

    .question-title {
      min-height: 20px;
      line-height: 20px;
      font-weight: bold;
      cursor: pointer;
    }

    .question-content {
      margin-top: 15px;
    }

    .question-status {
      float: right;
      width: 20px;
      height: 20px;
      line-height: 20px;
      margin-left: 10px;
      font-size: 18px;
      cursor: pointer;
//      transition: .2s;

      .arabic & {
        float: left;
      }

      &:hover {
//        transform: scale(1.1);
      }

      .fa {
        position: absolute;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
//        transition: .2s;

        .arabic & {
          margin-left: -30px;
        }
      }

      .fa-angle-down {
        opacity: 1;
      }

      .fa-angle-right {
        opacity: 0;
      }

    }

    &.inactive {
      background: $prim-light;
      color: white;

      .question-status {

        .fa-angle-down {
          opacity: 0;
        }

        .fa-angle-right {
          opacity: 1;
        }
      }

      .question-content {
        display: none;
      }

    }
  }

}