<div data-template="banner">
    <div class="banner" data-main>
        <div class="banner-holder">
            <div class="banner-image" style="background-image: url('http://www.arabianbusiness.com/incoming/article540647.ece/BINARY/Saudi-Aviation.jpg')">
                <div class="container">
                    <div class="banner-overlay">
                        <div class="overlay-title">ترى لدينا الخدمات الإلكترونية</div>
                        <div class="overlay-subtitle">
                            <p>الأجل يرتبط الانجليزية ٣٠ الا, مع جُل أواخر الشتاء الفرنسية. به، أمام بالرغم إذ. فقامت اتفاقية في حتى, قد</p>

                            <span class="gaca-btn">الخدمات الإلكترونية &nbsp; <i class="fa fa-angle-right"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-image" style="background-image: url('http://www.woodsbagot.com/wp-content/uploads/2013/11/Jeddah2.jpg')">
                <div class="container">
                    <div class="banner-overlay">
                        <div class="overlay-title">البحث في جميع القطاعات</div>
                        <div class="overlay-subtitle">
                            <p>الأجل يرتبط الانجليزية ٣٠ الا, مع جُل أواخر الشتاء الفرنسية. به، أمام بالرغم إذ. فقامت اتفاقية في حتى, قد</p>

                            <span class="gaca-btn">القطاعات البحث &nbsp; <i class="fa fa-angle-right"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-image" style="background-image: url('http://img.planespotters.net/photo/158000/original/TC-OAZ-Saudi-Arabian-Airlines-Airbus-A300-600_PlanespottersNet_158346.jpg')"></div>
            <div class="banner-image" style="background-image: url('http://www.arabianbusiness.com/incoming/article540647.ece/BINARY/Saudi-Aviation.jpg')"></div>
            <div class="banner-image" style="background-image: url('http://www.woodsbagot.com/wp-content/uploads/2013/11/Jeddah2.jpg')"></div>
            <div class="banner-image" style="background-image: url('http://img.planespotters.net/photo/158000/original/TC-OAZ-Saudi-Arabian-Airlines-Airbus-A300-600_PlanespottersNet_158346.jpg')"></div>
        </div>
    </div>
</div>