<script type="text/ng-template" id="flights-item.html">

    <div class="container">
        <div class="box">

            <div class="flights">
                <h1>Flight Information</h1>
                <hr>

                <select ng-options="airport.code as airport.name for airport in flights.getAirports()"
                        class="choose-airport"
                        ng-model="flights.getQuery().airport"
                        ng-change="flights.search()"
                        style="padding-right: 20px;"
                        ng-hide="flights.lang == 'ar_SA'"
                >
                </select>

                <select ng-options="airport.code as airport.arabicName for airport in flights.getAirports()"
                        class="choose-airport"
                        ng-model="flights.getQuery().airport"
                        ng-change="flights.search()"
                        style="padding-right: 20px;"
                        ng-show="flights.lang == 'ar_SA'"
                >
                </select>


                <h2 style="display: inline-block;position: relative;left:-20px;pointer-events: none;">&nbsp; <i class="fa fa-caret-down"></i></h2>


                <div class="flight-tabs">
                    <div class="tab-headers">
                        <div class="tab-header" ng-class="{'active':flights.showArrivals()}" ng-click="flights.changeShowing()"><i class="fa fa-plane" style="transform: rotate(90deg)"></i> &nbsp; {{flights.stringArrivals}}</div>
                        <div class="tab-header" ng-class="{'active':!flights.showArrivals()}" ng-click="flights.changeShowing()"><i class="fa fa-plane"></i> &nbsp; {{flights.stringDepartures}}</div>
                    </div>

                    <div class="flight-content">
                        <div class="flight-bar">

                            <div class="row">
                                <div class="col-sm-3">
                                    <p style="text-transform:uppercase;">{{flights.stringSearchText}}</p>

                                    <div class="in block">
                                        <input type="text" placeholder="{{flights.stringSearchText}}" ng-model="flights.getQuery().flight" style="text-transform:uppercase;">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <p style="text-transform:uppercase;">{{flights.sort}}</p>

                                    <div class="in block">
                                        <p style="display: inline-block;position: absolute;right:20px;line-height:40px;pointer-events: none;">&nbsp; <i class="fa fa-caret-down"></i></p>
                                        <select style="text-transform:uppercase;" ng-model="orderOption" ng-init="orderOption = 'EST_TIME'">
                                            <option value="EST_TIME">Time</option>
                                            <option value="FL_NUMBER">Flight Number</option>
                                            <option value="GATE_1" ng-if="!flights.showArrivals()">Gate</option>
                                            <option value="AIRLINE_DESCR">Airline</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="flight-cards">
                            <div>
                                <div ng-hide="flights.getFlights().length">
                                    <i class="fa fa-spin fa-cog fa-3x"></i>
                                </div>
                                <div ng-hide="filteredItems.length || !(flights.getFlights().length)">
                                    No Flight Results Available
                                </div>
                                <div class="flight-card"
                                     ng-repeat="flight in filteredItems = (flights.getFlights() | filter:flights.getQuery().flight | orderBy:orderOption)"
                                     ng-show="flights.showArrivals() && flight.ARR_DEP == 'A' || !flights.showArrivals() && flight.ARR_DEP == 'D'"
                                >
                                    <div class="card-header">
                                        <img ng-show="flight.LOGOSPATH" ng-src="{{flight.LOGOSPATH}}" alt="{{flight.AIRLINE_DESCR}}" class="header-logo">
                                        <span>{{flight.AIRLINE}}{{flight.FL_NUMBER}}</span>
                                    </div>
                                    <div class="card-airline">{{flight.AIRLINE_DESCR}}</div>
                                    <div class="card-tofrom" ng-show="flight.ARR_DEP == 'A'">From</div>
                                    <div class="card-tofrom" ng-hide="flight.ARR_DEP == 'A'">To</div>
                                    <div class="card-place">{{flight.ROUTING_ENG}}</div>

                                    <hr>
                                    <div class="card-terminal">TERMINAL {{flight.TERMINAL}}</div>
                                    <div class="card-terminal"><span ng-show="flight.BAGGAGE_1 != 'NA'">BAGGAGE {{flight.BAGGAGE_1}}</span></div>
                                    <hr>

                                    <div class="card-time" ng-show="flight.ARR_DEP == 'A'" ng-class="{'delayed':flight.FL_STATUS_1 == 'DELAYED'}">EXPECTED</div>
                                    <div class="card-time" ng-hide="flight.ARR_DEP == 'A'" ng-class="{'delayed':flight.FL_STATUS_1 == 'DELAYED'}">DEPARTING</div>
                                    <div class="card-time" ng-class="{'delayed':flight.FL_STATUS_1 == 'DELAYED'}"><strong>{{flights.getTime(flight.EST_TIME)}}</strong></div>


                                    <hr>

                                    <div class="card-status" ng-show="flight.FL_STATUS_1 != 'NA' || flight.GATE_1 != 'NA'">
                                        <div class="card-gate" ng-show="flight.GATE_1 != 'NA'">GATE {{flight.GATE_1}}</div>
                                        <div class="card-text" ng-show="flight.FL_STATUS_1 != 'NA'">{{flight.FL_STATUS_1}}</div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>


    </div>
</script>