<script type="text/ng-template" id="flights-item.html">

    <div class="container">
        <div class="box">

            <div class="flights">
                <h1>{{flights.stringFlightInfo}}</h1>
                <hr>

                <div style="height: 50px">

                <select ng-options="airport.code as airport.name for airport in flights.getAirports() | orderBy: ['priority', 'name']"
                        class="choose-airport"
                        ng-model="flights.getQuery().airport"
                        ng-change="flights.search()"
                        style="padding-right: 40px; float: left"
                        ng-hide="$root.getLang() == 'ar'"
                ></select>

                <select ng-options="airport.code as airport.arabicName for airport in flights.getAirports() | orderBy: ['priority', 'arabicName']"
                        class="choose-airport"
                        ng-model="flights.getQuery().airport"
                        ng-change="flights.search()"
                        style="padding-left: 40px;text-align: right;float:right;direction:rtl"
                        ng-show="$root.getLang() == 'ar'"
                ></select>

                <h2 ng-hide="$root.getLang() == 'ar'" style="line-height:40px;float: left;display: inline-block;position: relative;left:-40px;pointer-events: none;">&nbsp; <i class="fa fa-caret-down"></i></h2>
                <h2 ng-show="$root.getLang() == 'ar'" style="line-height:40px;float: right;display: inline-block;position: relative;right:-30px;pointer-events: none;">&nbsp; <i class="fa fa-caret-down"></i></h2>

                </div>

                <div class="flight-tabs">
                    <div class="tab-headers">
                        <div class="tab-header" ng-class="{'active':flights.showArrivals()}" ng-click="flights.changeShowing()"><i class="fa fa-plane" style="transform: rotate(90deg)"></i> &nbsp; {{flights.stringArrivals}}</div>
                        <div class="tab-header" ng-class="{'active':!flights.showArrivals()}" ng-click="flights.changeShowing()"><i class="fa fa-plane"></i> &nbsp; {{flights.stringDepartures}}</div>
                    </div>

                    <div class="flight-content">
                        <div class="flight-bar">

                            <div class="row">
                                <div class="col-sm-3">
                                    <p style="text-transform:uppercase;">{{flights.stringSearchText}}</p>

                                    <div class="in block">
                                        <input type="text" placeholder="{{flights.stringSearchText}}" ng-model="flights.getQuery().flight" style="text-transform:uppercase;">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <p style="text-transform:uppercase;">{{flights.stringSort}}</p>

                                    <div class="in block">
                                        <p class="sort-caret {{$root.getLang()}}">&nbsp; <i class="fa fa-caret-down"></i></p>
                                        <select style="text-transform:uppercase;" ng-model="orderOption" ng-init="orderOption = 'EST_TIME'">
                                            <option value="EST_TIME">{{flights.stringTime}}</option>
                                            <option value="FL_NUMBER">{{flights.stringFlightNumber}}</option>
                                            <option value="GATE_1" ng-if="!flights.showArrivals()">{{flights.stringGate}}</option>
                                            <option value="AIRLINE_DESCR">{{flights.stringAirline}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="flight-cards">
                            <div>
                                <div ng-show="flights.getFlights() == 'loading'">
                                    <i class="fa fa-spin fa-cog fa-3x"></i>
                                </div>
                                <!--filteredItems: {{filteredItems}} <br><br>-->
                                <!--filteredItems.length: {{filteredItems.length}} <br><br>-->
                                <!--flights.getFlights().length: {{flights.getFlights().length}} <br><br>-->
                                <!--flights.getFlights(): {{flights.getFlights()}} <br><br>-->
                                <div ng-show="filteredItems.length == 0 || filteredItems.length == undefined">
                                    <strong>{{flights.stringNoResults}}</strong>
                                </div>
                                <div class="flight-card"
                                     ng-repeat="flight in filteredItems = (flights.getFilteredFlights() | filter:flights.getQuery().flight | orderBy:orderOption)"
                                >
                                    <div class="card-header" style="text-transform: uppercase">
                                        <span>{{flight.AIRLINE}}{{flight.FL_NUMBER}}</span>
                                    </div>
                                    <div class="card-airline" style="text-transform: uppercase">{{flight.AIRLINE_DESCR}}</div>
                                    <div class="header-logo-holder"
                                         style="background-image: url('{{'/Airlines/' + flight.AIRLINE + '.png'}}')"
                                    ></div>

                                    <div class="card-tofrom" ng-show="flight.ARR_DEP == 'A'">{{flights.stringFrom}}</div>
                                    <div class="card-tofrom" ng-hide="flight.ARR_DEP == 'A'">{{flights.stringTo}}</div>
                                    <div class="card-place" ng-show="$root.getLang() == 'ar'" style="text-transform: uppercase">{{flight.ROUTING_KA}}</div>
                                    <div class="card-place" ng-hide="$root.getLang() == 'ar'" style="text-transform: uppercase">{{flight.ROUTING_ENG}}</div>

                                    <hr>
                                    <div class="card-terminal">{{flights.stringTerminal}} {{flight.TERMINAL}}</div>
                                    <div class="card-terminal"><span ng-show="flight.BAGGAGE_1 != 'NA'" style="text-transform: uppercase">{{flights.stringBaggage}} {{flight.BAGGAGE_1}}</span></div>
                                    <hr>

                                    <div class="card-time" ng-show="flight.ARR_DEP == 'A'" ng-class="{'delayed':flight.FL_STATUS_1 == 'DELAYED'}" style="text-transform: uppercase">{{flights.stringExpected}}</div>
                                    <div class="card-time" ng-hide="flight.ARR_DEP == 'A'" ng-class="{'delayed':flight.FL_STATUS_1 == 'DELAYED'}" style="text-transform: uppercase">{{flights.stringDeparting}}</div>
                                    <div class="card-time" ng-class="{'delayed':flight.FL_STATUS_1 == 'DELAYED' || flight.FL_STATUS_1 == 'DLY'}"><strong>{{flights.getTime(flight.EST_TIME)}}</strong></div>


                                    <!--<hr>-->

                                    <div class="card-status" ng-show="flight.FL_STATUS_1 != 'NA' || flight.GATE_1 != 'NA'" style="text-transform: uppercase">
                                        <div class="card-gate" ng-show="flight.GATE_1 != 'NA'">{{flights.stringGate}} {{flight.GATE_1}}</div>
                                        <div class="card-text" ng-show="flight.FL_STATUS_1 != 'NA'">
                                            <span ng-show="$root.getLang() != 'ar'">{{flight.FL_STATUS_1}}</span>
                                            <span ng-show="$root.getLang() == 'ar'">{{flight.PUB_RMK_KA}}</span>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>


    </div>
</script>