[data-template="banner"] {
  .banner {
    .banner-holder {
      height: 350px;
      position: relative;

      @media (max-width: 767px) {
        height: 250px;
      }

      .banner-image {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        background-position: center;
        background-size: cover;
        display: none;

        &:first-child {
          display: block;
        }

        .banner-overlay {
          float: right;
          margin-top: 65px;

          @media (max-width: 767px) {
            margin-top: 30px;

          }

          .overlay-title {
            background: white;
            color: $prim-light;
            padding: 0 15px;
            line-height: 35px;
            width: 100%;
            font-weight: 600;
            font-size: 16px;
            border-radius: 4px 4px 0 0;
          }

          .overlay-subtitle {
            background: white;
            padding: 0 15px 15px;
            width: 100%;
            border-radius: 0 0 4px 4px;

          }
        }
      }
    }
  }
}