[data-template="banner"] {
  .banner {
    .arabic & {
      text-align: right;
    }
    .banner-holder {
      height: 350px;
      position: relative;

      @media (max-width: 767px) {
        height: 250px;
      }

      .banner-image {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        background-position: center;
        background-size: cover;
        display: none;

        &:first-child {
          display: block;
        }

        .banner-overlay {
          float: right;
          margin-top: 65px;

          @media (max-width: 767px) {
            margin-top: 30px;
          }

          .overlay-title {
            background: rgba(255,255,255,0.9);
            color: $prim-light;
            padding: 5px 15px 0;
            line-height: 35px;
            width: 100%;
            font-weight: 600;
            font-size: 16px;
            border-radius: 4px 4px 0 0;
          }

          .overlay-subtitle {
            background: rgba(255,255,255,0.9);
            padding: 0px 15px 45px;
            width: 100%;
            border-radius: 0 0 4px 4px;
            position: relative;

            .gaca-btn {
              position: absolute;
              right: 15px;

              .arabic & {
                right: initial;
                right: auto;
                left: 15px;
              }
            }

          }
        }
      }
    }
  }
}