<div data-template="banner">
    <div class="banner" data-main>
        <div class="banner-holder">
            <div class="banner-image" style="background-image: url('http://www.arabianbusiness.com/incoming/article540647.ece/BINARY/Saudi-Aviation.jpg')"></div>
            <div class="banner-image" style="background-image: url('https://unsplash.it/1200/350/?random&000001')"></div>
            <div class="banner-image" style="background-image: url('https://unsplash.it/1200/350/?random&000002')"></div>
            <div class="banner-image" style="background-image: url('https://unsplash.it/1200/350/?random&000003')"></div>
            <div class="banner-image" style="background-image: url('https://unsplash.it/1200/350/?random&000004')"></div>
            <div class="banner-image" style="background-image: url('https://unsplash.it/1200/350/?random&000005')"></div>
        </div>
    </div>
</div>