<div data-template="slider" ng-controller="SliderCtrl">
    <div class="slider" data-main>
        <div class="container">
            <div class="slider-box">

                <div class="box-status" ng-click="changeActive()">
                    <i ng-show="!isActive()" class="fa fa-plus"></i>
                    <i ng-show="isActive()" class="fa fa-minus"></i>
                </div>

                <div class="slider-header">
                    <div class="header-left hidden-xs">15:23 &nbsp; Sunday, 12 July 2015</div>
                    <h2 class="header-right">Latest News</h2>

                    <div class="slider-dots">
                        <div class="slider-dot" ng-click="setPosition($index)" ng-class="{active:dotIndex == $index}" ng-repeat="i in getDots() track by $index"></div>
                    </div>
                </div>

                <div ng-show="isActive()">
                    <div class="slider-items">
                        <div class="slider-holder" style="will-change:transform;">
                            <div class="slider-item" ng-style="">
                                <div class="item-image" style="background-image: url('http://www.msc-sa.com/electro/media/k2/galleries/3/p18skbaeh81fvrht811tf3410ds5.jpg')"></div>
                                <div class="item-text">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>

                                    <a href="#"><strong>Read More...</strong></a>
                                </div>
                            </div>
                            <div class="slider-item">
                                <div class="item-image" style="background-image: url('http://www.tradeandexportme.com/wp-content/uploads/2013/08/travel.jpg')"></div>
                                <div class="item-text">
                                    <p>Aenean commodo ligula eget dolor. Aenean massa.</p>

                                    <a href="#"><strong>Read More...</strong></a>
                                </div>
                            </div>
                            <div class="slider-item">
                                <div class="item-image" style="background-image: url('http://www.msc-sa.com/electro/media/k2/galleries/3/p18skbaeh81qmheg12601m3q1nfi6.jpg')"></div>
                                <div class="item-text">
                                    <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>

                                    <a href="#"><strong>Read More...</strong></a>
                                </div>
                            </div>
                            <div class="slider-item">
                                <div class="item-image" style="background-image: url('http://vid.alarabiya.net/images/2013/07/19/5c61c865-9ccb-43c2-8ced-9ce3b5eeacd3/5c61c865-9ccb-43c2-8ced-9ce3b5eeacd3_16x9_600x338.jpg')"></div>
                                <div class="item-text">
                                    <p>Nulla consequat massa quis enim.</p>

                                    <a href="#"><strong>Read More...</strong></a>
                                </div>
                            </div>
                            <div class="slider-item">
                                <div class="item-image" style="background-image: url('http://www.designboom.com/contemporary/contemporaryairportdesign/63.jpg')"></div>
                                <div class="item-text">
                                    <p>Aenean commodo ligula eget dolor. Aenean massa.</p>

                                    <a href="#"><strong>Read More...</strong></a>
                                </div>
                            </div>
                            <div class="slider-item">
                                <div class="item-image" style="background-image: url('http://images.alarabiya.net/a3/3d/640x392_30597_190248.jpg')"></div>
                                <div class="item-text">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>

                                    <a href="#"><strong>Read More...</strong></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 style="text-align: center; margin:0;">General Authority of Civil Aviation</h2>
            </div>

            <div class="slider-bottom"></div>

            <div class="slider-blue-box">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="col-sm-12">
                            <div class="blue-select" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}" ng-init="data.active=false">
                                <div class="clearfix" ng-click="changeActive()">
                                    <div class="blue-icon">
                                        <i class="fa fa-exclamation"></i>
                                    </div>
                                    <div class="select-text">
                                        Information
                                        <i class="fa fa-angle-down select-arrow"></i>
                                    </div>
                                </div>

                                <div class="select-content">
                                    <p>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</p>

                                    <p>Li nov lingua franca va esser plu simplic e regulari quam li existent Europan lingues. It va esser tam simplic quam Occidental in fact, it va esser Occidental.</p>

                                    <a class="gaca-btn" style="border-color:white;" href="#">Read More...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-12">
                            <div class="blue-select" ng-controller="BoxCtrl" ng-class="{inactive:!data.active}" ng-init="data.active=false">
                                <div class="clearfix" ng-click="changeActive()">
                                    <div class="blue-icon">
                                        <i class="fa fa-bullhorn"></i>
                                    </div>
                                    <div class="select-text">
                                        Announcements
                                        <i class="fa fa-angle-down select-arrow"></i>
                                    </div>
                                </div>

                                <div class="select-content">
                                    <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular.</p>

                                    <p>Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</p>

                                    <div class="gaca-btn" style="border-color:white;">Read More...</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>