body {
  overflow-x: hidden;
  font-family: 'Titillium Web', sans-serif;
  font-size: 13px;
  font-weight: 300;
  min-height: 100vh;
  //  user-select: none;
  padding-top: 75px;
  background: #eff2f3;
  color: #555;
  min-width: 100vw;
  position: relative;
  //  transform: translateX(0px);
  will-change: margin-left;
  line-height: 1.6;

  @media (max-width: 767px) {
    padding-top: 40px;
    font-size: 12px;
  }
}

.no-scroll {
  overflow: hidden;
}

.fa {
  line-height: inherit !important;
}

[data-template] {
  display: inline;
}

[ng-show] {
  //  visibility: hidden;
}

input, textarea, * {
  outline: none;
}

h1, h2, h3 {
  font-weight: 100;
  margin: 0 0 10px;
  line-height: inherit;
}

h1, .h1 {
  font-size: 24px;
  color: $prim-dark;
}

h2, .h2 {
  color: $prim-dark;
  font-size: 16px;
  font-weight: 600;
}

p {
  line-height: 1.7;
}

ul {
  padding-left: 20px;
}

.in {
  //  background: $light-grey;
  //  height: 25px;
  line-height: 25px;
  display: inline-block;
  position: relative;
  border-radius: 4px;
  width: 150px;

  &.block {
    display: block;
    width: auto;
  }

  input, select, textarea {
    //    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    width: 100%;
    background: $light-grey;
    border: none;
    color: $prim-dark;
    border-radius: 4px;
    font-size: 12px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;

    @media (max-width: 767px) {
      font-size: 12px;
    }
  }

  textarea {
    height: 85px;
    margin-bottom: 0;
  }

  select {
    cursor: pointer;
  }

  &.sm {
    width: 100px;
  }

  .in-btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 25px;
    line-height: 23px;
    width: 25px;
    text-align: center;
    color: white;
    background: $prim-light;
    z-index: 5;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    display: block;

    &.select-btn {
      pointer-events: none;
    }

    transition: .2s;
    border: 1px solid $prim-light;

  }

  &:hover {
    .in-btn {
      //      background: white;
      background: $prim-dark;
    }
  }
}

.gaca-btn {
  height: 25px;
  line-height: 23px;
  padding: 0 15px;
  text-align: center;
  color: white;
  background: $prim-light;
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
  transition: .2s;
  border: 1px solid $prim-light;

  &:hover {
    background: white;
    color: $prim-light;
  }
}

.thin {
  font-size: 20px;
  font-weight: 100;
}

.hl {
  font-weight: bold;
  color: $prim-light;
}

.psuedo-table {
  border: none;
  margin-bottom: 15px;

  select, input, textarea {
    border: 1px solid #eee;
    color: #555;
    font-weight: 600;
  }

  .in-btn {
    height: 27px;
    line-height: 25px;
  }

  input[type=file] {
    border: none;
  }

  .row {
    padding: 5px 15px;
  }

  [class*="col-"] {
    //    padding: 5px 15px;
  }

  .col-sm-3 {
    font-weight: 600;
    color: $prim-dark;
  }

  .row {
    //    height: 27px;
    line-height: 27px;
  }

  .row:nth-child(2n -1) {
    background: white;

  }
  .row:nth-child(2n) {
    background: $light-grey;

    .in {
      //      background: white;

      select, input, textarea {
        background: white;
      }
    }
  }

  .row {
    //    border-top: 1px solid #eee !important;
    border-bottom: none;
  }

  .row:first-of-type {
    border-top: 1px solid #eee !important;
  }

  .row:last-of-type {
    border-bottom: 1px solid #eee !important;
  }
}

.result {
  background: #f7f7f7;
  height: 90px;
  border-radius: 4px;
  margin-bottom: 5px;
  padding: 15px;
  border-left: 3px solid $prim-light;
  line-height: 1;
  font-size: 12px;
  display: none;
  cursor: pointer;
  //        transition: 0.3s;

  @media (max-width: 767px) {
    font-size: 12px;
  }

  .result-icon {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    line-height: 1;
    font-size: 27px;
  }

  .result-header {
    border-top-right-radius: 4px;
    height: 25px;
    line-height: 25px;
    margin: -15px -15px 10px;
    padding: 0 15px;
    font-weight: 400;
    text-transform: uppercase;
    background: #eee;
    color: #bbb;
    transition: .3s;

    .header-e-service {
      float: right;
      color: #6cc70c;
      font-weight: bold;

      .e-service-dot {
        margin: 7px 0 7px 7px;
        //        margin-right: -30px;
        height: 11px;
        width: 11px;
        border-radius: 30px;
        background: #6cc70c;
        float: right;
        cursor: pointer;
        transition: .2s;
      }

      &.unavailable {
        color: red;
        .e-service-dot {
          background: red;
        }
      }
    }
  }

  .result-field {
    clear: both;
    line-height: 1.4;
    color: #999;
    display: none;

    strong {
      display: inline-block;
      width: 80px;
    }
  }

  .result-title {
    margin-bottom: 10px;
    font-weight: bold;
    color: $prim-light;
    font-size: 12px;
  }

  .result-date {
    float: right;
    color: #bbb;
    font-weight: bold;
    margin-left: 10px;
  }

  .result-link {
    clear: right;
    float: right;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
    color: $prim-light;
    color: #6cc70c;
    color: #6cc70c;
    font-size: 26px;
  }

  &:hover {
    border-left: 3px solid $prim-dark;

    .result-header {
      background: $prim-dark;
      color: white;
    }
  }
}

.container {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

.gaca-popup {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: none;
  overflow: auto;
  z-index: 200;

  .popup-overlay {
    background: rgba(0, 0, 0, 0.2);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 200;
  }

  .popup-block {
    position: relative;
    margin-top: 20%;
    background: white;
    border-radius: 4px;

    padding: 30px;
    margin-bottom: 50px;
    z-index: 201;

    img {
      max-width: 100%;
      width: 100%;
    }
  }
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.row {
  margin-right: -10px;
  margin-left: -10px;
}

.search-box {
  transition: .3s;
}

.vd {
  height: 25px;
  line-height: inherit;
  width: 1px;
  background: #eee;
  margin: 0 15px;
  display: inline-block;
  vertical-align: middle;
}

img {
  max-width: 100%;
}

.gaca-form form {

  display: inline;
  margin: 0;
  padding: 0;
}

.standard-page {
  background: rgb(197, 206, 211);
  padding: 45px 10px 1px;
  min-height: 80vh;

  @media (max-width: 991px) {
    padding-top: 15px;
  }



  .box-highlight {
    border-left: 3px solid $prim-light;
    padding: 10px 15px;
    margin-bottom: 5px;
    color: $prim-dark;
    transition: .2s;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: white;

    &.grey {
      cursor: pointer;
    }

    &:hover {
      border-left-width: 6px;
      color: $prim-light;
      padding-left: 12px;
      .gallery-image {
        //          transform: scale(1.1);
        filter: grayscale(0%);
      }

    }

    &.hl-yellow {
      border-color: gold;
    }

    &.hl-red {
      border-color: #ce1029;
    }

    &.hl-none {
      padding-left: 15px;
      border-left: none;
      border-color: transparent;
      margin-bottom: 30px;
    }

    .gallery-image {
      margin: -15px -15px 0px;
      height: 130px;
      border-radius: 0;
      background-size: cover;
      background-position: center;
      background-color: $light-grey;
      display: block;
      transition: .2s;
      filter: grayscale(0%);
    }
  }
}

.gaca-alert {
  //      background: rgba(0, 0, 0, 0.4);
  background: #ce1029;
  font-weight:bold;
  font-size:14px;
  //      height: 35px;
  padding: 10px 0px;
  line-height: 1.2;
  color: white;
//  position:relative;
//  z-index:-2;
  margin-top: 35px;

  @media (max-width: 991px) {
    margin-top: 0;
  }

  span {
    font-weight: 300;
  }
}